<%- include('../includes/head.ejs') %>
<%- include('../includes/input-validation/edit-category.ejs') %>

</head>

<body>
    <div class="dashboard-main-wrapper">
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/menu.ejs') %>
      <form 
         id="edit-category"
         class="ms-content-wrapper" 
         action="/super-admin/<% if (editing) { %>edit-category<% } %>"
         method="POST"
         enctype="multipart/form-data">

         <% if (editing) { %>
            <input
               type="hidden"
               value="<%= categoryId %>"
               name="categoryId" />
        <% } %>
              
               <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="basicform">
                                        <h3 class="section-title">Kategória szerkesztése</h3>
                                    </div>
                                    <div class="card">                      
                                        <div class="card-body">
                                                <div class="form-group">
                                                   <label class="col-form-label">Kategória <strong>Id</strong></label>
                                                   <input name="id" type="text" class="form-control" disabled value="<% if (editing) { %><%= category[0].id %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-form-label">Partner <strong>Id</strong></label>
                                                    <input name="restaurantId" type="text" class="form-control" disabled value="<% if (editing) { %><%= category[0].restaurantId %><% } %>">
                                                 </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Kategória <strong>román</strong> neve</label>
                                                   <input name="categoryNameRoView" id="categoryNameRoView" type="text" class="form-control" value="<% if (editing) { %><%= categoryNameRoView %><% } %>">
                                                   <span class="check-input error_form intro" id="categoryNameRoView_error_message"></span>

                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Kategória <strong>magyar</strong> neve</label>
                                                   <input name="categoryNameHuView" id="categoryNameHuView" type="text" class="form-control" value="<% if (editing) { %><%= categoryNameHuView %><% } %>">
                                                   <span class="check-input error_form intro" id="categoryNameHuView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Kategória <strong>angol</strong> neve</label>
                                                   <input name="categoryNameEnView" id="categoryNameEnView" type="text" class="form-control" value="<% if (editing) { %><%= categoryNameEnView %><% } %>">
                                                   <span class="check-input error_form intro" id="categoryNameEnView_error_message"></span>
                                                </div> 
                                        </div>
                                    </div>
                                    <button type="submit" id="category-btn" class="btn btn-success has-icon" ><% if (editing) { %>Kategória frissítése<% } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </body>
</html>

<%- include('../includes/end.ejs') %>


