<thead>
  <tr>
    <th>ID</th>
    <th>Ar</th>
    <th>User</th>
    <th>Date</th>
  </tr>
</thead>
<% for (let i=0; i < extra.length; i++ ) { %>
<tbody>
  <tr>
    <td><%= extra[i].id %></td>
    <td><%= extra[i].price %></td>
    <td><%= extra[i].ExtraTranslations[0].name %></td>
    <td>
      <a
        class="btn btn-success btn-sm"
        href="/admin/edit-extra/<%= extra[i].id %>?edit=true"
      >
        <i class="fas fa-pencil-alt"> </i>
        <%= lingua.button_edit %>
      </a>
    </td>
  </tr>
</tbody>
<% } %>
