<thead>
  <tr>
    <th>ID</th>
    <th>ÁR</th>
    <th>CSOMAGOLÁS NÉV</th>
    <th>MÜVELET</th>
  </tr>
</thead>
<% for (let i = 0; i < box.length; i++) { %>
<tbody>
  <tr>
    <td><%= box[i].id %></td>
    <td><%= box[i].price %></td>
    <td><%= box[i].sku %></td>
    <td>
      <a
        class="btn btn-secondary btn-sm"
        href="/admin/edit-box/<%= box[i].id %>?edit=true"
      >
        <i class="fas fa-pencil-alt"> </i>
        <%= lingua.button_edit %>
      </a>
    </td>
  </tr>
</tbody>
<% } %>
