<thead>
  <tr>
    <th>ID</th>
    <th>Ar</th>
    <th>User</th>
    <th>Date</th>
  </tr>
</thead>
<% for (let i=0; i < extra.length; i++ ) { %>
<tbody>
  <tr>
    <td><%= extra[i].id %></td>
    <td><%= extra[i].price %></td>
    <td><%= extra[i].ExtraTranslations[0].name %></td>
    <td>
      <a href="/admin/edit-extra/<%= extra[i].id %>?edit=true">
        <button type="button" class="btn btn-block btn-outline-success btn-sm">
          <%= lingua.button_edit %>
        </button>
      </a>
    </td>
  </tr>
</tbody>
<% } %>
