<thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col"><%= lingua.product_list_name %></th>
    <th scope="col"><%= lingua.variant %></th>
    <th scope="col"><%= lingua.product_list_status %></th>
    <th scope="col" class="buttons-text-variants">
      <%= lingua.product_list_operation %>
    </th>
    <th scope="col"><%= lingua.product_list_operation %></th>
  </tr>
</thead>
<% for (let i =0; i < prods.length; i++) { %>
<tr>
  <th scope="row"><%= prods[i].id %></th>
  <td><%= prods[i].ProductTranslations[0].title %></td>
  <td><%= prods[i].ProductFinals[0].Variant.sku %></td>
  <td><span class="badge badge-success">AKTIV</span></td>
  <td>
    <form action="/admin/delete-product" method="POST">
      <input type="hidden" value="<%= prods[i].id %>" name="productId" />
      <button class="btn grid-btn mt-0 btn-sm btn-primary" type="submit">
        <%= lingua.sold_out %>
      </button>
    </form>
  </td>
  <td>
    <a
      href="/admin/edit-product/<%= prods[i].id %>?edit=true"
      class="btn grid-btn mt-0 btn-sm btn-secondary"
      ><%= lingua.button_edit %></a
    >
  </td>
</tr>
<% } %>
