<thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col"><%= lingua.extra_list_name %></th>
    <th scope="col"><%= lingua.extra_list_status %></th>
    <th scope="col"><%= lingua.extra_list_operation %></th>
  </tr>
</thead>
<% for (let i=0; i < extra.length; i++ ) { %>
<tbody>
  <tr>
    <th scope="row"><%= extra[i].id %></th>

    <td><%= extra[i].ExtraTranslations[0].name %></td>
    <td>
      <span class="badge badge-success"><%= lingua.status_active %></span>
    </td>
    <td>
      <a
        href="/admin/edit-extra/<%= extra[i].id %>?edit=true"
        class="btn grid-btn mt-0 btn-sm btn-secondary"
        ><%= lingua.button_edit %></a
      >
    </td>
  </tr>
</tbody>
<% } %>
