<thead>
  <tr>
    <tr>
      <th scope="col">Id</th>
      <th scope="col"><%= lingua.extra_list_name %></th>
      <th scope="col"><%= lingua.extra_list_status %></th>
      <th scope="col"><%= lingua.extra_list_operation %></th>
   </tr>
  </tr>
</thead>
<% if (property.length > 0) { %> <% for (let i=0; i < property.length; i++ ) {
%>
<tbody>
  <tr>
    <th scope="row"><%= property[i].id %></th>
    <td><%= property[i].PropertyTranslations[0].name %></td>
    <td><span class="badge badge-success"><%= lingua.status_active %></span></td>
    <td>
      <a
        href="/admin/edit-property/<%= property[i].id %>?edit=true"
        class="btn grid-btn mt-0 btn-sm btn-secondary"
        ><%= lingua.button_edit %></a
      >
    </td>
  </tr>
</tbody>
<% } %> <% } else { %>
<h1>No Products Found!</h1>
<% } %>
