
<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/category.ejs') %>
  </head>
  <body class="hold-transition sidebar-mini">
   <form id="createCategory_form"
   class="ms-content-wrapper" 
   action="/admin/<% if (editing) { %>edit-category<% } else { %>add-category<% } %>"
   method="POST"
   enctype="multipart/form-data">
    <div class="wrapper">
      <%- include('../includes/nav.ejs') %> <%- include('../includes/aside.ejs')
      %>
     
      <div class="content-wrapper">
       
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Kategória</h1>
              </div>
             
            </div>
          </div>
        
        </section>

       
        <section class="content">
          <div class="container-fluid">
            <div class="row">
             
              <div class="col-md-6">
                
                <div class="card card-secondary">
                  <div class="card-header">
                    <h3 class="card-title">Kategória adatok megadása</h3>
                  </div>
                 
                 
                    <div class="card-body">
                      <div class="form-group">
                        <label for="roName">Kategória román neve</label>
                        <input
                          type="text"
                          class="form-control roName"
                          id="roName"
                          placeholder="Kategória román neve"
                          name="roName"
                          value="<% if (editing) { %><%= category[0].CategoryTranslations[0].name %><% } %>">
                          <span class="invalid-feedback" id="roName_error_message"></span>
                      </div>
                      <div class="form-group">
                        <label for="huName">Kategória magyar neve</label>
                        <input
                          type="text"
                          class="form-control huName"
                          placeholder="Kategória magyar neve"
                          id="huName"
                          name="huName"
                          value="<% if (editing) { %><%= category[0].CategoryTranslations[1].name %><% } %>">
                          <span class="invalid-feedback" id="huName_error_message"></span>
                      </div>
                    </div>
                  

                    <div class="card-footer">
                      <button name="createCategory" id="createCategory" type="submit" class="btn btn-secondary">
                        Mentés
                      </button>
                    </div>
        
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="card card-secondary">
                  <div class="card-header">
                    <h3 class="card-title">Alkategória megadása</h3>
                  </div>
                 
                  <div class="card-body subCat">
                 
                      <div class="form-group">
                        <% for (let i=0; i < property.length; i++ ) { %>
                        <div
                          class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
                        >
                          <input
                            type="hidden"
                            value="<%= property[i].id %>"
                            name="propertyId"
                          />
                          <input
                            type="hidden"
                            value="off"
                            class="status-<%= property[i].id %> status-hidden"
                            name="status[<%= property[i].id %>]"
                            value="<%= property[i].id %>"
                          />
                          <input
                            type="checkbox"
                            class="custom-control-input status-checkbox status-checkbox-<%= property[i].id %>"
                            id="customSwitch<%= property[i].id %>"
                            data-propertyId="<%= property[i].id %>"
                            value="<%= property[i].id %>"
                          />
                          <label
                            data-extra="<%= property[i].id %>"
                            class="custom-control-label"
                            for="customSwitch<%= property[i].id %>"
                          >
                            <%= property[i].PropertyTranslations[0].name %>
                          </label>
                        </div>
                        <% } %>
                        <span class="invalid-feedback" id="property_error_message"></span>
                      </div>
            
                  </div>
                  <% if(editing){ %> <% for (let i = 0; i <
                  isActiveProperty.length; i++) { %> <% if
                  (isActiveProperty[i].active == 1 ) { %>
                  <script>
                    $(document).ready(function () {
                      var activeCheckbox =
                        "<%= isActiveProperty[i].propertyId %>";
                      $(".status-checkbox-" + activeCheckbox).prop(
                        "checked",
                        true
                      );
                      $(".status-" + activeCheckbox).val("on");
                    });
                  </script>
                  <% } %> <% } %> <% } %> <% if (editing) { %>
                  <input
                    type="hidden"
                    value="<%= categoryId %>"
                    name="categoryId"
                  />
                 <% } %>
                 
                </div>
               
              </div>
             
            </div>
          
          </div>
         
        </section>
       
      </div>
      
      <%- include('../includes/footer.ejs') %>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->


            </form>

  <%- include('../includes/end.ejs') %>

