

<%- include('../includes/head.ejs') %>

</head>
<body class="hold-transition sidebar-mini">
   <div class="wrapper">
      <%- include('../includes/nav.ejs') %> <%- include('../includes/aside.ejs')
         %>
        
      <div class="content-wrapper">
         
         <section class="content-header">
           
            <div class="container-fluid">
               <div class="row mb-2">
                  <div class="col-sm-6">
                     <h1>Törölt termék lista</h1>
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
         </section>
         <!-- Main content -->
         <section class="content">
            <div class="container-fluid">
               <div class="row"></div>
               <!-- /.row -->
               <div class="row">
                  <div class="col-12">
                   
                     <div class="card">
                        <div class="card-header">
                           <h3 class="card-title"></h3>
                           <div class="card-tools">
                              <div
                                 class="input-group input-group-sm"
                                 style="width: 150px;"
                                 >
                                 <input
                                    type="text"
                                    name="searchProduct" id="searchProduct"
                                    class="form-control float-right"
                                    placeholder="Keresés"
                                    />
                              
                              </div>
                           </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                           <table id="searchedProduct" class="table table-hover text-nowrap">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>TERMÉK NÉV</th>
                                    <th>VARIÁNS NÉV</th>
                                    <th>ÚJRA ELÉRHETŐ</th>
                                 </tr>
                              </thead>
                              <% for (let i=0; i < prods.length; i++ ) { %>
                              <tbody>
                                 <tr>
                                    <td><%= prods[i].id %></td>
                                    <td><%= prods[i].ProductTranslations[0].title %></td>
                                    <td><%= prods[i].ProductFinals[0].Variant.sku %></td>
                                    <td>
                                       <form action="/admin/restore-product" method="POST">
                                          <input type="hidden" value="<%= prods[i].id %>" name="productId">
                                          <button type="submit" class="btn btn-success btn-sm">
                                          <i class="fas fa-pencil-alt">
                                          </i>
                                          Újra elérhető
                                       </button>
                                       </form>
                                    </td>
                                   
                                   
                                 </tr>
                              </tbody>
                              <% } %>
                           </table>
                        </div>
                        <div class="card-footer clearfix">
                           <ul class="pagination pagination-sm m-0 float-right">
                              <% if (prods.length > 0) { %>
                              <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                              <% } %>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <%- include('../includes/footer.ejs') %>
      <aside class="control-sidebar control-sidebar-dark">
         <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
   </div>
   <!-- ./wrapper -->
   <!-- jQuery -->
   <script src="/plugins/jquery/jquery.min.js"></script>
   <!-- Bootstrap 4 -->
   <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- AdminLTE App -->
   <script src="/js/adminlte.min.js"></script>
   <!-- AdminLTE for demo purposes -->
   <script src="/js/demo.js"></script>
</body>
</html>

