<%- include('../includes/head.ejs') %>

<script>
   $(document).ready(function() {
      $('.status-checkbox').click(function() {
         var extraId = $(this).attr('data-extraId');
         if($(this).is(':checked')) {
            $('.status-'+extraId).val('on');
         } else {
            $('.status-'+extraId).val('off');
         }
      });
   });
</script>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar" >
   <!-- <script>
      oncontextmenu="return false;"
      document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
}


   </script>

    <pre id="output"></pre>
        <script type="text/javascript">
            var element = new Image;
            var devtoolsOpen = false;
            element.__defineGetter__("id", function() {
                devtoolsOpen = true; // This only executes when devtools is open.
            });
            setInterval(function() {
                devtoolsOpen = false;
                console.log(element);
                document.getElementById('output').innerHTML += (devtoolsOpen ? "dev tools is open\n" : "dev tools is closed\n");
            }, 1000);
        </script> -->
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <% if (errorMessage) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form onsubmit="return validateForm()"
         name="myForm"
         class="ms-content-wrapper"
         action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
         method="POST"
         enctype="multipart/form-data">
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="roTitle"><%= lingua.create_product_name1 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'roTitle') ? 'invalid' : '' %>"
                                 type="text"
                                 name="roTitle"
                                 id="roTitle"
                                 value="<% if (editing || hasError) { %><%= product.productTranslations[0].title %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huTitle"><%= lingua.create_product_name2 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'huTitle') ? 'invalid' : '' %>"
                                 type="text"
                                 name="huTitle"
                                 id="huTitle"
                                 value="<% if (editing || hasError) { %><%= product.productTranslations[1].title %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enTitle"><%= lingua.create_product_name3 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'enTitle') ? 'invalid' : '' %>"
                                 type="text"
                                 name="enTitle"
                                 id="enTitle"
                                 value="<% if (editing || hasError) { %><%= product.productTranslations[2].title %><% } %>">
                           </div>
                        </div>
                        <div class="input-group mb-3 x">
                           <select class="custom-select" id="roCategory" name="roCategory">
                              <option>CATEGORY..RO</option>
                              <% if (editing && product.category=='dailyMenu')  { %> 
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } else{ %>
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } %>
                              <% if (editing && product.category=='pizza')  { %> 
                              <option  selected value="pizza">pizza</option>
                              <% } else{ %>
                              <option  value="pizza">pizza</option>
                              <% } %>
                              <% if (editing && product.category=='chicken')  { %> 
                              <option  selected value="chicken">chicken</option>
                              <% } else{ %>
                              <option  value="chicken">chicken</option>
                              <% } %>
                           </select>
                           <div class="input-group-append">
                              <label class="input-group-text" for="roCategory">CATEGORY</label>
                           </div>
                        </div>
                        <div class="input-group mb-3 x">
                           <select class="custom-select" id="huCategory" name="huCategory">
                              <option>CATEGORY..HU</option>
                              <% if (editing && product.category=='dailyMenu')  { %> 
                              <option   value="dailyMenu">dailyMenu</option>
                              <% } else{ %>
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } %>
                              <% if (editing && product.category=='pizza')  { %> 
                              <option  selected value="pizza">pizza</option>
                              <% } else{ %>
                              <option  value="pizza">pizza</option>
                              <% } %>
                              <% if (editing && product.category=='chicken')  { %> 
                              <option  selected value="chicken">chicken</option>
                              <% } else{ %>
                              <option   value="chicken">chicken</option>
                              <% } %>
                           </select>
                           <div class="input-group-append">
                              <label class="input-group-text" for="huCategory">CATEGORY</label>
                           </div>
                        </div>
                        <div class="input-group mb-3 x">
                           <select class="custom-select" id="enCategory" name="enCategory">
                              <option>CATEGORY..EN</option>
                              <% if (editing && product.category=='dailyMenu')  { %> 
                              <option   value="dailyMenu">dailyMenu</option>
                              <% } else{ %>
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } %>
                              <% if (editing && product.category=='pizza')  { %> 
                              <option  selected value="pizza">pizza</option>
                              <% } else{ %>
                              <option  value="pizza">pizza</option>
                              <% } %>
                              <% if (editing && product.category=='chicken')  { %> 
                              <option  selected value="chicken">chicken</option>
                              <% } else{ %>
                              <option  value="chicken">chicken</option>
                              <% } %>
                           </select>
                           <div class="input-group-append">
                              <label class="input-group-text" for="enCategory">CATEGORY</label>
                           </div>
                        </div>
                        <div class="col-md-6 mb-3">
                           <label for="price"><%= lingua.create_product_price %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                                 
                                 name="price"
                                 id="price"
                                 
                                 value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="roDescription"><%= lingua.create_product_description1 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control <%= validationErrors.find(e => e.param === 'roDescription') ? 'invalid' : '' %>"
                                 name="roDescription"
                                 id="roDescription"
                                 rows="5"> <% if (editing || hasError) { %><%= product.productTranslations[0].description %><% } %></textarea>
                              <div class="invalid-feedback">
                                 Please provide a message.
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huDescription"><%= lingua.create_product_description2 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control <%= validationErrors.find(e => e.param === 'huDescription') ? 'invalid' : '' %>"
                                 name="huDescription"
                                 id="huDescription"
                                 rows="5"><% if (editing || hasError) { %><%= product.productTranslations[1].description %><% } %></textarea>
                              <div class="invalid-feedback">
                                 Please provide a message.
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enDescription"><%= lingua.create_product_description3 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control <%= validationErrors.find(e => e.param === 'enDescription') ? 'invalid' : '' %>"
                                 name="enDescription"
                                 id="enDescription"
                                 rows="5"> <% if (editing || hasError) { %><%= product.productTranslations[2].description %><% } %></textarea>
                              <div class="invalid-feedback">
                                 Please provide a message.
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="validationCustom12"><%= lingua.create_product_image %></label>
                           <div class="custom-file">
                              <input  accept="image/png, image/jpeg,image/jpeg" type="file" name="image" id="image" />
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Product</h6>
                        </div>
                        <div class="ms-panel-body">
                           <div class="carousel-inner">
                              <div class="carousel-item active">
                                 <% if (editing) { %><img src="/<%= product.imageUrl %>" alt="<%= product.price %>"><% }  %>
                              </div>
                           </div>
                        </div>
                        <% if (editing) { %>
                        <input
                           type="hidden"
                           value="<%= product.id %>"
                           name="productId"
                           />
                        <% } %>
                        <button class="btn" type="submit">
                        <% if (editing) { %>Update Product<% } else { %>Add
                        Product<% } %>
                        </button>
                     </div>
                  </div>

                  
                  <div class="col-xl-6 col-md-12">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="ms-panel">
                              <div class="ms-panel-header alergen-border">
                                 <h6>Allergens</h6>
                              </div>
                              <% if (editing) { %>
                                      
                                 <% if (isActive ==1) { %>
                                    
                                    <script>
                                        $(document).ready(function() {
                                        $('.status-checkbox').prop('checked', true);
                                        $('.status').val('on');
                                        });
                                    </script>
                                       
                                    <% } 
                                 %>
                              <% } %>
                              <div class="ms-panel-body alergen-border">
                                 <label class="ms-switch" >              
                                 <input class="status-checkbox" type="checkbox" name="status" id="status" > <span class="ms-switch-slider ms-switch-success round"></span>
                                 </label> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
       ///////////










         ///////
      </form>
      
<select name="select1" id="select1">
  <option value="1">Fruit</option>
  <option value="2">Animal</option>
  <option value="3">Bird</option>
  <option value="4">Car</option>
</select>


<select name="select2" id="select2">
  <option value="1">Banana</option>
  <option value="1">Apple</option>
  <option value="1">Orange</option>
  <option value="2">Wolf</option>
  <option value="2">Fox</option>
  <option value="2">Bear</option>
  <option value="3">Eagle</option>
  <option value="3">Hawk</option>
  <option value="4">BWM<option>
</select>
<script>
   $("#select1").change(function() {
  if ($(this).data('options') === undefined) {
    /*Taking an array of all options-2 and kind of embedding it on the select1*/
    $(this).data('options', $('#select2 option').clone());
  }
  var id = $(this).val();
  var options = $(this).data('options').filter('[value=' + id + ']');
  $('#select2').html(options);
});
</script>
   </main>
   <%- include('../includes/end.ejs') %>
</body>