<%- include('../includes/head.ejs') %>
<script>
   function validateForm() {
   var roTitle = document.forms["myForm"]["roTitle"].value;
   var enTitle = document.forms["myForm"]["enTitle"].value;
   var huTitle = document.forms["myForm"]["huTitle"].value;
   var price = document.forms["myForm"]["price"].value;
   var enDescription = document.forms["myForm"]["enDescription"].value;
   var huDescription = document.forms["myForm"]["huDescription"].value;
   var roDescription = document.forms["myForm"]["roDescription"].value;
   
   if (roTitle == "" ||huTitle == "" ||roTitle == "" || enTitle == ""||price == "" ||enDescription == "" || huDescription == "" || roDescription == "" ) {
     alert("Name must be filled out");
     return false;
   }
   } 
</script>
<script>
   $(document).ready(function() {
      $('.status-checkbox').click(function(){
         var variantId = $(this).attr('data-variantId');
         if($(this).is(':checked')) {
            $('.status-'+variantId).val('on');
            
         } else {
            $('.status-'+variantId).val('off');
            
         }
      });
   });
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <% if (errorMessage) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form onsubmit="return validateForm()"
         name="myForm"
         class="ms-content-wrapper"
         action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
         method="POST"
         enctype="multipart/form-data">
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="roTitle"><%= lingua.create_product_name1 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'roTitle') ? 'invalid' : '' %>"
                                 type="text"
                                 name="roTitle"
                                 id="roTitle"
                                 value="<% if (editing || hasError) { %><%= product.productTranslations[0].title %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huTitle"><%= lingua.create_product_name2 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'huTitle') ? 'invalid' : '' %>"
                                 type="text"
                                 name="huTitle"
                                 id="huTitle"
                                 value="<% if (editing || hasError) { %><%= product.productTranslations[1].title %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enTitle"><%= lingua.create_product_name3 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'enTitle') ? 'invalid' : '' %>"
                                 type="text"
                                 name="enTitle"
                                 id="enTitle"
                                 value="<% if (editing || hasError) { %><%= product.productTranslations[2].title %><% } %>">
                           </div>
                        </div>
                        <div class="input-group mb-3 x">
                           <select class="custom-select" id="roCategory" name="roCategory">
                              <option>CATEGORY..RO</option>
                              <% if (editing && product.category=='dailyMenu')  { %> 
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } else{ %>
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } %>
                              <% if (editing && product.category=='pizza')  { %> 
                              <option  selected value="pizza">pizza</option>
                              <% } else{ %>
                              <option  value="pizza">pizza</option>
                              <% } %>
                              <% if (editing && product.category=='chicken')  { %> 
                              <option  selected value="chicken">chicken</option>
                              <% } else{ %>
                              <option  value="chicken">chicken</option>
                              <% } %>
                           </select>
                           <div class="input-group-append">
                              <label class="input-group-text" for="roCategory">CATEGORY</label>
                           </div>
                        </div>
                        <div class="input-group mb-3 x">
                           <select class="custom-select" id="huCategory" name="huCategory">
                              <option>CATEGORY..HU</option>
                              <% if (editing && product.category=='dailyMenu')  { %> 
                              <option   value="dailyMenu">dailyMenu</option>
                              <% } else{ %>
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } %>
                              <% if (editing && product.category=='pizza')  { %> 
                              <option  selected value="pizza">pizza</option>
                              <% } else{ %>
                              <option  value="pizza">pizza</option>
                              <% } %>
                              <% if (editing && product.category=='chicken')  { %> 
                              <option  selected value="chicken">chicken</option>
                              <% } else{ %>
                              <option   value="chicken">chicken</option>
                              <% } %>
                           </select>
                           <div class="input-group-append">
                              <label class="input-group-text" for="huCategory">CATEGORY</label>
                           </div>
                        </div>
                        <div class="input-group mb-3 x">
                           <select class="custom-select" id="enCategory" name="enCategory">
                              <option>CATEGORY..EN</option>
                              <% if (editing && product.category=='dailyMenu')  { %> 
                              <option   value="dailyMenu">dailyMenu</option>
                              <% } else{ %>
                              <option  value="dailyMenu">dailyMenu</option>
                              <% } %>
                              <% if (editing && product.category=='pizza')  { %> 
                              <option  selected value="pizza">pizza</option>
                              <% } else{ %>
                              <option  value="pizza">pizza</option>
                              <% } %>
                              <% if (editing && product.category=='chicken')  { %> 
                              <option  selected value="chicken">chicken</option>
                              <% } else{ %>
                              <option  value="chicken">chicken</option>
                              <% } %>
                           </select>
                           <div class="input-group-append">
                              <label class="input-group-text" for="enCategory">CATEGORY</label>
                           </div>
                        </div>
                        <div class="col-md-6 mb-3">
                           <label for="price"><%= lingua.create_product_price %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                                 type="number"
                                 name="price"
                                 id="price"
                                 step="0.01"
                                 value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="roDescription"><%= lingua.create_product_description1 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control <%= validationErrors.find(e => e.param === 'roDescription') ? 'invalid' : '' %>"
                                 name="roDescription"
                                 id="roDescription"
                                 rows="5"> <% if (editing || hasError) { %><%= product.productTranslations[0].description %><% } %></textarea>
                              <div class="invalid-feedback">
                                 Please provide a message.
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huDescription"><%= lingua.create_product_description2 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control <%= validationErrors.find(e => e.param === 'huDescription') ? 'invalid' : '' %>"
                                 name="huDescription"
                                 id="huDescription"
                                 rows="5"><% if (editing || hasError) { %><%= product.productTranslations[1].description %><% } %></textarea>
                              <div class="invalid-feedback">
                                 Please provide a message.
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enDescription"><%= lingua.create_product_description3 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control <%= validationErrors.find(e => e.param === 'enDescription') ? 'invalid' : '' %>"
                                 name="enDescription"
                                 id="enDescription"
                                 rows="5"> <% if (editing || hasError) { %><%= product.productTranslations[2].description %><% } %></textarea>
                              <div class="invalid-feedback">
                                 Please provide a message.
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="validationCustom12"><%= lingua.create_product_image %></label>
                           <div class="custom-file">
                              <input  accept="image/png, image/jpeg,image/jpeg" type="file" name="image" id="image" />
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Product</h6>
                        </div>
                        <div class="ms-panel-body">
                           <div class="carousel-inner">
                              <div class="carousel-item active">
                                 <% if (editing) { %><img src="/<%= product.imageUrl %>" alt="<%= product.price %>"><% }  %>
                              </div>
                           </div>
                        </div>
                        <% if (editing) { %>
                        <input
                           type="hidden"
                           value="<%= product.id %>"
                           name="productId"
                           />
                        <% } %>
                        <button class="btn" type="submit">
                        <% if (editing) { %>Update Product<% } else { %>Add
                        Product<% } %>
                        </button>
                     </div>
                  </div>
                  <div class="col-xl-6 col-md-12">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="ms-panel">
                              <div class="ms-panel-header">
                                 <h6>Allergens</h6>
                              </div>
                              <div class="ms-panel-body">
                                 <label class="ms-switch" >                 
                                 <input class="status-checkbox" type="checkbox" name="status" id="status" > <span class="ms-switch-slider ms-switch-success round"></span>
                                 </label> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
         <% if (vari.length > 0) { %>
         <div class="ms-content-wrapper">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <% for (let variant of vari) { %>
                     <input
                        type="hidden"
                        value="<%= variant.id %>"
                        name="variantId"
                        />          
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="ms-card">
                           <div class="d-flex justify-content-center extra-margin-top">
                              <label class="ms-switch" >                 
                              <input type="hidden" value="off" class="status-<%= variant.id %>" name="status[<%= variant.id %>]" >          
                              <input  data-variantId="<%= variant.id %>"  class="status-checkbox" type="checkbox"  > <span class="ms-switch-slider ms-switch-success round"></span>
                              </label> 
                           </div>
                           <div class="ms-card-body">
                              <div class="new  d-flex justify-content-center extra-name">
                                 <h6 class="mb-0"><b><%= variant.id %></b> </h6>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="price">Price</label>
                                 <div class="input-group">
                                    <input
                                       class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                                       type="text"
                                       name="price"
                                       id="price"
                                       value="<% if (editing || hasError) { %><%= variant.price %><% } %>"
                                       />
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
         <% } else { %>
         <% } %>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>