<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
      $('.status-checkbox').click(function() {
         var extraId = $(this).attr('data-extraId');
         if($(this).is(':checked')) {
            $('.status-'+extraId).val('on');
         } else {
            $('.status-'+extraId).val('off');
         }
      });
   });
</script>

<script>
   $(document).ready(function () {
  $(".status-checkbox").click(function () {
   var extraId = $(this).data("extraid");
    $("#price_error_message_"+extraId).hide();
   
    var error_price = false;
   
  
  });
  function check_variantInputs() {
      var extraId = $(this).attr("data-extraId");
      $(".extra_box").each(function () {
        var extraId = $(this).data("extra");
        var price_len = $(".price_" + extraId).val().length;
     
        if ($(this).find("input:checkbox").is(":checked") && (price_len < 1)) {
           if (price_len < 1) {
            $("#price_error_message_"+extraId).show().html("Mezo kitoltese kotelezo");
              error_price = true;
           } else {
            $("#price_error_message_"+extraId).hide().html("");
           }
          
        } else {
          $(this).find(".extra_error_message").hide();
        }
      });
    }
  $(".extra_price_input").focusout(function() {
      var len = $(this).val().length; 
      var extraId = $(this).closest(".extra_box").data('extra');
      if (len < 1) {
         $("#price_error_message_"+extraId).show().html("Mezo kitoltese kotelezo");
      } else {
         $("#price_error_message_"+extraId).hide().html("");
      }
   
  });

  $("#product-form").submit(function () {
      error_price = false;
     
      check_variantInputs();
      if (error_price == false) {
        return true;
      } else {
        return false;
      }
    });
});
</script>

<script>
   $(function () {
     $("#roName_error_message").hide();
     $("#huName_error_message").hide();
     $("#enName_error_message").hide();
   
     $("#roDescription_error_message").hide();
     $("#huDescription_error_message").hide();
     $("#enDescription_error_message").hide();
     $("#file_error_message").hide();
   
     var error_roName = false;
     var error_huName = false;
     var error_enName = false;
  
     var error_roDescription = false;
     var error_huDescription = false;
     var error_enDescription = false;
     var error_file = false;
    
   
     $("#roTitle").focusout(function () {
       check_roName();
     });
   
     $("#huTitle").focusout(function(){
        check_huName();
     })
   
     $("#enTitle").focusout(function(){
        check_enName();
     })
  
     $("#roDescription").focusout(function () {
       check_roDescription();
     });

     $("#huDescription").focusout(function () {
       check_huDescription();
     });
     $("#enDescription").focusout(function () {
       check_enDescription();
     });
     
     $("#image").focusout(function () {
       check_file();
     });
     
     function check_roName() {
       var roName_length = $("#roTitle").val().length;
   
       if (roName_length < 2 || roName_length > 15) {
         $("#roName_error_message").html("ro");
         $("#roName_error_message").show();
         error_roName = true;
       } else {
         $("#roName_error_message").hide();
       }
     }
   
     function check_huName() {
       var huName_length = $("#huTitle").val().length;
   
       if (huName_length < 2 || huName_length > 15) {
         $("#huName_error_message").html("hu");
         $("#huName_error_message").show();
         error_huName = true;
       } else {
         $("#huName_error_message").hide();
       }
     }
   
     function check_enName() {
       var enName_length = $("#enTitle").val().length;
   
       if (enName_length < 2 || enName_length > 15) {
         $("#enName_error_message").html("en");
         $("#enName_error_message").show();
         error_enName = true;
       } else {
         $("#enName_error_message").hide();
       }
     }
   
     function check_roDescription() {
       var roDescription_length = $("#roDescription");
   
       if (roDescription_length.val() === "") {
         $("#roDescription_error_message").html("roDescription_error_message");
         $("#roDescription_error_message").show();
         error_roDescription = true;
       } else {
         $("#roDescription_error_message").hide();
       }
     }

     function check_huDescription() {
       var huDescription_length = $("#huDescription");
   
       if (huDescription_length.val() === "") {
         $("#huDescription_error_message").html("huDescription_error_message");
         $("#huDescription_error_message").show();
         error_huDescription = true;
       } else {
         $("#huDescription_error_message").hide();
       }
     }

     function check_enDescription() {
       var huDescription_length = $("#enDescription");
   
       if (huDescription_length.val() === "") {
         $("#enDescription_error_message").html("enDescription");
         $("#enDescription_error_message").show();
         error_huDescription = true;
       } else {
         $("#enDescription_error_message").hide();
       }
     }

     function check_file() {


      var vidFileLength = $("#videoUploadFile")[0].files.length;
if(vidFileLength === 0){
    alert("No file selected.");
}
   
       
     }
    
     $("#product-form").submit(function () {
       error_roName = false;
       error_huName = false;
       error_enName = false;
      
       error_roDescription = false;
       error_huDescription = false;
       error_enDescription = false;
       error_file = false;
   
       check_roName();
       check_huName();
       check_enName();
      
       check_roDescription();
       check_huDescription();
       check_enDescription();
       check_file();

       if (
         error_roName == false &&
         error_huName == false &&
         error_enName == false &&
       
         error_roDescription == false &&
         error_huDescription == false &&
         error_enDescription == false &&
         error_file == false
       ) {
         return true;
       } else {
         return false;
       }
     });
   });
   </script>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar" >

   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <% if (errorMessage) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form
         name="myForm"
         class="ms-content-wrapper"
         action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
         method="POST"
         enctype="multipart/form-data"
         id="product-form">

         <% if (editing) { %>
            <% for (let i = 0; i < isActiveVariant.length; i++) { %>
               <% if (isActiveVariant[i].active ==1) { %>
                  
                  <script>
                      $(document).ready(function() {
                      var activeCheckbox ="<%= isActiveVariant[i].variantId %>";
                      $('.status-checkbox-'+activeCheckbox).prop('checked', true);
                      $('.status-'+activeCheckbox).val('on');
                      });
                  </script>
                     
                  <% } 
               %>
            <% } %>
            <% } %>


            <% if (editing) { %>
                                      
               <% if (isActive ==1) { %>
                  
                  <script>
                      $(document).ready(function() {
                      $('.status-checkbox-allergen').prop('checked', true);
                      $('.statusAllergen').val('on');
                      });
                  </script>
                     
                  <% } 
               %>
            <% } %>
            
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="roTitle"><%= lingua.create_product_name1 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="roTitle"
                                 id="roTitle"
                                 value="<% if (editing) { %><%= product[0].productTranslations[0].title %><% } %>">
                           </div>
                           <span class="error_form" id="roName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huTitle"><%= lingua.create_product_name2 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="huTitle"
                                 id="huTitle"
                                 value="<% if (editing) { %><%= product[0].productTranslations[1].title %><% } %>">
                           </div>
                           <span class="error_form" id="huName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enTitle"><%= lingua.create_product_name3 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="enTitle"
                                 id="enTitle"
                                 value="<% if (editing) { %><%= product[0].productTranslations[2].title %><% } %>">
                           </div>
                           <span class="error_form" id="enName_error_message"></span>
                        </div>
                      
                      

                        
                        <div class="col-md-12 mb-3">
                           <label for="roDescription"><%= lingua.create_product_description2 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control"
                                 name="roDescription"
                                 id="roDescription"
                                 rows="5"><% if (editing) { %><%= product[0].productTranslations[0].description %><% } %></textarea>
                           </div>
                           
                           <span class="error_form" id="roDescription_error_message"></span>
                        </div>
                       

                        <div class="col-md-12 mb-3">
                           <label for="huDescription"><%= lingua.create_product_description2 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control"
                                 name="huDescription"
                                 id="huDescription"
                                 rows="5"><% if (editing) { %><%= product[0].productTranslations[1].description %><% } %></textarea>
                           </div>
                           <span class="error_form" id="huDescription_error_message"></span>
                        </div>

                        <div class="col-md-12 mb-3">
                           <label for="enDescription"><%= lingua.create_product_description2 %></label>
                           <div class="input-group">
                              <textarea
                                 class="form-control"
                                 name="enDescription"
                                 id="enDescription"
                                 rows="5"><% if (editing) { %><%= product[0].productTranslations[2].description %><% } %></textarea>
                              
                           </div>
                           <span class="error_form" id="enDescription_error_message"></span>
                        </div>

                        <div class="col-md-12 mb-3">
                           <label for="validationCustom12"><%= lingua.create_product_image %></label>
                           <div class="custom-file" id="image">
                              <input  accept="image/png, image/jpeg,image/jpeg" type="file" name="image" id="videoUploadFile" />
                           </div>
                           <span class="error_form" id="file_error_message"></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Product</h6>
                        </div>
                        <div class="ms-panel-body">
                           <div class="carousel-inner">
                              <div class="carousel-item active">
                                 <% if (editing) { %><img src="/<%= product[0].imageUrl %>" alt="<%= product[0].price %>"><% }  %>
                              </div>
                           </div>
                        </div>
                        <% if (editing) { %>
                        <input
                           type="hidden"
                           value="<%= productIds %>"
                           name="productId"
                           />
                        <% } %>
                        <button class="btn" type="submit">
                        <% if (editing) { %>Update Product<% } else { %>Add
                        Product<% } %>
                        </button>
                     </div>
                  </div>

                  
                  <div class="col-xl-6 col-md-12">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="ms-panel">
                              <div class="ms-panel-header alergen-border">
                                 <h6>Allergens</h6>
                              </div>
                              
                              <div class="ms-panel-body alergen-border">
                                 <label class="ms-switch" >              
                                 <input class="status-checkbox-allergen" type="checkbox" name="statusAllergen" id="statusAllergen" > <span class="ms-switch-slider ms-switch-success round"></span>
                                 </label> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>

       <div class="ms-panel ms-btn-display">
         <div class="ms-panel-header">
            <h6>A  hozzárendelhető extrái:</h6>
         </div>
      </div>
      <% if (editing) { %>  <% if (productVariant.length > 0) { %>
         <div class="ms-content-wrapper">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <%  for (let i = 0; i < productVariant.length; i++) { %>
                        <input
                        type="hidden"
                        value="<%= productVariant[i].variantId %>"
                        name="variantId"
                        />          
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 extra_box" data-extra="<%= productVariant[i].variantId %>">
                        <div class="ms-card">
                           <div class="d-flex justify-content-center extra-margin-top">
                                 <div class="row"> 
                                   
                                    <label class="ms-switch" >                 
                                       <input type="hidden" value="off" class="status-<%= productVariant[i].variantId %>" name="status[<%= productVariant[i].variantId %>]" >          
                                       <input    data-extraId="<%= productVariant[i].variantId %>"  class="status-checkbox status-checkbox-<%= productVariant[i].variantId %>" type="checkbox">
                                       <span class="ms-switch-slider ms-switch-success round"></span>
                                    </label> 
                                 </div>
                           </div>
                           <div class="ms-card-body">
                              <div class="new d-flex justify-content-center extra-name">
                                 <h6 class="mb-0"><b><%= productVariant[i].variantId %></b> </h6>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="price"><%= productVariant[i].variantId %></label>
                                 <div class="input-group">
                                    <input
                                       class="price_<%= productVariant[i].id %> extra_price_input"
                                       type="text"
                                       name="price"
                                       id="price"
                                       value="<% if (editing) { %><%= productVariant[i].price %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="price_error_message_<%= productVariant[i].extraId %>"></span>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="discountedPrice"
                                    >Discounted Price</label
                                    >
                                 <div class="input-group">
                                    <input disabled
                                       class="form-control"
                                       type="text"
                                       name="discountedPrice"
                                       id="discountedPrice"
                                       value="<% if (editing) { %><%= productVariant[i].discountedPrice %><% } %>"
                                       />
                                 </div>
                              </div>
                             
                             
                           </div>
                        </div>
                     </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
         <% } else { %>
         <% } %><% } else { %>
            
            <% if (ext.length > 0) { %>
               <div class="ms-content-wrapper">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="row">
                           <% for (let extra of ext) { %>
                              <input
                              type="hidden"
                              value="<%= extra.id %>"
                              name="extraId"
                              />          
                           <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 extra_box" data-extra="<%= extra.id %>">
                              <div class="ms-card">
                                 <div class="d-flex justify-content-center extra-margin-top">
                                       <div class="row"> 
                                         
                                          <label class="ms-switch" >                 
                                             <input type="hidden" value="off" class="status-<%= extra.id %>" name="status[<%= extra.id %>]" >          
                                             <input    data-extraId="<%= extra.id %>"  class="status-checkbox status-checkbox-<%= extra.id %>" type="checkbox"> <span class="ms-switch-slider ms-switch-success round"></span>
                                          </label> 
                                       </div>
                                 </div>
                                 <div class="ms-card-body">
                                    <div class="new d-flex justify-content-center extra-name">
                                       <h6 class="mb-0"><b>dsasd</b> </h6>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                       <label for="price">Price</label>
                                       <div class="input-group">
                                          <input
                                             class="price_<%= extra.id %> extra_price_input"
                                             type="text"
                                             name="price"
                                             id="price"
                                             value="<% if (editing) { %><%= extra.price %><% } %>"
                                             />
                                       </div>
                                       <span class="extra_error_message error_form" id="price_error_message_<%= extra.id %>"></span>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                       <label for="discountedPrice"
                                          >Discounted Price</label
                                          >
                                       <div class="input-group">
                                          <input disabled
                                             class="form-control"
                                             type="text"
                                             name="discountedPrice"
                                             id="discountedPrice"
                                             value="<% if (editing) { %><%= extra.discountedPrice %><% } %>"
                                             />
                                       </div>
                                    </div>
                                   
                                    
                                 </div>
                              </div>
                           </div>
                           <% } %>
                        </div>
                     </div>
                  </div>
               </div>
               <% } else { %>
               <% } %>
            
            
            <% } %>
            

            <select id="select1">
               <option value="1">1day</option>
               <option value="2">2day</option>
               <option value="3">3day</option>
            </select>
            
            <select id="select2">
               <option value="1">1day</option>
               <option value="2">2day</option>
               <option value="3">3day</option>
            </select>

            <select id="select3">
               <option value="1">1day</option>
               <option value="2">2day</option>
               <option value="3">3day</option>
            </select>

            <script>
               $(function() { //run on document.ready
               $("#select1").change(function() { //this occurs when select 1 changes
                  $("#select2").val($(this).val());
                  $("#select3").val($(this).val());
               });
               });

               $(function() { //run on document.ready
               $("#select2").change(function() { //this occurs when select 1 changes
                  $("#select1").val($(this).val());
                  $("#select3").val($(this).val());
               });
               });

               $(function() { //run on document.ready
               $("#select3").change(function() { //this occurs when select 1 changes
                  $("#select1").val($(this).val());
                  $("#select2").val($(this).val());
               });
               });
            </script>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>