

<%- include('../includes/head.ejs') %>
<script>
$(document).ready(function() {
	$('#searchProduct').keyup(function() {
		const productId = $('#searchProduct').val();
		console.log(productId)
		$.get("get-filtered-product/" + productId).done(function(data) {
			$("#searchedProduct").html(data);
		});
	});
})
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Index </a></li>
               <li role="presentation"><a class="add-product" href="/admin/add-product">Add Product </a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane" id="tab1">
               </div>
               <div class="tab-pane" id="tab2">
               </div>
               <div class="tab-pane" id="tab3">
               </div>
            </div>
         </div>
      </div>
      <% if ( checkVariantLength.length <2) { %>
      <script>
         $('.add-product').click(function () {return false;});
      </script>
      <div class="alert alert-danger" role="alert">
         <i class="flaticon-alert-1"></i> <strong class="alert-message-popup">Oh snap! eloszor varians kell legyen addig nem lehet termeket feltolteni</strong>
      </div>
      <% } %>
      <% if ( checkBoxLength.length === 0) { %>
      <script>
         $('.add-product').click(function () {return false;});
      </script>
      <div class="alert alert-danger" role="alert">
         <i class="flaticon-alert-1"></i> <strong class="alert-message-popup">Oh snap! eloszor box kell legyen addig nem lehet termeket feltolteni</strong>
      </div>
      <% } %>
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-md-12">
               <div class="col-12">
                  <div class="ms-panel">
                     <div class="ms-panel-header">
                        <h6> Termek Lista</h6>
                     </div>
                     <div class="ms-panel-body">
                        <div class="table-responsive">
                           <table id="searchedProduct" class="table table-hover thead-primary">
                              <thead>
                                 <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Név</th>
                                    <th scope="col">Varians</th>
                                    <th scope="col">Státusz</th>
                                    <th scope="col" class="buttons-text-variants">Törlés</th>
                                    <th scope="col" >Szerkesztés</th>
                                 </tr>
                              </thead>
                              <div class="col-6">
                                 <input type="text" name="searchProduct" id="searchProduct" placeholder="Termek keresés" class="form-control extra-search" />
                              </div>
                              <hr>
                              <% if (prods.length > 0) { %>
                              <% for (let i =0; i < prods.length; i++) { %>
                              <tbody class="product-all" >
                                 <tr>
                                    <th scope="row"><%= prods[i].id %></th>
                                    <td><%= prods[i].ProductTranslations[0].title %></td>
                                    <td><%= prods[i].ProductFinals[0].Variant.sku %></td>
                                    <td><span class="badge badge-success">AKTIV</span></td>
                                    <td>
                                       <form action="/admin/delete-product" method="POST">
                                          <input type="hidden" value="<%= prods[i].id %>" name="productId">
                                          <button class="btn grid-btn mt-0 btn-sm btn-primary" type="submit">Inaktivitas</button>
                                       </form>
                                    </td>
                                    <td>        
                                       <a href="/admin/edit-product/<%= prods[i].id %>?edit=true" class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.product_action_edit %></a>
                                    </td>
                                 </tr>
                              </tbody>
                              <% } %>
                              <% } else { %>
                              <h1>No Products Found!</h1>
                              <% } %>
                           </table>
                        </div>
                        <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </main>
   <%- include('../includes/end.ejs')
      %>
</body>

