<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-md-12">
               <div class="ms-panel">
                  <div class="ms-panel-header ms-panel-header-updated">
                     <h6>Default Validation</h6>
                  </div>
                  <form action="/admin/search" class="search-form">
                     <div class="ms-panel-body">
                        <div class="form-row">
                           <div class="col-md-6 upd mb-3 ">
                              <label for="validationCustom03">City</label>
                              <div class="input-group">
                                 <input type="search" class="form-control" placeholder="Name" name="term">
                              </div>
                           </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit form</button>
                  </form>
                  </div>
               </div>
               <% if (prods.length > 0) { %>
               <div class="row">
                  <% for (let product of prods) { %>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                     <div class="ms-card">
                        <div class="ms-card-img">
                           <%= lingua.language %>
                           <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                        </div>
                        <div class="ms-card-body">
                           <div class="new">
                              <h6 class="mb-0"></h6>
                              <h6 class="ms-text-primary mb-0"><%= product.price %> lej</h6>
                           </div>
                           <p><%= product.id %></p>
                           <div class="new mb-0">
                              <form action="/admin/delete-product" method="POST">
                                 <input type="hidden" value="<%= product.id %>" name="productId">
                                 <button class="btn grid-btn mt-0 btn-sm btn-primary" type="submit"><%= lingua.product_action_delete %></button>
                              </form>
                              <a href="/admin/edit-product/<%= product.id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.product_action_edit %></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% } %>
               </div>
            </div>
         </div>
         <% } else { %>
         <h1>No Products Found!</h1>
         <% } %>

<select id="select">
   <option value="default">
      default
   </option>
   
</select>
         <script>
            var select = document.getElementById("select"),
            arr = ['ok',"oks"];
            for (var i=0; i<arr.length; i++){
               var option = document.createElement("option"),
               txt = document.createTextNode(arr[i]);
               option.appendChild(txt);
               option.setAttribute("value", arr[i]);
               select.insertBefore(option, select.lastChild)
            }
         </script>
      </div>
   </main>
   <%- include('../includes/end.ejs')
      %>
</body>