

<%- include('../includes/head.ejs') %>
<script>
$(document).ready(function() {
	$('#searchProduct').keyup(function() {
		const productId = $('#searchProduct').val();
		console.log(productId)
		$.get("get-filtered-product/" + productId).done(function(data) {
			$("#searchedProduct").html(data);
		});
	});
})
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"><%= lingua.all_products %></a></li>
               <li role="presentation"><a class="add-product" href="/admin/add-product"><%= lingua.create_product %></a></li>
            </ul>
         </div>
      </div>
      <% if ( checkVariantLength.length <2) { %>
      <script>
         $('.add-product').click(function () {return false;});
      </script>
      <div class="alert alert-danger" role="alert">
         <i class="flaticon-alert-1"></i> <strong class="alert-message-popup"></strong><%= lingua.product_variant_message %>
      </div>
      <% } %>
      <% if ( checkBoxLength.length === 0) { %>
      <script>
         $('.add-product').click(function () {return false;});
      </script>
      <div class="alert alert-danger" role="alert">
         <i class="flaticon-alert-1"></i> <strong class="alert-message-popup">
            <%= lingua.product_box_message %></strong>
      </div>
      <% } %>
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-md-12">
               <div class="col-12">
                  <div class="ms-panel">
                     <div class="ms-panel-header">
                        <h6><%= lingua.products %></h6>
                     </div>
                     <div class="ms-panel-body">
                        <div class="table-responsive">
                           <table id="searchedProduct" class="table table-hover thead-primary">
                              <% if (prods.length > 0) { %>
                              <thead>
                                 <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col"><%= lingua.product_list_name %></th>
                                    <th scope="col">Varians</th>
                                    <th scope="col"><%= lingua.product_list_status %></th>
                                    <th scope="col" class="buttons-text-variants"><%= lingua.product_list_operation %></th>
                                    <th scope="col" ><%= lingua.product_list_operation %></th>
                                 </tr>
                              </thead>
                              <div class="col-6">
                                 <input type="text" name="searchProduct" id="searchProduct" placeholder="<%= lingua.search_product %>" class="form-control extra-search" />
                              </div>
                              <hr>
                             
                              <% for (let i =0; i < prods.length; i++) { %>
                              <tbody class="product-all" >
                                 <tr>
                                    <th scope="row"><%= prods[i].id %></th>
                                    <td><%= prods[i].ProductTranslations[0].title %></td>
                                    <td><%= prods[i].ProductFinals[0].Variant.sku %></td>
                                    <td><span class="badge badge-success"><%= lingua.status_active %></span></td>
                                    <td>
                                       <form action="/admin/delete-product" method="POST">
                                          <input type="hidden" value="<%= prods[i].id %>" name="productId">
                                          <button class="btn grid-btn mt-0 btn-sm btn-primary" type="submit"><%= lingua.sold_out %></button>
                                       </form>
                                    </td>
                                    <td>        
                                       <a href="/admin/edit-product/<%= prods[i].id %>?edit=true" class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.button_edit %></a>
                                    </td>
                                 </tr>
                              </tbody>
                              <% } %>
                              <% } else { %>
                              <h4><%= lingua.no_products %></h4>
                              <% } %>
                           </table>
                        </div>
                        <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </main>
   <%- include('../includes/end.ejs')
      %>
</body>

