<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/allergen.ejs') %>

</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
     
      <form 
         id="createAllergen_form"
         class="ms-content-wrapper" 
         action="/admin/<% if (editing) { %>edit-allergen<% } else { %>add-allergen<% } %>"
         method="POST"
         enctype="multipart/form-data">
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="roName"><%= lingua.create_product_name1 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'roName') ? 'invalid' : '' %>"
                                 type="text"
                                 name="roName"
                                 autocomplete="off"
                                 id="roName"
                                 value="<% if (editing) { %><%= extra[0].AllergenTranslations[0].name %><% } %>">
                           </div>
                           <span class="error_form" id="roName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huName"><%= lingua.create_product_name2 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'huName') ? 'invalid' : '' %>"
                                 type="text"
                                 name="huName"
                                 autocomplete="off"
                                 id="huName"
                                 value="<% if (editing) { %><%= extra[0].AllergenTranslations[1].name %><% } %>">
                           </div>
                           <span class="error_form" id="huName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enName"><%= lingua.create_product_name3 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'enName') ? 'invalid' : '' %>"
                                 type="text"
                                 autocomplete="off"
                                 name="enName"
                                 id="enName"
                                 value="<% if (editing) { %><%= extra[0].AllergenTranslations[2].name %><% } %>">
                           </div>
                           <span class="error_form" id="enName_error_message"></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Product</h6>
                        </div>
                        <% if (editing) { %>
                        <input type="hidden" value="<%= extra.id %>" name="extraId">
                        <%for (let i = 0; i < extTranslations.length; i++){%>
                        <input type="hidden" value="<%= extTranslations[i].id %>" name="extTranId">
                        <%}%>
                        <% } %>
                        <button type="submit" id="createAllergen" class="btn btn-success has-icon" ><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>