<%- include('../includes/head.ejs') %>
<script>
                    $(function() { 
                    $("#categoryRo").change(function() { 
                       $("#categoryHu").val($(this).val());
                       $("#categoryEn").val($(this).val());
                    });
                    });
                  
                    $(function() { 
                    $("#categoryHu").change(function() { 
                       $("#categoryRo").val($(this).val());
                       $("#categoryEn").val($(this).val());
                    });
                    });
                  
                    $(function() { 
                    $("#categoryEn").change(function() { 
                       $("#categoryRo").val($(this).val());
                       $("#categoryHu").val($(this).val());
                    });
                    });
                  </script>  
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
  <%- include('../includes/navigation.ejs') %>

  <main class="body-content">
   
    <%- include('../includes/navigation-bar.ejs') %>
    <div
      class="ms-content-wrapper"
      action="/admin/<% if (editing) { %>edit-daily-menu<% } else { %>add-daily-menu<% } %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="row">
        <div class="col-xl-6 col-md-12">
          <div class="ms-panel ms-panel-fh">
            <div class="ms-panel-header">
              <h6>Add Product Form</h6>
            </div>
            <div class="ms-panel-body">
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="price"><%= lingua.create_product_price %></label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="number"
                        name="price"
                        id="price"
                        step="0.01"
                        value="<% if (editing) { %><%= product[0].dailyMenuFinals[0].price %><% } %>"
                      />
                      <div class="invalid-feedback">
                        Price 
                      </div>
                    </div>
                  </div>

           


           

               

                 
                  <div class="col-md-12 mb-3">
                    <label for="roDescription"><%= lingua.create_product_description1 %></label>
                    <div class="input-group">
                      <textarea
                        class="form-control"
                        name="roDescription"
                        id="roDescription"
                        rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[0].description %><% } %></textarea
                      >
                      <div class="invalid-feedback">
                        Please provide a message.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="huDescription"><%= lingua.create_product_description2 %></label>
                    <div class="input-group">
                      <textarea
                        class="form-control"
                        name="huDescription"
                        id="huDescription"
                        rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[1].description %><% } %></textarea
                      >
                      <div class="invalid-feedback">
                        Please provide a message.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <label for="enDescription"><%= lingua.create_product_description3 %></label>
                    <div class="input-group">
                      <textarea
                        class="form-control"
                        name="enDescription"
                        id="enDescription"
                        rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[2].description %><% } %></textarea
                      >
                      <div class="invalid-feedback">
                        Please provide a message.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <label for="validationCustom12"><%= lingua.create_product_image %></label>
                    <div class="custom-file">
                      <input type="file" name="image" id="image" />
                    </div>
                  </div>
                </div>
            
            </div>
          </div>
        </div>


     

        <div class="col-xl-6 col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="ms-panel">
                <div class="ms-panel-header">
                  <h6>Product</h6>
                </div>
                <div class="ms-panel-body">
                
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <% if (editing) { %><img src="/<%= product[0].imageUrl %>" alt="<%= product.price %>"><% }  %>
                      </div>
                     
                      </div>
                     
                    
                    </div>
                  
                </div>
                  <% if (editing) { %>
                  <input
                    type="hidden"
                    value="<%= dailyMenuId %>"
                    name="dailyMenuId"
                  />

                  <div class="col-md-6 mb-3">
                    <label for="validationCustom22">HU</label>
                    <div class="input-group">
                      <select class="form-control" for="categoryRo" id="categoryRo" name="categoryRo">
                       <option value="">HU</option>
                       <% for(let i = 0; i < allergens.length; i++) { %>       
                         <option id="categoryRo" name="categoryRo" value='<%= allergens[i].id %>'><%= allergens[i].allergenTranslations[0].name %></option>
                       <% } %>
                      </select>
                     
                    </div>
                    <span class="error_form" id="category_error_message"></span>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="validationCustom22">HU</label>
                    <div class="input-group">
                      <select class="form-control" for="categoryHu" id="categoryHu" name="categoryHu">
                       <option value="">HU</option>
                       <% for(let i = 0; i < allergens.length; i++) { %>       
                         <option id="categoryHu" name="categoryHu" value='<%= allergens[i].id %>'><%= allergens[i].allergenTranslations[1].name %></option>
                       <% } %>
                      </select>
                     
                    </div>
                    <span class="error_form" id="category_error_message"></span>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="validationCustom22">HU</label>
                    <div class="input-group">
                      <select class="form-control" for="categoryEn" id="categoryEn" name="categoryEn">
                       <option value="">HU</option>
                       <% for(let i = 0; i < allergens.length; i++) { %>       
                         <option id="categoryEn" name="categoryEn" value='<%= allergens[i].id %>'><%= allergens[i].allergenTranslations[2].name %></option>
                       <% } %>
                      </select>
                     
                    </div>
                    <span class="error_form" id="category_error_message"></span>
                  </div>

                   
                  <% } %>

                  <button class="btn" type="submit">
                    <% if (editing) { %>Update Product<% } else { %>Add
                    Product<% } %>
                  </button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    $(document).ready(function() {
      $("#datepick").datepicker();
  });
  </script>

 
</body>