

<%- include('../includes/head.ejs') %>
<script>
  
   $( function() {
     $( "#datepicker" ).datepicker({ minDate: 0 });
   } );
   
   
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div
         class="ms-content-wrapper"
         action="/admin/<% if (editing) { %>edit-daily-menu<% } else { %>add-daily-menu<% } %>"
         method="POST"
         enctype="multipart/form-data"
         >
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Napi menu letrehozas</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <form
                           class="product-form"
                           action="/admin/<% if (editing) { %>edit-daily-menu<% } else { %>add-daily-menu<% } %>"
                           method="POST"
                           enctype="multipart/form-data"
                           >
                           <label for="roTitle">Ro name</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="roTitle"
                                 id="roTitle"
                                 value="<% if (editing) { %><%= product[0].dailyMenuTranslations[0].title %><% } %>">
                           </div>
                           <label for="huTitle">Hu name</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="huTitle"
                                 id="huTitle"
                                 value="<% if (editing) { %><%= product[0].dailyMenuTranslations[1].title %><% } %>">
                           </div>
                           <label for="enTitle">Eng name</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="enTitle"
                                 id="enTitle"
                                 value="<% if (editing) { %><%= product[0].dailyMenuTranslations[2].title %><% } %>">
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="datepicker">datepicker</label>
                              <div class="input-group">
                                 <input
                                    class="form-control"
                                    type="text"
                                    id="datepicker"
                                    name="datepicker"
                                    autocomplete="off"
                                    value="<% if (editing) { %><%= product[0].dailyMenuFinals[0].time.toUTCString() %><% } %>"
                                    />
                                 <div class="invalid-feedback">
                                    datepicker 
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 mb-3">
                              <label for="price"><%= lingua.create_product_price %></label>
                              <div class="input-group">
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="price"
                                    id="price"
                                    step="0.01"
                                    value="<% if (editing) { %><%= product[0].dailyMenuFinals[0].price %><% } %>"
                                    />
                                 <div class="invalid-feedback">
                                    Price 
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="roDescription"><%= lingua.create_product_description1 %></label>
                              <div class="input-group">
                                 <textarea
                                    class="form-control"
                                    name="roDescription"
                                    id="roDescription"
                                    rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[0].description %><% } %></textarea
                                    >
                                 <div class="invalid-feedback">
                                    Please provide a message.
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="huDescription"><%= lingua.create_product_description2 %></label>
                              <div class="input-group">
                                 <textarea
                                    class="form-control"
                                    name="huDescription"
                                    id="huDescription"
                                    rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[1].description %><% } %></textarea
                                    >
                                 <div class="invalid-feedback">
                                    Please provide a message.
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="enDescription"><%= lingua.create_product_description3 %></label>
                              <div class="input-group">
                                 <textarea
                                    class="form-control"
                                    name="enDescription"
                                    id="enDescription"
                                    rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[2].description %><% } %></textarea
                                    >
                                 <div class="invalid-feedback">
                                    Please provide a message.
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="validationCustom12"><%= lingua.create_product_image %></label>
                              <div class="custom-file">
                                 <input accept="image/png, image/jpeg,image/jpeg" type="file" name="image" id="image" />
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
            <div class="row">
            <div class="col-md-12">
            <div class="ms-panel">
            <div class="ms-panel-header">
            <h6>Product</h6>
            </div>
            <div class="ms-panel-body">
            <div class="carousel-inner">
            <div class="carousel-item active">
            <% if (editing) { %><img src="/<%= product[0].imageUrl %>" alt="<%= product.price %>"><% }  %>
            </div>
            </div>
            </div>
            </div>
            <input
               type="hidden"
               value="<%= dailyMenuId %>"
               name="dailyMenuId"
               />
            <button class="btn btn-success has-icon" type="submit">
            <% if (editing) { %>Update Product<% } else { %>Add
            Product<% } %>
            </button>
            </form>
            </div>
            </div>
            </div>
         </div>
      </div>
      </div>
      </div>
   </main>
   <script>
      $(function() { 
      $("#categoryRo").change(function() { 
         $("#categoryHu").val($(this).val());
         $("#categoryEn").val($(this).val());
      });
      });
      
      $(function() { 
      $("#categoryHu").change(function() { 
         $("#categoryRo").val($(this).val());
         $("#categoryEn").val($(this).val());
      });
      });
      
      $(function() { 
      $("#categoryEn").change(function() { 
         $("#categoryRo").val($(this).val());
         $("#categoryHu").val($(this).val());
      });
      });
   </script>    
</body>
