

<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
      $('.status-checkbox').click(function() {
         var extraId = $(this).attr('data-extraId');
         if($(this).is(':checked')) {
            $('.status-'+extraId).val('on');
         } else {
            $('.status-'+extraId).val('off');
         }
      });
   });
</script>

<script>
   $(function () {
     $("#roName_error_message").hide();
     $("#huName_error_message").hide();
     $("#enName_password_error_message").hide();
   
     var error_roName = false;
     var error_huName = false;
     var error_enName = false;
     var error_sku = false;
   
     $("#roName").focusout(function () {
       check_roName();
     });
   
     $("#huName").focusout(function(){
        check_huName();
     })
   
     $("#enName").focusout(function(){
        check_enName();
     })
     
     function check_roName() {
       var roName_length = $("#roName").val().length;
   
       if (roName_length < 2 || roName_length > 40) {
         $("#roName_error_message").html(`<%= lingua.extra_ro_name_required %>`);
         $("#roName_error_message").show();
         error_roName = true;
       } else {
         $("#roName_error_message").hide();
       }
     }
   
     function check_huName() {
       var huName_length = $("#huName").val().length;
   
       if (huName_length < 2 || huName_length > 40) {
         $("#huName_error_message").html(`<%= lingua.extra_hu_name_required %>`);
         $("#huName_error_message").show();
         error_huName = true;
       } else {
         $("#huName_error_message").hide();
       }
     }
   
     function check_enName() {
       var enName_length = $("#enName").val().length;
   
       if (enName_length < 2 || enName_length > 40) {
         $("#enName_error_message").html(`<%= lingua.extra_en_name_required %>`);
         $("#enName_error_message").show();
         error_enName = true;
       } else {
         $("#enName_error_message").hide();
       }
     }
    
     $("#registration_form").submit(function () {
       error_roName = false;
       error_huName = false;
       error_enName = false;
   
       check_roName();
       check_huName();
       check_enName();
   
       if (
         error_roName == false &&
         error_huName == false &&
         error_enName == false 
       ) {
         return true;
       } else {
         return false;
       }
     });
   });
   </script>


<script>
   $( function() {
     $( "#datepicker" ).datepicker({ minDate: 0 });
   } );
   
   
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div
         class="ms-content-wrapper"
         action="/admin/<% if (editing) { %>edit-daily-menu<% } else { %>add-daily-menu<% } %>"
         method="POST"
         enctype="multipart/form-data"
         >
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Napi menu letrehozas</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <form
                           class="product-form"
                           action="/admin/<% if (editing) { %>edit-daily-menu<% } else { %>add-daily-menu<% } %>"
                           method="POST"
                           enctype="multipart/form-data"
                           name="dailyMenuForm"
                           >
                           <label for="roTitle">Ro name</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="roTitle"
                                 id="roTitle"
                                 value="<% if (editing) { %><%= product[0].dailyMenuTranslations[0].title %><% } %>">
                           </div>
                           <span class="error_form" id="roTitle"></span>
                           <label for="huTitle">Hu name</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="huTitle"
                                 id="huTitle"
                                 value="<% if (editing) { %><%= product[0].dailyMenuTranslations[1].title %><% } %>">
                           </div>
                           <label for="enTitle">Eng name</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="enTitle"
                                 id="enTitle"
                                 value="<% if (editing) { %><%= product[0].dailyMenuTranslations[2].title %><% } %>">
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="datepicker">datepicker</label>
                              <div class="input-group">
                                 <input
                                    class="form-control"
                                    type="text"
                                    id="datepicker"
                                    name="datepicker"
                                    autocomplete="off"
                                    value="<% if (editing) { %><%= product[0].dailyMenuFinals[0].time.toUTCString() %><% } %>"
                                    />
                                 <div class="invalid-feedback">
                                    datepicker 
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 mb-3">
                              <label for="price"><%= lingua.create_product_price %></label>
                              <div class="input-group">
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="price"
                                    id="price"
                                    step="0.01"
                                    value="<% if (editing) { %><%= product[0].dailyMenuFinals[0].price %><% } %>"
                                    />
                                 <div class="invalid-feedback">
                                    Price 
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="roDescription"><%= lingua.create_product_description1 %></label>
                              <div class="input-group">
                                 <textarea
                                    class="form-control"
                                    name="roDescription"
                                    id="roDescription"
                                    rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[0].description %><% } %></textarea
                                    >
                                 <div class="invalid-feedback">
                                    Please provide a message.
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="huDescription"><%= lingua.create_product_description2 %></label>
                              <div class="input-group">
                                 <textarea
                                    class="form-control"
                                    name="huDescription"
                                    id="huDescription"
                                    rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[1].description %><% } %></textarea
                                    >
                                 <div class="invalid-feedback">
                                    Please provide a message.
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="enDescription"><%= lingua.create_product_description3 %></label>
                              <div class="input-group">
                                 <textarea
                                    class="form-control"
                                    name="enDescription"
                                    id="enDescription"
                                    rows="5"> <% if (editing) { %><%= product[0].dailyMenuTranslations[2].description %><% } %></textarea
                                    >
                                 <div class="invalid-feedback">
                                    Please provide a message.
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <label for="validationCustom12"><%= lingua.create_product_image %></label>
                              <div class="custom-file">
                                 <input accept="image/png, image/jpeg,image/jpeg" type="file" name="image" id="image" />
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
          
      <script>
         $('#image').change(function(){
            $('#dailyMenuSendButton').prop('disabled', false);
         });
      </script>
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                 <div class="ms-panel-header">
                   <h6>Allergén hozzárendelése extrához</h6>
                 </div>
                 <div class="ms-panel-body">
                   <p class="ms-directions"><code>Nem elfelejteni bejelölni az extrához hozzátartozó allergéneket</code>
                   </p>
                     <div class="row">
                       <div class="col-md-12">
                         <ul class="ms-list ms-list-display">
                           <%  for (let i = 0; i <allergenArray.length; i++) { %>
                              <input
                              type="hidden"
                              value="<%= allergenArray[i].id %>"
                              name="allergenId"
                              /> 
                           <li>
                             <label class="ms-switch" data-extra="<%= allergenArray[i].id %>">
                              <input type="hidden" value="off" class="status-<%= allergenArray[i].id %>" name="status[<%= allergenArray[i].id %>]" > 
                               <input data-extraId="<%= allergenArray[i].id %>"  class="status-checkbox status-checkbox-<%= allergenArray[i].id %>" type="checkbox"> <span class="ms-switch-slider ms-switch-success round"></span>
                             </label> <span> <%= allergenArray[i].allergenTranslations[0].name %> </span>
                           </li>
                           <% } %>
                         </ul>
                       </div>
                     </div>
                 </div>
               </div>
             </div>

             <% if (editing) { %>
               <% for (let i = 0; i < isActiveAllergen.length; i++) { %>
                  <% if (isActiveAllergen[i].dailyMenuHasAllergens[0].active == 1) { %>
                     
                     <script>
                         $(document).ready(function() {
                         var activeCheckbox ="<%= isActiveAllergen[i].dailyMenuHasAllergens[0].allergenId %>";
                         $('.status-checkbox-'+activeCheckbox).prop('checked', true);
                         $('.status-'+activeCheckbox).val('on');
                         });
                     </script>
                        
                     <% } 
                  %>
               <% } %>
               <% } %>
           
            <div class="col-xl-6 col-md-12">
            <div class="row">
            <div class="col-md-12">
            <div class="ms-panel">
            <div class="ms-panel-header">
            <h6>Product</h6>
            </div>
            <div class="ms-panel-body">
            <div class="carousel-inner">
            <div class="carousel-item active">
            <% if (editing) { %><img src="/<%= product[0].imageUrl %>" alt="<%= product.price %>"><% }  %>
            </div>
            </div>
            </div>
            </div>
            <input
               type="hidden"
               value="<%= dailyMenuId %>"
               name="dailyMenuId"
               />
            <button disabled id="dailyMenuSendButton"  name="dailyMenuSendButton" class="btn btn-success has-icon" type="submit">
            <% if (editing) { %>Update Product<% } else { %>Add
            Product<% } %>
            </button>
            </form>
            </div>
            </div>
            </div>
         </div>
      </div>
      </div>
      </div>
   </main>
   <script>
      $(function() { 
      $("#categoryRo").change(function() { 
         $("#categoryHu").val($(this).val());
         $("#categoryEn").val($(this).val());
      });
      });
      
      $(function() { 
      $("#categoryHu").change(function() { 
         $("#categoryRo").val($(this).val());
         $("#categoryEn").val($(this).val());
      });
      });
      
      $(function() { 
      $("#categoryEn").change(function() { 
         $("#categoryRo").val($(this).val());
         $("#categoryHu").val($(this).val());
      });
      });
   </script>    
</body>
