<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/property.ejs') %>
<script>
   let counter =0;
    $(function() {
        $('#add').on('click', function( e ) {
           
           counter +=1;
          
            e.preventDefault();
            $('<div/>').addClass( 'new-text-div' )
            .html( $(`   <div class="ms-panel-body cnt">
               <input type="hidden" value="${counter}" name="counter" id="counter">
                     <div class="form-row">
                        <input type="hidden" value="${counter}" name="propVName">
                        <div class="col-md-12 mb-3">
                           <label for="propVroName${counter}"><%= lingua.box_name_ro %></label>
                           <div class="input-group">
                              <input
                                 class="form-control propValRo"
                                 type="text"
                                 autocomplete="off"
                                 name="propVroName${counter}"
                                 id="propVroName${counter}"
                                 value="<% if (editing) { %><%=  %><% } %>">
                           </div>
                           <span class="error_form" id="propValRo_error_message${counter}"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="propVhuName${counter}"><%= lingua.box_name_ro %></label>
                           <input type="hidden" value="${counter}"  name="propVName">
                           <div class="input-group">
                              <input
                                 class="form-control propValHu"
                                 type="text"
                                 autocomplete="off"
                                 name="propVhuName${counter}"
                                 id="propVhuName${counter}"
                                 value="<% if (editing) { %><%=  %><% } %>">
                           </div>
                           <span class="error_form" id="propValHu_error_message${counter}"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="propVenName${counter}"><%= lingua.box_name_ro %></label>
                           <div class="input-group">
                              <input
                                 class="form-control propValEn"
                                 type="text"
                                 autocomplete="off"
                                 name="propVenName${counter}"
                                 id="propVenName${counter}"
                                 value="<% if (editing) { %><%=  %><% } %>">
                           </div>
                           <span class="error_form" id="propValEn_error_message${counter}"></span>
                        </div>
                        </div>
                        </div>`).addClass( 'someclass' ) )
            .append( $('<button/>').addClass( 'remove btn-danger button-remove-ct' ).text( 'Removed' ) )
            .insertBefore( this );
        });
        $(document).on('click', 'button.remove', function( e ) {
            e.preventDefault();
            $(this).closest( 'div.new-text-div' ).remove();
        });
        <% if(!editing){ %> 
        $("#add").trigger("click");
        <% } %>
    }
    
    
    );
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <span class="error_form" id="counter_error_message"></span>

      <form 
         id="createProperty_form"
         class="ms-content-wrapper" 
         action="/admin/<% if (editing) { %>edit-property<% } else { %>add-property<% } %>"
         method="POST"
         enctype="multipart/form-data">
         <div class="row">
            <div class="col-xl-6 col-md-12" style="
            height: 533px;">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <p class="ms-directions"><code><%= lingua.extra_allergen_subtitle %></code>
                     </p>
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="roName"><%= lingua.box_name_ro %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 autocomplete="off"
                                 name="roName"
                                 id="roName"
                                 value="<% if (editing) { %><%= propTrans[0].name %><% } %>">
                           </div>
                           <span class="error_form" id="roName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huName"><%= lingua.box_name_hu %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 autocomplete="off"
                                 name="huName"
                                 id="huName"
                                 value="<% if (editing) { %><%= propTrans[1].name %><% } %>">
                           </div>
                           <span class="error_form" id="huName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enName"><%= lingua.box_name_en %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 autocomplete="off"
                                 name="enName"
                                 id="enName"
                                 value="<% if (editing) { %><%= propTrans[2].name %><% } %>">
                           </div>
                           <span class="error_form" id="enName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <button type="submit" name="createProperty" id="createProperty" class="btn btn-success has-icon" ><% if (editing) { %><%=lingua.button_editing %><% } else { %><%= lingua.create_category %><% } %></button>
                        </div>
                     </div>
                  </div>
                  <% if (editing) { %>
                  <input type="hidden" value="<%= propertyId %>" name="propertyId">
                  <%for (let i = 0; i < propTrans.length; i++){%>
                     <input type="hidden" value="<%= propTrans[i].id %>" name="propTransId">
                     <%}%>
                  <% } %>
               </div>
            </div>

            <% if(editing){ %>
               
            <div class="col-xl-6 col-md-12" style="
            height: 533px;">
               <div class="row">
                  <div class="col-md-12">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Product</h6>
                           <p class="ms-directions"><code><%= lingua.extra_allergen_subtitle %></code>
                           </p>
                        </div>
                        <% for(let i = 0; i < items.length; i++) { %>
                           <% if (i%3 == 0) { %>
                              <hr class="line-colour-hr-pr">
                         <% } %>
                         <div class="ms-panel-body format-div-pr">
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 <label for="roName"><%= lingua.box_name_ro %></label>
                                 <div class="input-group">
                                    <input type="hidden" value="<%= items[i].id %>" name="prodVarTransId">
                                    <input type="hidden" value="<%= items[i].languageId %>" name="prodVarTransLanguageId">
                                    <input
                                       class="form-control"
                                       type="text"
                                       autocomplete="off"
                                       name="updatedName"
                                       id="roName"
                                       value="<% if (editing) { %><%= items[i].name %><% } %>">
                                 </div>
                                 <span class="error_form" id="roName_error_message"></span>
                              </div>
                           </div>
                        </div>
                        <% } %>
                    
                              
                           <button class="btn btn-success has-icon" id="add">Add</button>
                       
                     </div>
                  </div>
               </div>
            </div>
           
            <% } else{ %>  
               <div class="col-xl-6 col-md-12">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="ms-panel">
                         
                           <div class="ms-panel-header">
                              <h6>Product</h6>
                           </div>
                           <p class="ms-directions"><code><%= lingua.extra_allergen_subtitle %></code>
                           </p>
                               <div class="service_box">
                           <div class="form">
                         
                              
                           <button class="btn btn-success has-icon" id="add">Add</button>
                          
                        </div>
                     </div>
                                    
                        </div>
                     </div>
                  </div>
               </div>
               <% } %>

         </div>
         </div>
         </div>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>