<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/property.ejs') %>
<script>
   let counter =0;
    $(function() {
        $('#add').on('click', function( e ) {
           
           counter +=1;
          
            e.preventDefault();
            $('<div/>').addClass( 'new-text-div' )
            .html( $(`   <div class="form-group cnt">
               <input type="hidden" value="${counter}" name="counter" id="counter">
                     <div class="form-row">
                        <input type="hidden" value="${counter}" name="propVName">
                        <div class="col-md-12 mb-3">
                           <label for="propVroName${counter}"><%= lingua.box_name_ro %></label>
                           <div class="input-group">
                              <label for="sku">Variáns neve</label>
                              <input
                                 class="form-control propValRo"
                                 type="text"
                                 autocomplete="off"
                                 name="propVroName${counter}"
                                 id="propVroName${counter}"
                                 value="<% if (editing) { %><%=  %><% } %>">
                           </div>
                           <span class="error_form" id="propValRo_error_message${counter}"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="propVhuName${counter}"><%= lingua.box_name_ro %></label>
                           <input type="hidden" value="${counter}"  name="propVName">
                           <div class="input-group">
                              <input
                                 class="form-control propValHu"
                                 type="text"
                                 autocomplete="off"
                                 name="propVhuName${counter}"
                                 id="propVhuName${counter}"
                                 value="<% if (editing) { %><%=  %><% } %>">
                           </div>
                           <span class="error_form" id="propValHu_error_message${counter}"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="propVenName${counter}"><%= lingua.box_name_ro %></label>
                           <div class="input-group">
                              <input
                                 class="form-control propValEn"
                                 type="text"
                                 autocomplete="off"
                                 name="propVenName${counter}"
                                 id="propVenName${counter}"
                                 value="<% if (editing) { %><%=  %><% } %>">
                           </div>
                           <span class="error_form" id="propValEn_error_message${counter}"></span>
                        </div>
                        </div>
                        </div>`).addClass( 'someclass' ) )
            .append( $('<button/>').addClass( 'remove btn-danger button-remove-ct' ).text( 'Removed' ) )
            .insertBefore( this );
        });
        $(document).on('click', 'button.remove', function( e ) {
            e.preventDefault();
            $(this).closest( 'div.new-text-div' ).remove();
        });
        <% if(!editing){ %> 
        $("#add").trigger("click");
        <% } %>
    }
    
    
    );
</script>
  </head>
  <body class="hold-transition sidebar-mini">
     <form name="myForm"
     action="/admin/<% if (editing) { %>edit-variant<% } else { %>add-variant<% } %>"
     method="POST"
     enctype="multipart/form-data"
     id="variant_form">
    <div class="wrapper">
      <%- include('../includes/nav.ejs') %> <%- include('../includes/aside.ejs')
      %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Variáns testreszabása</h1>
              </div>
            
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-secondary">
                  <div class="card-header">
                    <h3 class="card-title">Variáns fő adatai</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
               
                    <div class="card-body">
                      <div class="form-group">
                        <label for="sku">Variáns neve</label>
                        <input
                        name="sku"
                          type="text"
                          class="form-control"
                          id="sku"
                          placeholder="Variáns neve"
                          value="<% if (editing) { %><%= variant[0].ProductVariantsExtras[0].Variant.sku %><% } %>">
                      </div>
                      <div class="form-group">
                        <label for="sku">Variáns neve</label>
                        <input
                        name="sku"
                          type="text"
                          class="form-control"
                          id="sku"
                          placeholder="Variáns neve"
                          value="<% if (editing) { %><%= variant[0].ProductVariantsExtras[0].Variant.sku %><% } %>">
                      </div>
                      <div class="form-group">
                        <label for="sku">Variáns neve</label>
                        <input
                        name="sku"
                          type="text"
                          class="form-control"
                          id="sku"
                          placeholder="Variáns neve"
                          value="<% if (editing) { %><%= variant[0].ProductVariantsExtras[0].Variant.sku %><% } %>">
                      </div>
                    
                    
                     
                      <div class="row">
                       
                     
                       
                        
                          
                       
                      </div>
                    </div>
                  
                    <!-- /.card-body -->

                    <div class="card-footer">
                      <button type="submit" class="btn btn-secondary">
                        Mentés
                      </button>
                    </div>
                  </form>
                </div>
              
                <!-- /.card -->
                 </div>
             
             <div class="col-md-6"  >

                <!-- /.card -->
                <!-- general form elements disabled -->
                <div class="card card-secondary" >
                  <div class="card-header" >
                    <h3 class="card-title" >Variáns alkategóriába sorolása</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" >
                   
                   
                      <div  class="row" >
                        <div class="col-sm-12">
                          <!-- select -->
                        
                       
                        </div>
                        <button class="btn btn-success has-icon" id="add">Add</button>
                         
                      </div>
                    
                     
                     
                    </form>
                  </div>
                  
                  <!-- /.card-body -->
                </div>
                
                <!-- /.card -->
              </div>
              
              <!--/.col (right) -->
            </div>
       

            
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
   </form>
   <%- include('../includes/footer.ejs') %>
      <!-- /.content-wrapper -->
    

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
      $(function () {
        bsCustomFileInput.init();
      });
    </script>
  </body>
</html>
