<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div >
         <div class="ms-content-wrapper editprofiledown">
            <div class="ms-profile-overview">
               <div class="ms-profile-cover">
                  <img class="ms-profile-img" src="/<%= admin.profileImagePath %>" alt="<%= admin.fullName %>">
                  <div class="ms-profile-user-info">
                     <h3 class="ms-profile-username text-white"><%= admin.fullName %></h3>
                  </div>
               </div>
               <div class="tab-content">
                  <div class="tab-pane" id="tab1">
                  </div>
                  <div class="tab-pane" id="tab2">
                  </div>
                  <div class="tab-pane" id="tab3">
                  </div>
               </div>
            </div>
            <form 
               class="ms-content-wrapper"
               action="/admin/<% if (editing) { %>edit-opening-hours<% } %>"
               method="POST"
               enctype="multipart/form-data"
               >
              
               <% for(let i = 0; i < admin.length; i++) { %>
               <div class="row">
                  <div class="col-md-6">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Hétfő</h6>
                        </div>

                        <script>
                          $(function() {
                           $('#mondayOpen').timepicker({
                           'minTime': '05:00am',
                           'maxTime': '11:30pm',
                           'showDuration': true,
                           "show2400": true
                           });
                        });
                        </script>

                        <script>
                           $(function() {
                           $('#mondayClose').timepicker({
                           'minTime': '1:00pm',
                           'maxTime': '11:30pm',
                           'showDuration': true,
                           "show2400": true
                           });
                        });
                        </script>

                        <div class="ms-panel-body">
                           <div class="form-group">
                              <label for="roAdress">nyitas</label>
                              <input
                                 class="form-control"
                                 type="text"
                                 id="mondayOpen"
                                 name="mondayOpen"
                                 value="<% if (editing ) { %><%= admin[0].hours[0].openingHour.open %><% } %>"
                                 />
                           </div>
                           <div class="form-group">
                              <label for="huAdress">zaras</label>
                              <input
                                 class="form-control"
                                 type="text"
                                 id="mondayClose"
                                 name="mondayClose"
                                 value="<% if (editing) { %><%= admin[0].hours[0].openingHour.close %><% } %>"
                                 />
                           </div>
                          
                        </div>
                     </div>



                   
                  </div>

                  <script>
                     $(function() {
                      $('#tuesdayOpen').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>

                   <script>
                      $(function() {
                      $('#tuesdayClose').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>

                  <div class="col-md-6">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Kedd</h6>
                        </div>
                        <div class="ms-panel-body">
                           <div class="form-group">
                              <label for="tuesdayOpen">nyitas</label>
                              <input
                                 class="form-control"
                                 type="text"
                                 name="tuesdayOpen"
                                 id="tuesdayOpen"
                                 value="<% if (editing ) { %><%= admin[0].hours[1].openingHour.open %><% } %>"
                                 />
                           </div>
                           <div class="form-group">
                              <label for="huAdress">zaras</label>
                              <input
                                 class="form-control"
                                 type="text"
                                 name="tuesdayClose"
                                 id="tuesdayClose"
                                 value="<% if (editing) { %><%= admin[0].hours[1].openingHour.close %><% } %>"
                                 />
                           </div>
                          
                        </div>
                     </div>
                  </div>

                  <script>
                     $(function() {
                      $('#wednesdayOpen').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>

                   <script>
                      $(function() {
                      $('#wednesdayClose').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>
                  <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6>Szerda</h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="wednesdayOpen">nyitas</label>
                             <input
                                class="form-control"
                                type="text"
                                name="wednesdayOpen"
                                id="wednesdayOpen"
                                value="<% if (editing ) { %><%= admin[0].hours[2].openingHour.open %><% } %>"
                                />
                          </div>
                          <div class="form-group">
                             <label for="wednesdayClose">zaras</label>
                             <input
                                class="form-control"
                                type="text"
                                name="wednesdayClose"
                                id="wednesdayClose"
                                value="<% if (editing) { %><%= admin[0].hours[2].openingHour.close %><% } %>"
                                />
                          </div>
                          
                       </div>
                    </div>
                 </div>
                 <script>
                  $(function() {
                   $('#thursdayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#thursdayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>
                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6>Csutortok</h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="thursdayOpen">nyitas</label>
                             <input
                                class="form-control"
                                type="text"
                                name="thursdayOpen"
                                id="thursdayOpen"
                                value="<% if (editing ) { %><%= admin[0].hours[3].openingHour.open %><% } %>"
                                />
                          </div>
                          <div class="form-group">
                             <label for="thursdayClose">zaras</label>
                             <input
                                class="form-control"
                                type="text"
                                name="thursdayClose"
                                id="thursdayClose"
                                value="<% if (editing) { %><%= admin[0].hours[3].openingHour.close %><% } %>"
                                />
                          </div>
                          
                       </div>
                    </div>
                 </div>
                 <script>
                  $(function() {
                   $('#fridayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#fridayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>
                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6>Pentek</h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="fridayOpen">nyitas</label>
                             <input
                                class="form-control"
                                type="text"
                                name="fridayOpen"
                                id="fridayOpen"
                                value="<% if (editing ) { %><%= admin[0].hours[4].openingHour.open %><% } %>"
                                />
                          </div>
                          <div class="form-group">
                             <label for="fridayClose">zaras</label>
                             <input
                                class="form-control"
                                type="text"
                                name="fridayClose"
                                id="fridayClose"
                                value="<% if (editing) { %><%= admin[0].hours[4].openingHour.close %><% } %>"
                                />
                          </div>
                          
                       </div>
                    </div>
                 </div>
                 <script>
                  $(function() {
                   $('#saturdayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#saturdayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>
                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6>szombat</h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="saturdayOpen">nyitas</label>
                             <input
                                class="form-control"
                                type="text"
                                name="saturdayOpen"
                                id="saturdayOpen"
                                value="<% if (editing ) { %><%= admin[0].hours[5].openingHour.open %><% } %>"
                                />
                          </div>
                          <div class="form-group">
                             <label for="saturdayClose">zaras</label>
                             <input
                                class="form-control"
                                type="text"
                                name="saturdayClose"
                                id="saturdayClose"
                                value="<% if (editing) { %><%= admin[0].hours[5].openingHour.close %><% } %>"
                                />
                          </div>
                          
                       </div>
                    </div>
                 </div>

                 <script>
                  $(function() {
                   $('#sundayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#sundayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6>vasarnap</h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="sundayOpen">nyitas</label>
                             <input
                                class="form-control"
                                type="text"
                                name="sundayOpen"
                                id="sundayOpen"
                                value="<% if (editing ) { %><%= admin[0].hours[6].openingHour.open %><% } %>"
                                />
                          </div>
                          <div class="form-group">
                             <label for="sundayClose">zaras</label>
                             <input
                                class="form-control"
                                type="text"
                                name="sundayClose"
                                id="sundayClose"
                                value="<% if (editing) { %><%= admin[0].hours[6].openingHour.close %><% } %>"
                                />
                          </div>
                          
                       </div>
                    </div>
                    <% } %>
                    <% if (editing) { %>
                     <input
                        type="hidden"
                        value="<%= admin.id %>"
                        name="restaurantId"
                        />
                     <% } %>
                     <button class="btn btn-success" type="submit">
                     <% if (editing) { %><%= lingua.update_profile %><% } else { %>Add
                     Product<% } %>
                     </button>
                 </div>
                 
                 
               </div>
         </div>
      </div>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>