<%- include('../includes/head.ejs') %>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div >
         <div class="ms-content-wrapper editprofiledown">
            <div class="ms-profile-overview">
               <div class="ms-profile-cover" style="background-image: url("")">
                  <img class="ms-profile-img" src="/<%= admin[0].profileImage %>" alt="<%= admin[0].fullName %>">
                  <div class="ms-profile-user-info">
                     <h3 class="ms-profile-username text-white"><%= admin[0].fullName %></h3>
                  </div>
               </div>
               
            </div>
            <form 
               class="ms-content-wrapper"
               action="/admin/<% if (editing) { %>edit-opening-Hours<% } %>"
               method="POST"
               enctype="multipart/form-data"
               id="updateOpening"
               >
              
             

               <% for(let i = 0; i < admin.length; i++) { %>
               <div class="row">
                  <div class="col-md-6">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6><%= lingua.monday %></h6>
                        </div>

                        <script>
                          $(function() {
                           $('#mondayOpen').timepicker({
                           'minTime': '05:00am',
                           'maxTime': '11:30pm',
                           'showDuration': true,
                           "show2400": true
                           });
                        });
                        </script>

                        

                        <script>
                           $(function() {
                           $('#mondayClose').timepicker({
                           'minTime': '1:00pm',
                           'maxTime': '11:30pm',
                           'showDuration': true,
                           "show2400": true
                           });
                        });
                        </script>

                        <div class="ms-panel-body">
                           <div class="form-group">
                              <label for="roAdress"><%= lingua.open %></label>
                              <input
                                 class="form-control"
                                 type="text"
                                 id="mondayOpen"
                                 name="mondayOpen"
                                 value="<% if (editing ) { %><%= admin[0].Hours[0].OpeningHour.open %><% } %>"
                                 />
                           </div>
                           <span class="error_form" id="mondayOpen_error_message"></span>

                           <div class="form-group">
                              <label for="huAdress"><%= lingua.close %></label>
                              <input
                                 class="form-control"
                                 type="text"
                                 id="mondayClose"
                                 name="mondayClose"
                                 value="<% if (editing) { %><%= admin[0].Hours[0].OpeningHour.close %><% } %>"
                                 />
                           </div>
                           <span class="error_form" id="mondayClose_error_message"></span>

                        </div>
                     </div>



                   
                  </div>

                  <script>
                     $(function() {
                      $('#tuesdayOpen').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>

                   <script>
                      $(function() {
                      $('#tuesdayClose').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>

                  <div class="col-md-6">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6><%= lingua.tuesday %></h6>
                        </div>
                        <div class="ms-panel-body">
                           <div class="form-group">
                              <label for="tuesdayOpen"><%= lingua.open %></label>
                              <input
                                 class="form-control"
                                 type="text"
                                 name="tuesdayOpen"
                                 id="tuesdayOpen"
                                 value="<% if (editing ) { %><%= admin[0].Hours[1].OpeningHour.open %><% } %>"
                                 />
                           </div>
                           <span class="error_form" id="tuesdayOpen_error_message"></span>

                           <div class="form-group">
                              <label for="huAdress"><%= lingua.close %></label>
                              <input
                                 class="form-control"
                                 type="text"
                                 name="tuesdayClose"
                                 id="tuesdayClose"
                                 value="<% if (editing) { %><%= admin[0].Hours[1].OpeningHour.close %><% } %>"
                                 />
                           </div>
                           <span class="error_form" id="tuesdayClose_error_message"></span>

                        </div>
                     </div>
                  </div>

                  <script>
                     $(function() {
                      $('#wednesdayOpen').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>

                   <script>
                      $(function() {
                      $('#wednesdayClose').timepicker({
                      'minTime': '1:00pm',
                      'maxTime': '11:30pm',
                      'showDuration': true,
                      "show2400": true
                      });
                   });
                   </script>
                  <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6><%= lingua.wednesday %></h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="wednesdayOpen"><%= lingua.open %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="wednesdayOpen"
                                id="wednesdayOpen"
                                value="<% if (editing ) { %><%= admin[0].Hours[2].OpeningHour.open %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="wednesdayOpen_error_message"></span>

                          <div class="form-group">
                             <label for="wednesdayClose"><%= lingua.close %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="wednesdayClose"
                                id="wednesdayClose"
                                value="<% if (editing) { %><%= admin[0].Hours[2].OpeningHour.close %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="wednesdayClose_error_message"></span>

                       </div>
                    </div>
                 </div>
                 <script>
                  $(function() {
                   $('#thursdayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#thursdayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>
                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6><%= lingua.thursday %></h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="thursdayOpen"><%= lingua.open %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="thursdayOpen"
                                id="thursdayOpen"
                                value="<% if (editing ) { %><%= admin[0].Hours[3].OpeningHour.open %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="thursdayOpen_error_message"></span>

                          <div class="form-group">
                             <label for="thursdayClose"><%= lingua.close %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="thursdayClose"
                                id="thursdayClose"
                                value="<% if (editing) { %><%= admin[0].Hours[3].OpeningHour.close %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="thursdayClose_error_message"></span>

                       </div>
                    </div>
                 </div>
                 <script>
                  $(function() {
                   $('#fridayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#fridayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>
                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6><%= lingua.friday %></h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="fridayOpen"><%= lingua.open %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="fridayOpen"
                                id="fridayOpen"
                                value="<% if (editing ) { %><%= admin[0].Hours[4].OpeningHour.open %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="fridayOpen_error_message"></span>

                          <div class="form-group">
                             <label for="fridayClose"><%= lingua.close %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="fridayClose"
                                id="fridayClose"
                                value="<% if (editing) { %><%= admin[0].Hours[4].OpeningHour.close %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="fridayClose_error_message"></span>

                       </div>
                    </div>
                 </div>
                 <script>
                  $(function() {
                   $('#saturdayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#saturdayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>
                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6><%= lingua.saturday %></h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="saturdayOpen"><%= lingua.open %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="saturdayOpen"
                                id="saturdayOpen"
                                value="<% if (editing ) { %><%= admin[0].Hours[5].OpeningHour.open %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="saturdayOpen_error_message"></span>

                          <div class="form-group">
                             <label for="saturdayClose"><%= lingua.close %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="saturdayClose"
                                id="saturdayClose"
                                value="<% if (editing) { %><%= admin[0].Hours[5].OpeningHour.close %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="saturdayClose_error_message"></span>

                       </div>
                    </div>
                 </div>

                 <script>
                  $(function() {
                   $('#sundayOpen').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                <script>
                   $(function() {
                   $('#sundayClose').timepicker({
                   'minTime': '1:00pm',
                   'maxTime': '11:30pm',
                   'showDuration': true,
                   "show2400": true
                   });
                });
                </script>

                 <div class="col-md-6">
                    <div class="ms-panel">
                       <div class="ms-panel-header">
                          <h6><%= lingua.sunday %></h6>
                       </div>
                       <div class="ms-panel-body">
                          <div class="form-group">
                             <label for="sundayOpen"><%= lingua.open %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="sundayOpen"
                                id="sundayOpen"
                                value="<% if (editing ) { %><%= admin[0].Hours[6].OpeningHour.open %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="sundayOpen_error_message"></span>

                          <div class="form-group">
                             <label for="sundayClose"><%= lingua.close %></label>
                             <input
                                class="form-control"
                                type="text"
                                name="sundayClose"
                                id="sundayClose"
                                value="<% if (editing) { %><%= admin[0].Hours[6].OpeningHour.close %><% } %>"
                                />
                          </div>
                          <span class="error_form" id="sundayClose_error_message"></span>

                       </div>
                    </div>
                    <% } %>
                    <% if (editing) { %>
                     <input
                        type="hidden"
                        value="<%= admin.id %>"
                        name="restaurantId"
                        />
                     <% } %>
                     <button class="btn btn-success" type="submit" id="updateOpeningHrBtn">
                     <% if (editing) { %><%= lingua.button_editing %><% } else { %>Add
                     Product<% } %>
                     </button>
                 </div>
                 
                 
               </div>
         </div>
      </div>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>