<%- include('../includes/head.ejs') %>
<script>
    $(document).ready(function() {
       $('.status-checkbox').click(function() {
          var searchId = $(this).attr('data-searchId');
          if($(this).is(':checked')) {
             $('.status-'+searchId).val('on');
          } else {
             $('.status-'+searchId).val('off');
          }
       });
    });
 </script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div >
         <div class="ms-content-wrapper editprofiledown">
          
            <form 
               class="ms-content-wrapper"
               action="/admin/<% if (editing) { %>edit-search-settings<% } %>"
               method="POST"
               enctype="multipart/form-data"
               >
               <div class="ms-content-wrapper">
                <div class="row">
                   <div class="col-md-12">
                    <h2>Hasznos</h2> 
                      <div class="row">
                            <input
                            type="hidden"
                            value="4"
                            name="searchId"
                            /> 
                            <% if (editing) { %>
                                <% for (let i = 0; i < isActive.length; i++) { %>
                                   <% if (isActive[i].active ==1) { %>
                                      
                                      <script>
                                          $(document).ready(function() {
                                          var activeCheckbox ="<%= isActive[i].active %>";
                                          $('.status-checkbox-'+activeCheckbox).prop('checked', true);
                                          $('.status-'+activeCheckbox).val('on');
                                          });
                                      </script>
                                         
                                      <% } 
                                   %>
                                <% } %>
                                <% } %>
                         
                            <% for(let i = 0; i < search.length; i++) { %>
                                <input
                                type="hidden"
                                value="<%= search[i].adminHomeSearchTranslations[0].searchId %>"
                                name="searchId"
                                />    
                         <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 extra_box" data-extra="4">
                            <div class="ms-card">
                               <div class="d-flex justify-content-center extra-margin-top">
                                     <div class="row"> 
                                        <label class="ms-switch" >                 
                                           <input type="hidden" value="off" class="status-<%= search[i].adminHomeSearchTranslations[0].active %>" name="status[<%= search[i].adminHomeSearchTranslations[0].active %>]" >          
                                           <input data-searchId="<%= search[i].adminHomeSearchTranslations[0].active %>" class="status-checkbox status-checkbox-<%= search[i].adminHomeSearchTranslations[0].active %>" type="checkbox"> <span class="ms-switch-slider ms-switch-success round"></span>
                                        </label> 
                                     </div>
                               </div>
                               <div class="ms-card-body">
                                  <div class="new d-flex justify-content-center extra-name">
                                     <h6 class="mb-0"><b><%=currentSearchName[i] %></b> </h6>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <% } %>
                         <button class="btn btn-success has-icon" id="votebutton" type="submit">
                            <% if (editing) { %>Update Product<% } else { %>Add
                            Product<% } %>
                            </button>
                      </div>
                   </div>
                </div>
             </div>
         </div>
      </div>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>