<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %> 

  <main class="body-content">

    <%- include('../includes/navigation-bar.ejs') %>
     <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <div >
    <div class="ms-content-wrapper editprofiledown">
      <div class="ms-profile-overview">
        <div class="ms-profile-cover">
   <img class="ms-profile-img" src="/<%= admin.imageUrl %>" alt="<%= admin.fullName %>">
          
          <div class="ms-profile-user-info">
            <h3 class="ms-profile-username text-white"><%= admin.fullName %></h3>           
          </div>        
        </div>
        <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
          <li role="presentation"><a href="/admin/dashboard" aria-controls="tab1"> Overview </a></li>
          <li role="presentation"><a class="active show" href="/admin/edit-profile/<%= admin.id %>?edit=true"> <%= lingua.product_action_edit %> </a></li>
          <li role="presentation"><a href="/admin/edit-photo/<%= admin.id %>?edit=true"> <%= lingua.admin_photo %> </a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="tab1">
          </div>
          <div class="tab-pane" id="tab2">
          </div>
          <div class="tab-pane" id="tab3">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
              <form 
              class="ms-content-wrapper"
              action="/admin/<% if (editing) { %>edit-profile<% } else { %>add-profile<% } %>"
              method="POST"
              enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input
                        class="form-control"
                        type="text"
                        name="email"
                        disabled
                        id="email"
                        value="<% if (editing) { %><%= admin[0].email %><% } %>"
                      />
                </div>
                <div class="form-group">
                  <label for="fullName">Full Name</label>
                  <input
                  class="form-control"
                  type="text"
                  name="fullName"
                  id="fullName"
                  value="<% if (editing) { %><%= admin[0].fullName %><% } %>"
                />
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Tel Numb.</label>
                  <input
                  class="form-control"
                  type="text"
                  name="phoneNumber"
                  id="phoneNumber"
                  value="<% if (editing) { %><%= admin[0].phoneNumber %><% } %>"
                />
                </div>
                <div class="form-group">
                  <label for="open">Open</label>
                  <input
                  class="form-control"
                  type="text"
                  name="open"
                  id="open"
                  value="<% if (editing) { %><%= admin[0].open %><% } %>"
                />
                </div>
                <div class="form-group">
                  <label for="close">Clsoed</label>
                  <input
                  class="form-control"
                  type="text"
                  name="close"
                  id="close"
                  value="<% if (editing) { %><%= admin[0].close %><% } %>"
                />
                </div>

                <div class="form-group">
                  <label for="commission">commission</label>
                  <input
                  class="form-control"
                  type="text"
                  name="commission"
                  id="commission"
                  disabled
                  value="<%= admin[0].commission %>"
                />
                </div>

                <div class="form-group">
                  <label for="date">Csatlakozas</label>
                  <input
                  class="form-control"
                  type="text"
                  name="date"
                  id="date"
                  disabled
                  value="<%= admin[0].createdAt %>"
                />
                </div>
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
              
                <div class="form-group">
                  <label for="roAdress">RO ADRESS</label>
                  <input
                  class="form-control"
                  type="text"
                  name="roAdress"
                  id="roAdress"
                  value="<% if (editing ) { %><%= admin[0].adminInfos[0].adress %><% } %>"
                />
                </div>
                <div class="form-group">
                  <label for="huAdress">HU ADRESS</label>
                  <input
                        class="form-control"
                        type="text"
                        name="huAdress"
                        id="huAdress"
                        value="<% if (editing) { %><%= admin[0].adminInfos[1].adress %><% } %>"
                      />
                </div>

                <div class="form-group">
                  <label for="enAdress">EN ADRESS</label>
                  <input
                        class="form-control"
                        type="text"
                        name="enAdress"
                        id="enAdress"
                        value="<% if (editing) { %><%= admin[0].adminInfos[2].adress %><% } %>"
                      />
                </div>
                
               
              
            
            </div>
            
          </div>
          <% if (editing) { %>
            <input
              type="hidden"
              value="<%= admin.id %>"
              name="adminId"
            />
            <% } %>
  
            <button class="btn btn-success" type="submit">
              <% if (editing) { %><%= lingua.update_profile %><% } else { %>Add
              Product<% } %>
            </button>
         
        </div>



        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
             
                <div class="form-group">
                  <label for="roShortCompanyDesc">roShortCompanyDesce</label>
                  <input
                        class="form-control"
                        type="text"
                        name="roShortCompanyDesc"
                        id="roShortCompanyDesc"
                        value="<% if (editing) { %><%= admin[0].adminInfos[0].shortCompanyDesc %><% } %>"
                      />
                </div>
                <div class="form-group">
                  <label for="huShortCompanyDesc">huShortCompanyDesce</label>
                  <input
                        class="form-control"
                        type="text"
                        name="huShortCompanyDesc"
                        id="huShortCompanyDesc"
                        value="<% if (editing) { %><%= admin[0].adminInfos[1].shortCompanyDesc %><% } %>"
                      />
                </div>
                <div class="form-group">
                  <label for="enShortCompanyDesc">enShortCompanyDesce</label>
                  <input
                  class="form-control"
                  type="text"
                  name="enShortCompanyDesc"
                  id="enShortCompanyDesc"
                  value="<% if (editing) { %><%= admin[0].adminInfos[2].shortCompanyDesc %><% } %>"
                />
                </div>
               
            </div>
          </div>
         
           
          
          
        </div>
       
       



      </div>
      </div>
    </div>
           
  </form>
  </main>
<%- include('../includes/end.ejs') %>
</body>