<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %> 

  <main class="body-content">

    <%- include('../includes/navigation-bar.ejs') %>
    
    <div >
    <div class="ms-content-wrapper editprofiledown">
      <div class="ms-profile-overview">
        <div class="ms-profile-cover">
       <img class="ms-profile-img" src="/<%= admin.profileImage %>" alt="<%= admin.fullName %>">
          
          <div class="ms-profile-user-info">
            <h3 class="ms-profile-username text-white"><%= admin.fullName %></h3>           
          </div>        
        </div>
     
        <div class="tab-content">
          <div class="tab-pane" id="tab1">
          </div>
          <div class="tab-pane" id="tab2">
          </div>
          <div class="tab-pane" id="tab3">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
              <form 
              class="ms-content-wrapper"
              action="/admin/<% if (editing) { %>edit-profile<% } else { %>add-profile<% } %>"
              method="POST"
              enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input
                        class="form-control"
                        type="text"
                        name="email"
                        autocomplete="off"
                        disabled
                        id="email"
                        value="<% if (editing) { %><%= admin[0].id %><% } %>"
                      />
                </div>
                <div class="form-group">
                  <label for="fullName">Full Name</label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="fullName"
                  id="fullName"
                  value="<% if (editing) { %><%= admin[0].fullName %><% } %>"
                />
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Tel Numb.</label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="phoneNumber"
                  id="phoneNumber"
                  value="<% if (editing) { %><%= admin[0].phoneNumber %><% } %>"
                />
                </div>
                
               

                <div class="form-group">
                  <label for="commission">commission</label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="commission"
                  id="commission"
                  disabled
                  value="<%= admin[0].commission %>"
                />
                </div>

                <div class="form-group">
                  <label for="date">Csatlakozas</label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="date"
                  id="date"
                  disabled
                  value="<%= admin[0].createdAt %>"
                />
                </div>
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
              
                <div class="form-group">
                  <label for="roAdress">RO ADRESS</label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="roAdress"
                  id="roAdress"
                  value="<% if (editing ) { %><%= admin[0].RestaurantInfos[0].address %><% } %>"
                />
                </div>
                <div class="form-group">
                  <label for="huAdress">HU ADRESS</label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="huAdress"
                        id="huAdress"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[1].address %><% } %>"
                      />
                </div>

                <div class="form-group">
                  <label for="enAdress">EN ADRESS</label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="enAdress"
                        id="enAdress"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[2].address %><% } %>"
                      />
                </div>
                
               
              
            
            </div>
           
          </div>
          <% if (editing) { %>
            <input
              type="hidden"
              value="<%= admin.id %>"
              name="restaurantId"
            />
            <% } %>
  
            <button class="btn btn-success" type="submit">
              <% if (editing) { %><%= lingua.update_profile %><% } else { %>Add
              Product<% } %>
            </button>
         
        </div>



        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
             
                <div class="form-group">
                  <label for="roShortCompanyDesc">roShortCompanyDesce</label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="roShortCompanyDesc"
                        id="roShortCompanyDesc"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[0].shortCompanyDesc %><% } %>"
                      />
                </div>
                <div class="form-group">
                  <label for="huShortCompanyDesc">huShortCompanyDesce</label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="huShortCompanyDesc"
                        id="huShortCompanyDesc"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[1].shortCompanyDesc %><% } %>"
                      />
                </div>
                <div class="form-group">
                  <label for="enShortCompanyDesc">enShortCompanyDesce</label>
                  <input
                  class="form-control"
                  type="text"
                  name="enShortCompanyDesc"
                  id="enShortCompanyDesc"
                  autocomplete="off"
                  value="<% if (editing) { %><%= admin[0].RestaurantInfos[2].shortCompanyDesc %><% } %>"
                />
                </div>
               
            </div>
          </div>
         
           
          
          
        </div>
       
       



      </div>
      </div>
    </div>
           
  </form>
  </main>
<%- include('../includes/end.ejs') %>
</body>