<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/profile.ejs') %>

</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %> 

  <main class="body-content">

    <%- include('../includes/navigation-bar.ejs') %>
    
    <div >
    <div class="ms-content-wrapper editprofiledown">
      <div class="ms-profile-overview">
        <div class="ms-profile-cover">
       <img class="ms-profile-img" src="/<%= admin[0].profileImage %>" alt="<%= admin[0].fullName %>">
          
          <div class="ms-profile-user-info">
            <h3 class="ms-profile-username text-white"><%= admin[0].fullName %></h3>           
          </div>        
        </div>
   
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
              <form 
              class="ms-content-wrapper"
              action="/admin/<% if (editing) { %>edit-profile<% } else { %>add-profile<% } %>"
              method="POST"
              enctype="multipart/form-data"
              id="update_profile"
              >
                <div class="form-group">
                  <label for="email"><%= lingua.restaurant_email %></label>
                  <input
                        class="form-control"
                        type="text"
                        name="email"
                        autocomplete="off"
                        disabled
                        id="email"
                        value="<% if (editing) { %><%= admin[0].email %><% } %>"
                      />
                </div>
                <span class="error_form" id="email_error_message"></span>
                <div class="form-group">
                  <label for="fullName"><%= lingua.restaurant_name %></label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="fullName"
                  id="fullName"
                  value="<% if (editing) { %><%= admin[0].fullName %><% } %>"
                />
                </div>
                <span class="error_form" id="name_error_message"></span>

                <div class="form-group">
                  <label for="phoneNumber"><%= lingua.restaurant_phone%></label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="phoneNumber"
                  disabled
                  id="phoneNumber"
                  value="<% if (editing) { %><%= admin[0].phoneNumber %><% } %>"
                />
                </div>
                <span class="error_form" id="phone_error_message"></span>

             
                
              
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
              
                <div class="form-group">
                  <label for="roAdress"><%= lingua.restaurant_roAddress %></label>
                  <input
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  name="roAdress"
                  id="roAdress"
                  value="<% if (editing ) { %><%= admin[0].RestaurantInfos[0].address %><% } %>"
                />
                </div>
                <span class="error_form" id="roAddress_error_message"></span>
                <div class="form-group">
                  <label for="huAdress"><%= lingua.restaurant_huAddress %></label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="huAdress"
                        id="huAdress"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[1].address %><% } %>"
                      />
                </div>
                <span class="error_form" id="huAddress_error_message"></span>
                <div class="form-group">
                  <label for="enAdress"><%= lingua.restaurant_enAddress %></label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="enAdress"
                        id="enAdress"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[2].address %><% } %>"
                      />
                </div>
                <span class="error_form" id="enAddress_error_message"></span>

               
              
            
            </div>
           
          </div>
          <% if (editing) { %>
            <input
              type="hidden"
              value="<%= admin.id %>"
              name="restaurantId"
            />
            <% } %>
  
        
         
        </div>



        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
             
                <div class="form-group">
                  <label for="roShortCompanyDesc"><%= lingua.restaurant_roDescription %></label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="roShortCompanyDesc"
                        id="roShortCompanyDesc"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[0].shortCompanyDesc %><% } %>"
                      />
                </div>
                <span class="error_form" id="roShortCompanyDesc_error_message"></span>

                <div class="form-group">
                  <label for="huShortCompanyDesc"><%= lingua.restaurant_huDescription %></label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="huShortCompanyDesc"
                        id="huShortCompanyDesc"
                        value="<% if (editing) { %><%= admin[0].RestaurantInfos[1].shortCompanyDesc %><% } %>"
                      />
                </div>
                <span class="error_form" id="huShortCompanyDesc_error_message"></span>

                <div class="form-group">
                  <label for="enShortCompanyDesc"><%= lingua.restaurant_enDescription %></label>
                  <input
                  class="form-control"
                  type="text"
                  name="enShortCompanyDesc"
                  id="enShortCompanyDesc"
                  autocomplete="off"
                  value="<% if (editing) { %><%= admin[0].RestaurantInfos[2].shortCompanyDesc %><% } %>"
                />
                </div>
                <span class="error_form" id="enShortCompanyDesc_error_message"></span>

            </div>
          </div>
         
           
          
          
        </div>
        <div class="col-md-6">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Basic Form Elements</h6>
            </div>
            <div class="ms-panel-body">
             
                <div class="form-group">
                  <label for="city"><%= lingua.transport_city %></label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="city"
                        id="city"
                        value="<% if (editing) { %><%= admin[0].deliveryPriceCity %><% } %>"
                      />
                </div>
                <span class="error_form" id="city_error_message"></span>

                <div class="form-group">
                  <label for="village"><%= lingua.transport_village %></label>
                  <input
                        class="form-control"
                        type="text"
                        autocomplete="off"
                        name="village"
                        id="village"
                        value="<% if (editing) { %><%= admin[0].deliveryPriceVillage %><% } %>"
                      />
                </div>
                <span class="error_form" id="village_error_message"></span>

               

            </div>
          </div>
         
           
          
          
        </div>
       
       

       



      </div>
      <button id="profileButton" class="btn btn-success" type="submit">
        <% if (editing) { %><%= lingua.button_edit %><% } else { %>Add
        Product<% } %>
      </button>
      </div>
    </div>
           
  </form>
  </main>
<%- include('../includes/end.ejs') %>
</body>