<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %> 

  <main class="body-content">
    <%- include('../includes/navigation-bar.ejs') %> <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form
      class="ms-content-wrapper"
      action="/admin/<% if (editing) { %>edit-photo<% } else { %>add-photo<% } %>"
      method="POST"
      enctype="multipart/form-data">
      <div class="ms-profile-overview">
        <div class="ms-profile-cover">
   <img class="ms-profile-img" src="/<%= admin.imageUrl %>" alt="<%= admin.fullName %>">
          
          <div class="ms-profile-user-info">
            <h3 class="ms-profile-username text-white"><%= admin.fullName %></h3>           
          </div>        
        </div>
        <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
          <li role="presentation"><a href="/admin/dashboard" aria-controls="tab1"> Overview </a></li>
          <li role="presentation"><a href="/admin/edit-profile/<%= admin._id %>?edit=true"> <%= lingua.product_action_edit %> </a></li>
          <li role="presentation"><a href="/admin/edit-photo/<%= admin._id %>?edit=true"> <%= lingua.admin_photo %> </a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="tab1">
          </div>
          <div class="tab-pane" id="tab2">
          </div>
          <div class="tab-pane" id="tab3">
          </div>
        </div>
      </div>
                  <div class="col-md-12 mb-3">
                    <label for="validationCustom12"><%= lingua.create_product_image %></label>
                    <div class="custom-file">
                      <input type="file" name="image" id="image" />
                    </div>
                  </div>

        <div class="col-xl-6 col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="ms-panel">
                <div class="col-xl-6 col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="ms-panel">
                        <div class="ms-panel-header">
                          <h6>Product</h6>
                        </div>
                        <div class="ms-panel-body">
                        
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <% if (editing) { %><img src="/<%= admin.imageUrl %>" alt="<%= admin.price %>"><% }  %>
                              </div>
                             
                              </div>
                             
                            
                            </div>
                          
                 
                 
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  
         
                <% if (editing) { %>
                  <input
                    type="hidden"
                    value="<%= admin._id %>"
                    name="adminId"/>
                  <% } %>

                  <button class="btn" type="submit">
                    <% if (editing) { %>Update Product<% } else { %>Add
                    Product<% } %>
                  </button>
              
                </div>
              </div>
            </div>
          </div>

    
  </form>
  </main>
 <%- include('../includes/end.ejs') %>
</body>