<aside
  id="ms-side-nav"
  class="side-nav fixed ms-aside-scrollable ms-aside-left"
>
  <div class="logo-sn ms-d-block-lg">
    <a class="pl-0 ml-0 text-center" href="/admin/dashboard">
      <img src="/img/costic-logo-216x62.png" alt="logo" />
    </a>
  </div>
  <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
    <li class="menu-item">
      <a href="/admin/add-daily-menu">
        <span><i class="material-icons fs-16"></i>add daily menu</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/daily-menus">
        <span
          ><i class="material-icons fs-16"></i><%= lingua.menu_daily_menu
          %></span
        >
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/orders">
        <span
          ><i class="material-icons fs-16"></i><%= lingua.menu_orders %></span
        >
      </a>
    </li>

    <li class="main-header__item">
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </li>
    <li class="menu-item">
      <a href="/admin/products">
        <span
          ><i class="fa fa-tasks fs-16"></i><%= lingua.menu_products %></span
        >
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/discounts">
        <span><i class="fa fa-tasks fs-16"></i><%= lingua.menu_coupon %></span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/users">
        <span><i class="fa fa-tasks fs-16"></i>usr</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/vr-index">
        <span><i class="fa fa-tasks fs-16"></i>VR INDEX</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/dashboard">
        <span
          ><i class="fa fa-tasks fs-16"></i><%= lingua.menu_dashboard %></span
        >
      </a>
    </li>
  </ul>
</aside>
