<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %>

  <main class="body-content">
    <%- include('../includes/navigation-bar.ejs') %>
    <div class="ms-content-wrapper">
        <form
        name="myForm"
        class="ms-content-wrapper"
        action="/admin/reckoning"
        method="POST"
        enctype="multipart/form-data"
        id="product-form">
        <div class="row">
           <div class="col-md-12">
              <div class="col-12">
                 <div class="ms-panel">
                    <div class="ms-panel-header">
                       <h6> Termek Lista</h6>
                    </div>
                    <div class="ms-panel-body">
                       <div class="table-responsive">
                          <table id="searchedVariant" class="table table-hover thead-primary">
                             <thead>
                                <tr>
                                   <th scope="col">Id</th>
                                   <th scope="col">Név</th>
                                   <th scope="col">Ár</th>
                                   <th scope="col">Státusz</th>
                                   <th scope="col" class="buttons-text-variants">Törlés</th>
                                   <th scope="col" >Szerkesztés</th>
                                </tr>
                             </thead>
                        
                            
                           
                      
                             <% if (orders.length > 0) { %>
                             <% for (let i =0; i < orders.length; i++) { %>
                             <tbody class="product-all ">
                                <tr>
                                   <th scope="row"><%= orders[i].id %></th>
                                   
                                   <td>14,55</td>
                                   <td><span class="badge badge-success">AKTIV</span></td>
                                   <td>
                                      <form action="/admin/delete-product" method="POST">
                                         <input type="hidden" value="<%= orders[i].id %>" name="productId">
                                         <button class="btn grid-btn mt-0 btn-sm btn-primary" type="submit"><%= lingua.product_action_delete %></button>
                                      </form>
                                   </td>
                                   <td>        
                                      <a href="/admin/edit-order/<%= orders[i].id %>?edit=true" class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.product_action_edit %></a>
                                   </td>
                                </tr>
                             </tbody>
                             <% } %>
                             <% } else { %>
                             <h1>No Products Found!</h1>
                             <% } %>
                          </table>

                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
         </div>
    </form>
  </main>
 
<%- include('../includes/end.ejs')%>
</body>