<%- include('./includes/head.ejs') %>

  </head>

  <body id="page-top">
   
    <div id="wrapper">
      
      <%- include('./includes/navigation.ejs') %>
     
     
      <div id="content-wrapper" class="d-flex flex-column">
        
        <div id="content">
      

         
          <div class="container-fluid homemargin">
           

           
            <div class="row">
             
         
             
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Összes partner
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          $215,000
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

             
             
            </div>

            
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Partnerek</h1>
                <p class="mb-4"></a></p>
      
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                 
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <% if (ptr.length > 0) { %>
                          <tr>
                            <th>Név</th>
                            <th>Helység</th>
                            <th>Telefonszám</th>
                            <th>E-mail</th>
                            <th>#</th>
                          
                          </tr>
                        </thead>
                    
                        <tbody>
                            <% for (let partners of ptr) { %>
                          <tr>
                            <td><%= partners.fullName %></td>
                            <td><%= partners.location.hu %></td>
                            <td><%= partners.phoneNuber %></td>
                            <td><%= partners.email %></td>
                            <td> <a href="#" class="btn btn-success btn-icon-split">
                               
                                <span class="text">Megtekintés</span>
                              </a></td>
                           
                          </tr>
                          <% } %>
                          
                        </tbody>
                        <% } else { %>
                            <div class="sidebar-heading">Nem található partner</div>
                            <% } %>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
    
       
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; foodnet.ro</span>
            </div>
          </div>
        </footer>
       
      </div>
      
    </div>
   
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

   
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
  </body>
</html>
