<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %>

  <main class="body-content">
    <%- include('../includes/navigation-bar.ejs') %>   
    <div class="ms-content-wrapper">
        <div class="row">
          <div class="col-md-12">

            
                <form action="/admin/search-user" class="search-form">
                  <div class="ms-panel-body">
                      
                      <div class="form-row">
                        <div class="col-md-6 upd mb-3 ">
                          <label for="validationCustom03">City</label>
                          <div class="input-group">
                            <input type="search" id="searchName" class="form-control" placeholder="Name" name="term">
                           
                          </div>
                        </div>
                     
                       
                      </div>
                    
                     
                      <button class="btn btn-primary" type="submit">Submit form</button>
                    </form>
            
            
            <div class="col-12">
                <div class="ms-panel">
                  <div class="ms-panel-header">
                    <h6> Order List</h6>
                  </div>
                  <div class="ms-panel-body">
    
                    <div class="table-responsive">
                      <table class="table table-hover thead-primary">
                        <thead>
                          <tr>
                            <th scope="col"><%= lingua.order_page_list_order_name %></th>
                            <th scope="col"><%= lingua.order_page_list_order_adress %></th>
                            <th scope="col"><%= lingua.order_page_list_order_product %></th>
                                <th scope="col"><%= lingua.order_page_list_order_pay %></th>
                                <th scope="col"><%= lingua.order_page_list_order_status %></th>
                                <th scope="col"><%= lingua.order_page_list_order_total_price %></th>
                                <th scope="col"><%= lingua.order_page_list_order_total_action %></th>
                          </tr>
                        </thead>
                        <% if (usr.length > 0) { %>
                        <tbody>
                            <% for (let user of usr) { %>
                          <tr>
                            
                            <td> <%= user.name %></td>
                              <td><%= user.email %></td>
                              <td><%= user.totalOrder %></td>
                             
                                <td><%= user.totalOrder / user.dbOrder %> %></td>
                                <td><%= user.phoneNumber %></td>
                                
                          </tr>    
                          <% } %>
                        </tbody>
                         <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
        
    <script>
      $(function(){
        $('#searchName').autocomplete({
          source: function(req, res){
            $.ajax({
              url:"autocomplete/",
              dataType: "jsonp",
              type: "GET",
              data: req,
              success: function(data){
               res(data)
              },
              error:function(err){
                console.log(err.status)
              }
            });
          },
          minLenght: 1,
          select: function(event,ui){
            if(ui.item){
              $("#searchName").val(ui.item.label)
            }
          }
        })
      })
    </script>

  </main>
 
<%- include('../includes/end.ejs')
  %>
</body>