<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a class="add-extra" href="/admin/orders"><%= lingua.new_orders %></a></li>
               <li role="presentation"><a class="add-variant" href="/admin/accepted-orders"><%= lingua.accepted_orders %></a></li>
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"><%= lingua.deleted_orders %></a></li>
            </ul>
         </div>
      </div>
      <div class="col-6">
         <input type="text" name="searchOrder" id="searchOrder" placeholder="<%= lingua.search_order %>" class="category-search form-control" />
         <hr>
      </div>
      <script>
         $(document).ready(function() {
            $('#searchOrder').keyup(function() {
               const order = $('#searchOrder').val();
               console.log(order)
               $.get("get-filtered-del-order/" + order).done(function(data) {
                  $("#searchedOrder").html(data);
               });
            });
         })
      </script>
      <div id="searchedOrder">
         <% if (orders.length ==0) { %>
            <h2><%= lingua.no_new_order %></h2>
         <% } %>
         <% for (let i =0; i < orders.length; i++) { %>
         <p>
         <div class="ms-content-wrapper" data-toggle="collapse" name="orders" value="#orders<%= orders[i].encodedKey %>" href="#orders<%= orders[i].encodedKey %>" aria-expanded="false" aria-controls="orders<%= orders[i].encodedKey %>">
            <div class="table-responsive">
               <table  class="table table-hover thead-primary">
                  <thead>
                     <tr>
                        <th scope="col">Id</th>
                        <th scope="col"><%= lingua.order_list_name %></th>
                        <th scope="col"><%= lingua.order_list_city %></th>
                        <th scope="col"><%= lingua.order_list_total %></th>
                        <th scope="col"><%= lingua.order_list_status %></th>
                       
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">#<%= orders[i].encodedKey %></th>
                        <td><%= orders[i].OrderDeliveryAddress.userName %></td>
                        <td><%= orders[i].LocationName.LocationNameTranslations[0].name %></td>
                        <td><%= orders[i].totalPrice %></td>
                        <td><%= lingua.order_list_new_status %></td>
                        
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         </p>
         <div class="collapse" name="orders"  value="#orders<%= orders[i].encodedKey %>" id="orders<%= orders[i].encodedKey %>">
            <form
               id="createBox_form"
               class="ms-content-wrapper"
               action="/admin/<% if (editing) { %>edit-order<% } else { %>edit-order<% } %>"
               method="POST">
               <div class="ms-content-wrapper">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="ms-panel">
                           <div class="ms-panel-header header-mini">
                              <div class="d-flex justify-content-between">
                                 <h6>#<%= orders[i].encodedKey %></h6>
                              </div>
                           </div>
                           <div class="ms-panel-body">
                              <!-- Invoice To -->
                              <h4 style="border-bottom: 1px solid green;"><%= lingua.user_detail %></h4>
                              <div class="row align-items-center border-orders-userinf">
                                 <div class="col-md-6 info-orders-top" style="padding-top: 15px;">
                                    <div class="invoice-address">
                                       <h5><%= lingua.order_detail_name %>: <b><%= orders[i].OrderDeliveryAddress.userName %></b></h5>
                                       <h5>
                                       <%= lingua.order_detail_phone %>:  <b><%= orders[i].OrderDeliveryAddress.phoneNumber %></b> 
                                       <h5>
                                       <h5>
                                       <%= lingua.order_detail_street %>:  <b><%= orders[i].OrderDeliveryAddress.street %></b> 
                                       <h5>
                                       <h5>
                                       <%= lingua.order_detail_house_number %>:  <b><%= orders[i].OrderDeliveryAddress.houseNumber %></b> 
                                       <h5>
                                       <h5>
                                       <%= lingua.order_detail_floor %>:  <b><%= orders[i].OrderDeliveryAddress.floor %></b> 
                                       <h5>
                                       <h5>
                                       <%= lingua.order_detail_door_number %>: <b><%= orders[i].OrderDeliveryAddress.doorNumber %></b> 
                                       <h5>
                                       <h5>
                                       <%= lingua.order_detail_created %>: <b><%= orders[i].createdAt.toLocaleString("en-GB", {
                                          timeZone: "Europe/Helsinki"
                                          }); %></b>
                                       <h5>
                                    </div>
                                 </div>
                                 <div class="col-md-6 info-orders-top" style="border-style: double;padding-top: 10px; padding-left: 10px;border-color: coral; ">
                                    <div class="invoice-address">
                                       <h5><u><%=lingua.order_deleted_message %></u>: <%= orders[i].deletedMessage %>
                                       </h5>
                                       <h5><u><%=lingua.product_comment_courier %></u>: <% if(orders[i].messageCourier == null){ %>
                                          -
                                          <% } else{ %>  
                                          <%= orders[i].messageCourier %> 
                                          <% } %>
                                       </h5>
                                       <h5><u><%= lingua.cutlery %></u>: <% if(orders[i].cutlery == 1){ %>
                                          <%=lingua.yes %>
                                          <% } else{ %>  
                                             <%=lingua.no %>
                                          <% } %>
                                       </h5>
                                       <h5><u><%= lingua.take_away %></u>: <% if(orders[i].take == 1){ %>
                                          <%=lingua.yes %>
                                          <% } else{ %>  
                                             <%=lingua.no %>
                                          <% } %>
                                       </h5>
                                    </div>
                                 </div>
                                 
                              </div>
                              <!-- Invoice Table -->
                              <% for (let j =0; j < orders[i].products.length; j++) { %>
                              <div class="ms-invoice-table table-responsive mt-5" style="border-style: double;">
                                 <table class="table table-hover text-right thead-light">
                                    <thead>
                                       <tr class="text-capitalize" style="font-size: 16px;">
                                          <th class="text-center w-5">Id</th>
                                          <th class="text-left"><%= lingua.order_detail_product_name %></th>
                                          <th><%= lingua.category %></th>
                                          <th><%= lingua.order_detail_quantity %></th>
                                          <th><%= lingua.order_detail_product_price %></th>
                                          <th><%= lingua.order_detail_total %></th>
                                       </tr>
                                    </thead>
                                    <tbody style="font-size: 16px;">
                                       <tr>
                                          <td class="text-center"><%= orders[i].products[j].product_id %></td>
                                          <td class="text-left"><%= orders[i].products[j].product_name %></td>
                                          <td ><%= orders[i].products[j].variant_sku %></td>
                                          <td><%= orders[i].products[j].product_quantity %></td>
                                          <td><%= orders[i].products[j].product_price %></td>
                                          <td><%= orders[i].products[j].total_product_price %></td>
                                       </tr>
                                       <% for (let k = 0; k < orders[i].products[j].extras.length; ++k) { %>
                                       <% if(orders[i].products[j].extra_length != 0){ %>
                                       <tr>
                                          <td class="text-center"><%=  orders[i].products[j].extras[k].extra_id %></td>
                                          <td class="text-left"><%=  orders[i].products[j].extras[k].extra_name %> (extra)</td>
                                          <td></td>
                                          <td><%= orders[i].products[j].extras[k].extra_quantity %></td>
                                          <td><%= orders[i].products[j].extras[k].extra_price %></td>
                                          <td><%= (orders[i].products[j].extras[k].extra_quantity *  orders[i].products[j].extras[k].extra_price).toFixed(2) %></td>
                                       </tr>
                                       <% } %>
                                       <% } %>
                                       
                                       <% if(orders[i].products[j].boxPrice !=null){ %>
                                          <tr style="border-style: dotted;">
                                             <td class="text-center"></td>
                                             <td class="text-left"><%= lingua.box %></td>
                                             <td></td>
                                             <td><%= orders[i].products[j].product_quantity %></td>
                                             <td><%= orders[i].products[j].boxPrice %></td>
                                             <td><%= orders[i].products[j].totalBoxPrice %></td>
                                          </tr>
                                          <% } %>
                                     
                                    </tbody>
                                    <tfoot>
                                       <tr style="font-size: 16px;" >
                                          <td></td>
                                          <td colspan="4"><%= lingua.order_detail_total_final %>:</td>
                                          <td><%= orders[i].products[j].total_cost_produce_extra %><u>
                                             
                                             <% if(orders[i].products[j].boxPrice !=null && orders[i].products[j].extra_length == 0){ %>
                                                <%= (parseInt(orders[i].products[j].product_quantity) * parseFloat(orders[i].products[j].boxPrice))
                                                +
                                                (parseInt(orders[i].products[j].product_quantity) * parseFloat(orders[i].products[j].product_price)) %>
                                              
                                             <% } %>

                                             <% if(orders[i].products[j].boxPrice == null && orders[i].products[j].extra_length == 0){ %>
                                              
                                                <%= orders[i].products[j].total_product_price %>

                                             <% } %>


                                             <% if(orders[i].products[j].boxPrice == null && orders[i].products[j].extra_length != 0){ %>
                                              
                                                <%= orders[i].products[j].total_product_price +  orders[i].products[j].total_extra_price %>
                                                
                                             <% } %>

                                             <% if(orders[i].products[j].boxPrice != null && orders[i].products[j].extra_length != 0){ %>
                                              
                                                <%= orders[i].products[j].totalSection  %>
                                                
                                             <% } %>
                                          
                                          </u>

                                       </td>
                                       </tr>
                                    </tfoot>
                                 </table>
                                 <p style=" font-size: 17px; margin-left: 20px;" class="text-left"><u><%=lingua.product_comment %></u>: <% if(orders[i].products[j].message.length !=0){ %>
                                    <%= orders[i].products[j].message %>
                                    <% } else{ %>  
                                    -
                                    <% } %>
                                 </p>
                              </div>
                              <% } %>
                              <input
                                 type="hidden"
                                 value="<%= orders[i].encodedKey %>"
                                 name="orderId"
                                 />
                             
                             
                           
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
     
         </div>
         <% } %>
      </div>
   </main>
</body>