<%- include('../includes/head.ejs') %>

<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
  <%- include('../includes/navigation.ejs') %>
  <main class="body-content">
    <%- include('../includes/navigation-bar.ejs') %>
        <form
        id="createBox_form"
        class="ms-content-wrapper"
        action="/admin/<% if (editing) { %>edit-order<% } else { %>add-box<% } %>"
        method="POST">
        
        <div class="ms-content-wrapper">
          <div class="row">
            <div class="col-md-12">
             
              <div class="ms-panel">
                <div class="ms-panel-header header-mini">
                  <div class="d-flex justify-content-between">
                    <h6>Szamla</h6>
                    <h6>#<%= orderIds %></h6>
                  </div>
                </div>
                <div class="ms-panel-body">
                  <!-- Invoice To -->
                  <div class="row align-items-center border-order-userinf">
                    <div class="col-md-6">
                      <div class="invoice-address">
                        <h4>Kliens adatai: </h4>
                        <h5>Név: <%= userName %></h5>
                         <h5>Telefonszám: <%= orderPhoneNumber %> <h5>
                         <h5>Utca: <%= orderStreet %> <h5>
                         <h5>Házszám: <%= orderHouseNumber %> <h5>
                         <h5>Emelet: <%= orderFloor %> <h5>
                         <h5>Ajtó: <%= orderDoorNumber %> <h5>
                      </div>
                    </div>
                    <div class="col-md-6 text-md-right">
                      <ul class="invoice-date">
                        <li>Invoice Date : <%= orderCreated %></li>
                      
                      </ul>
                    </div>
                  </div>
                  <!-- Invoice Table -->
                  <% for (let i =0; i < order.length; i++) { %>
                    
                    <% for (let j = 0; j < test.length; j++) { %>
                  <div class="ms-invoice-table table-responsive mt-5">
                    <table class="table table-hover text-right thead-light">
                      <thead>
                        <tr class="text-capitalize">
                          <th class="text-center w-5">id</th>
                          <th class="text-left">description</th>
                          <th>qty</th>
                          <th>Unit Cost</th>
                          <th>total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">1</td>
                          <td class="text-left"><%= test[j].Variant.ProductFinals[j].Product.ProductTranslations[0].title %></td>
                          <td>1</td>
                          <td>$30</td>
                          <td>$30</td>
                        </tr>
                        <tr>
                          <td class="text-center">2</td>
                          <td class="text-left">Fried Egg Sandwich</td>
                          <td>1</td>
                          <td>$69</td>
                          <td>$69</td>
                        </tr>
                        <tr>
                          <td class="text-center">2</td>
                          <td class="text-left">Spicy Grilled Burger</td>
                          <td>2</td>
                          <td>$19</td>
                          <td>$38</td>
                        </tr>
                        <tr>
                          <td class="text-center">2</td>
                          <td class="text-left">Peri Peri Fries</td>
                          <td>2</td>
                          <td>$9</td>
                          <td>$18</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="4">Total Cost:</td>
                          <td>$155</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <% } %>
                  <% } %>
                  <!-- end -->
                  <div class="invoice-buttons text-right"> <a href="#" class="btn btn-primary mr-2">Print Invoice</a>
                    <a href="#" class="btn btn-primary">Send Invoice</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
  </form>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
