<%- include('../includes/head.ejs') %>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <form
         id="createBox_form"
         class="ms-content-wrapper"
         action="/admin/<% if (editing) { %>edit-order<% } else { %>edit-order<% } %>"
         method="POST">
         <div class="ms-content-wrapper">
            <div class="row">
               <div class="col-md-12">
                  <div class="ms-panel">
                     <div class="ms-panel-header header-mini">
                        <div class="d-flex justify-content-between">
                           <h6>Szamla</h6>
                           <h6>#<%= orderIds %></h6>
                        </div>
                     </div>
                     <div class="ms-panel-body">
                        <!-- Invoice To -->
                        <h4>Kliens adatai: </h4>
                        <div class="row align-items-center border-order-userinf">
                           <div class="col-md-6 info-order-top">
                              <div class="invoice-address">
                                 <h5>Név: <%= userName %></h5>
                                 <h5>
                                 Telefonszám: <%= orderPhoneNumber %> 
                                 <h5>
                                 <h5>
                                 Utca: <%= orderStreet %> 
                                 <h5>
                                 <h5>
                                 Házszám: <%= orderHouseNumber %> 
                                 <h5>
                                 <h5>
                                 Emelet: <%= orderFloor %> 
                                 <h5>
                                 <h5>
                                 Ajtó: <%= orderDoorNumber %> 
                                 <h5>
                                <p><%=orderCity%></p>
                                <% if(status == 3 ){ %>
                                 <h3><%= deletedMessage %></h3>
                          
                              <% } %>
                                
                              </div>
                           </div>
                           <input
                           type="hidden"
                           value="<%= orderPhoneNumber %>"
                           name="phoneNumber"
                           />
                           <input
                           type="hidden"
                           value="<%= userEmail %>"
                           name="email"
                           />
                           <div class="col-md-6 text-md-right">
                              <ul class="invoice-date">
                                 <li>Invoice Date : <%= orderCreated %></li>
                              </ul>
                           </div>
                          
                          
                          
                       

                        </div>
                        <!-- Invoice Table -->
                        <% for (let i =0; i < result.length; i++) { %>

                           <div class="ms-invoice-table table-responsive mt-5" style="border-style: double;">
                              <table class="table table-hover text-right thead-light">
                                 <thead>
                                    <tr class="text-capitalize" style="font-size: 16px;">
                                       <th class="text-center w-5">Id</th>
                                       <th class="text-left"><%= lingua.order_detail_product_name %></th>
                                       <th>kategoria</th>
                                       <th><%= lingua.order_detail_quantity %></th>
                                       <th><%= lingua.order_detail_product_price %></th>
                                       <th><%= lingua.order_detail_total %></th>
                                    </tr>
                                 </thead>
                                 <tbody style="font-size: 16px;">
                                    <tr>
                                       <td class="text-center"><%= result[i].product_id %></td>
                                       <td class="text-left"><%= result[i].product_name %></td>
                                       <td ><%= result[i].variant_sku %></td>
                                       <td><%= result[i].product_quantity %></td>
                                       <td><%= result[i].product_price %></td>
                                       <td><%= result[i].total_product_price %></td>
                                    </tr>
                              
                                 
                                 <% for (let k = 0; k < result[i].extras.length; ++k) { %>
                                    <% if(result[i].extra_length != 0){ %>
                                    <tr>
                                       <td class="text-center"><%=  result[i].extras[k].extra_id %></td>
                                       <td class="text-left"><%=  result[i].extras[k].extra_name %> (extra)</td>
                                       <td></td>
                                       <td><%= result[i].extras[k].extra_quantity %></td>
                                       <td><%= result[i].extras[k].extra_price %></td>
                                       <td><%= (result[i].extras[k].extra_quantity *  result[i].extras[k].extra_price).toFixed(2) %></td>
                                    </tr>
                                    <% } %>
                                    <% } %>

                                    <% if(result[i].boxPrice !=null){ %>
                                       <tr style="border-style: dotted;">
                                          <td class="text-center"></td>
                                          <td class="text-left">Csomagolas</td>
                                          <td></td>
                                          <td><%= result[i].product_quantity %></td>
                                          <td><%= result[i].boxPrice %></td>
                                          <td><%= parseInt(result[i].product_quantity) * parseFloat(result[i].boxPrice).toFixed(2) %></td>
                                       </tr>
                                       <% } %>

                              </tbody>
                              <tfoot>
                                 <tr style="font-size: 16px;" >
                                    <td></td>
                                    <td colspan="4"><%= lingua.order_detail_total_final %>:</td>
                                    <td><%= result[i].total_cost_produce_extra %><u>
                                       
                                       <% if( result[i].boxPrice !=null &&  result[i].extra_length == 0){ %>
                                       <%= (parseInt( result[i].product_quantity) * parseFloat( result[i].boxPrice))
                                       +
                                       (parseInt( result[i].product_quantity) * parseFloat( result[i].product_price)) %>
                                     
                                    <% } %>

                                    <% if( result[i].boxPrice == null &&  result[i].extra_length == 0){ %>
                                     
                                       <%=  result[i].total_product_price %>

                                    <% } %>


                                    <% if( result[i].boxPrice == null &&  result[i].extra_length != 0){ %>
                                     
                                       <%=  result[i].totalSectionNoBox %>
                                       
                                    <% } %>

                                    <% if( result[i].boxPrice != null &&  result[i].extra_length != 0){ %>
                                     
                                       <%=  result[i].totalSection  %>
                                       
                                    <% } %> <%= lingua.currency %></u></td>
                                 </tr>
                              </tfoot>
                           </table>
                           <p style=" font-size: 17px; margin-left: 20px;" class="text-left"><u><%=lingua.product_comment %></u>: <% if(result[i].message.length !=0){ %>
                              <%= result[i].message %>
                              <% } else{ %>  
                              -
                              <% } %>
                           </p>
                        </div>
                        <% } %>
                        <!-- end -->
                        <input
                        type="hidden"
                        value="<%= orderIds %>"
                        name="orderId"
                        />
                        <% if(status == 1 ){ %>
                           <div class="invoice-buttons text-right">
                              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal<%= orderIds %>">
                              Elfogadas
                              </button>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalFailed<%= orderIds %>">
                                 Elutasitas
                                 </button>
                           </div>
                    
                        <% } %>
                      
                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal<%= orderIds %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kb kiszallitasi ido megadas</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm">
                                        <label for="hours">Óra:</label>
                                        <select class="form-control"  name="hours" id="hours">
                                          <option selected="selected" value="0">0</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                        </select>
                                      </div>
                                      <div class="col-sm">
                                        <label for="minutes">Perc:</label>
                                        <select class="form-control minute-css"  name="minutes" id="minutes">
                                          <option value="0">0</option>
                                          <option value="5">5</option>
                                          <option value="10">10</option>
                                          <option value="15">15</option>
                                          <option value="20">20</option>
                                          <option value="25">25</option>
                                          <option value="30">30</option>
                                          <option value="35">35</option>
                                          <option value="40">40</option>
                                          <option value="45">45</option>
                                          <option selected="selected"  value="50">50</option>
                                          <option value="55">55</option>
                                        </select>
                                      </div>
                                    
                                    </div>
                                  </div>
                                 </div>
                                 <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Rendelés befejezése</button>
                                    <button type="button"  data-dismiss="modal" class="btn btn-secondary">Bezárás</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Modal Failed-->
                     
                        <div class="modal fade" id="exampleModalFailed<%= orderIds %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">FAILED</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                  <div class="container">
                                    <div class="row">
                                     
                                          <label for="failedDescription">Example textarea</label>
                                          <textarea class="form-control delval<%= orderIds %>" name="failedDescription"id="failedDescription<%= orderIds %>" rows="5"></textarea>
                                        
                                    </div>
                                  </div>
                                 </div>
                                 <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Rendelés befejezése</button>
                                    <button type="button" id="dbtnvaldelval<%= orderIds %>"  data-dismiss="modal" class="btn btn-secondary dbtnvaldelval<%= orderIds %>">Bezárás</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   </main>
   </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>