<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %>

  <main class="body-content">
    <%- include('../includes/navigation-bar.ejs') %>
    <div class="ms-content-wrapper">
      <div class="ms-profile-overview no-img-var">
         <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
            <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab">Új rendelések</a></li>
            <li role="presentation"><a class="add-variant" href="/admin/accepted-orders">Elfogadott rendelések </a></li>
            <li role="presentation"><a class="add-extra" href="/admin/deleted-orders">Törölt rendelések </a></li>
         </ul>  
      </div>
   </div>

   <form
   id="createBox_form"
   class="ms-content-wrapper"
   action="/admin/<% if (editing) { %>filter-order<% } else { %>filter-order<% } %>"
   method="POST">
 
   <% if (orders.length ==0) { %>
      <h2>Order not found</h2>
    <% } %>
    <% for (let i =0; i < orders.length; i++) { %>
      <p>
      <div class="ms-content-wrapper" data-toggle="collapse" name="orders" value="#orders<%= orders[i].id %>" href="#orders<%= orders[i].id %>" aria-expanded="false" aria-controls="orders<%= orders[i].id %>">
        <div class="table-responsive">
          <table class="table table-hover thead-primary">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col"><%= lingua.order_list_name %></th>
                <th scope="col"><%= lingua.order_list_city %></th>
                <th scope="col"><%= lingua.order_list_total %></th>
                <th scope="col"><%= lingua.order_list_status %></th>
                <th scope="col"><%= lingua.order_list_operation %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">#<%= orders[i].id %></th>
                <td><%= orders[i].OrderDeliveryAddress.userName %></td>
                <td><%= orders[i].LocationName.LocationNameTranslations[0].name %></td>
                <td>145,66</td>
                <td><%= lingua.order_list_new_status %></td>
                <td>
                  <div>
                  <a href="/admin/edit-order/<%= orders[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary"><%= lingua.order_list_detail %></a>
                  </div>
                </td>
              
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </p>
    <div class="collapse" name="orders"  value="#orders<%= orders[i].id %>" id="orders<%= orders[i].id %>">
    <form
    id="createBox_form"
    class="ms-content-wrapper"
    action="/admin/<% if (editing) { %>edit-order<% } else { %>edit-order<% } %>"
    method="POST">
    <div class="ms-content-wrapper">
      <div class="row">
         <div class="col-md-12">
            <div class="ms-panel">
               <div class="ms-panel-header header-mini">
                  <div class="d-flex justify-content-between">
                     <h6>#<%= orders[i].id %></h6>
                  </div>
               </div>
               <div class="ms-panel-body">
                  <!-- Invoice To -->
                  <h4 style="border-bottom: 1px solid green;">Kliens adatai</h4>
                  <div class="row align-items-center border-orders-userinf">
                     <div class="col-md-6 info-orders-top" style="padding-top: 15px;">
                        <div class="invoice-address">
                           <h5><%= lingua.order_detail_name %>: <b><%= orders[i].OrderDeliveryAddress.userName %></b></h5>
                           <h5>
                           <%= lingua.order_detail_phone %>:  <b><%= orders[i].OrderDeliveryAddress.phoneNumber %></b> 
                           <h5>
                           <h5>
                              <%= lingua.order_detail_street %>:  <b><%= orders[i].OrderDeliveryAddress.street %></b> 
                           <h5>
                           <h5>
                              <%= lingua.order_detail_house_number %>:  <b><%= orders[i].OrderDeliveryAddress.houseNumber %></b> 
                           <h5>
                           <h5>
                              <%= lingua.order_detail_floor %>:  <b><%= orders[i].OrderDeliveryAddress.floor %></b> 
                           <h5>
                           <h5>
                              <%= lingua.order_detail_door_number %>: <b><%= orders[i].OrderDeliveryAddress.doorNumber %></b> 
                           <h5>
                           <h5>
                              <%= lingua.order_detail_created %>: <b><%= orders[i].createdAt.toLocaleString("en-GB", {
                                 timeZone: "Europe/Helsinki"
                               }); %></b>
                           <h5>
                             
                        </div>
                     </div>
                     <div class="col-md-6 text-md-right">
                        <ul class="invoice-date">
                           <li>das</li>
                        </ul>
                     </div>
                    
                   
                  </div>
                  <!-- Invoice Table -->
                  <% for (let j =0; j < orders[i].products.length; j++) { %>
                    
                  <div class="ms-invoice-table table-responsive mt-5">
                     <table class="table table-hover text-right thead-light">
                        <thead>
                           <tr class="text-capitalize" style="font-size: 16px;">
                              <th class="text-center w-5">Id</th>
                              <th class="text-left"><%= lingua.order_detail_product_name %></th>
                              <th><%= lingua.order_detail_quantity %></th>
                              <th><%= lingua.order_detail_product_price %></th>
                              <th><%= lingua.order_detail_total %></th>
                             
                           </tr>
                        </thead>
                        <tbody style="font-size: 16px;">
                           <tr>
                              <td class="text-center"><%= orders[i].products[j].product_id %></td>
                              <td class="text-left"><%= orders[i].products[j].product_name %></td>
                              <td><%= orders[i].products[j].product_quantity %></td>
                              <td><%= orders[i].products[j].product_price %></td>
                              <td><%= orders[i].products[j].total_product_price %></td>
                             
                           </tr>
                           
                         
                              <% for (let k = 0; k < orders[i].products[j].extras.length; ++k) { %>
                                 <tr>
                                    <td class="text-center"><%=  orders[i].products[j].extras[k].extra_id %></td>
                                    <td class="text-left"><%=  orders[i].products[j].extras[k].extra_name %></td>
                                    <td><%= orders[i].products[j].extras[k].extra_quantity %></td>
                                    <td><%= orders[i].products[j].extras[k].extra_price %></td>
                                    <td><%= orders[i].products[j].extras[k].total_extra_price %></td>
                                 </tr>
                               
                             
                           <% } %>
                         
                                
                        </tbody>
                        <tfoot>
                           <tr>
                              <td colspan="4"><%= lingua.order_detail_total_final %>:</td>
                              <td><%= orders[i].products[j].total_cost_produce_extra %>44.77 <%= lingua.currency %></td>
                             
                           </tr>
                        </tfoot>
                     </table>
                     
                     <p style="color: green; font-size: 17px" class="text-left">Uzenet: <%= orders[i].products[j].message %></p style="color: green font-size: 19px">

                  </div>

                  <% } %>
                  <input
                  type="hidden"
                  value="<%= orders[i].id %>"
                  name="orderId"
                  />
                  <!-- end -->
                  <div class="invoice-buttons text-right">
                     <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal<%= orders[i].id %>">
                     Elfogadas
                     </button>
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalFailed<%= orders[i].id %>">
                        Elutasitas
                        </button>
                  </div>
                  <!-- Button trigger modal -->
                  <!-- Modal Success-->
                  <div class="modal fade" id="exampleModal<%= orders[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Kb kiszallitasi ido megadas</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                            <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  <label for="hours">Óra:</label>
                                  <select class="form-control"  name="hours" id="hours">
                                    <option selected="selected" value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                  </select>
                                </div>
                                <div class="col-sm">
                                  <label for="minutes">Perc:</label>
                                  <select class="form-control minute-css"  name="minutes" id="minutes">
                                    <option value="0">0</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option selected="selected"  value="50">50</option>
                                    <option value="55">55</option>
                                  </select>
                                </div>
                              
                              </div>
                            </div>
                           </div>
                           <div class="modal-footer">
                              <button type="submit" class="btn btn-success">Rendelés befejezése</button>
                              <button type="button"  data-dismiss="modal" class="btn btn-secondary">Bezárás</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Modal Failed-->
               
                  <div class="modal fade" id="exampleModalFailed<%= orders[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">FAILED</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                            <div class="container">
                              <div class="row">
                               
                                    <label for="failedDescription">Example textarea</label>
                                    <textarea class="form-control delval<%= orders[i].id %>" name="failedDescription"id="failedDescription<%= orders[i].id %>" rows="5"></textarea>
                                  
                              </div>
                            </div>
                           </div>
                           <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Rendelés befejezése</button>
                              <button type="button" id="dbtnvaldelval<%= orders[i].id %>"  data-dismiss="modal" class="btn btn-secondary dbtnvaldelval<%= orders[i].id %>">Bezárás</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
     </form>
     <!-- End -->
     </div>
    
    <% } %>

  </main>
 
<%- include('../includes/end.ejs')
  %>
</body>