<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %>

  <main class="body-content">
    <%- include('../includes/navigation-bar.ejs') %>   
    <% for (let i =0; i < orders.length; i++) { %>
      <div>
        <a href="/admin/edit-order/<%= orders[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" >View</a>
        {Hello world}
      </div>
   
    <% } %>
  </main>
 
<%- include('../includes/end.ejs')
  %>
</body>