<%- include('../includes/head.ejs') %>
<%- include('../includes/input-validation/edit-product.ejs') %>

</head>

<body>
    <div class="dashboard-main-wrapper">
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/menu.ejs') %>
      <form 
         id="edit-product"
         class="ms-content-wrapper" 
         action="/super-admin/<% if (editing) { %>edit-product<% } %>"
         method="POST"
         enctype="multipart/form-data">

         <% if (editing) { %>
            <input
               type="hidden"
               value="<%= productId %>"
               name="productId" />
        <% } %>
              
               <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="basicform">
                                        <h3 class="section-title">Termék szerkesztése</h3>
                                    </div>
                                    <div class="card">                      
                                        <div class="card-body">

                                                 <div class="form-group">
                                                   <label class="col-form-label">Termék <strong>Id</strong></label>
                                                   <input name="id" type="text" class="form-control" disabled value="<% if (editing) { %><%= product[0].id %><% } %>">
                                                 </div>

                                                 <div class="form-group">
                                                    <label class="col-form-label">Partner <strong>Id</strong></label>
                                                    <input name="adminId" type="text" class="form-control" disabled value="<% if (editing) { %><%= product[0].adminId %><% } %>">
                                                  </div>

                                                <div class="form-group">
                                                    <label class="col-form-label">Termék <strong>román</strong> neve</label>
                                                   <input name="productTitleRoView" id="productTitleRoView" type="text" class="form-control" value="<% if (editing) { %><%= productTitleRoView %><% } %>">
                                                   <span class="check-input error_form intro" id="productTitleRoView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Termék <strong>magyar</strong> neve</label>
                                                   <input name="productTitleHuView" id="productTitleHuView" type="text" class="form-control" value="<% if (editing) { %><%= productTitleHuView %><% } %>">
                                                   <span class="check-input error_form intro" id="productTitleHuView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Termék <strong>angol</strong> neve</label>
                                                   <input name="productTitleEnView" id="productTitleEnView" type="text" class="form-control" value="<% if (editing) { %><%= productTitleEnView %><% } %>">
                                                   <span class="check-input error_form intro" id="productTitleEnView_error_message"></span>
                                                </div>   
                                                <hr class="hr-products"/>
                                                <div class="form-group">
                                                    <label class="col-form-label">Termék <strong>román</strong> leírása</label>
                                                    <input name="productDescriptionRoView" id="productDescriptionRoView" type="text" class="form-control" value="<% if (editing) { %><%= productDescriptionRoView %><% } %>">
                                                    <span class="check-input error_form intro" id="productDescriptionRoView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-form-label"><%= productTitleHuView %> <strong>magyar</strong> leírása</label>
                                                    <input name="productDescriptionHuView" id="productDescriptionHuView" type="text" class="form-control" value="<% if (editing) { %><%= productDescriptionHuView %><% } %>">
                                                    <span class="check-input error_form intro" id="productDescriptionHuView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-form-label">Termék <strong>angol</strong> leírása</label>
                                                    <input name="productDescriptionEnView" id="productDescriptionEnView" type="text" class="form-control" value="<% if (editing) { %><%= productDescriptionEnView %><% } %>">
                                                    <span class="check-input error_form intro" id="productDescriptionEnView_error_message"></span>
                                                </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="product-btn" class="btn btn-success has-icon" ><% if (editing) { %>Termék frissítése<% } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </body>
</html>

<%- include('../includes/end.ejs') %>


