<%- include('../includes/head.ejs') %>
</head>

<body>
    <div class="dashboard-main-wrapper">
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/menu.ejs') %>
      <form 
         id="registration_form"
         class="ms-content-wrapper" 
         action="/super-admin/<% if (editing) { %>edit-partner<% } else { %>add-location<% } %>"
         method="POST"
         enctype="multipart/form-data">

         <% if (editing) { %>
            <input
               type="hidden"
               value="<%= productId %>"
               name="productId" />
        <% } %>
              
               <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="basicform">
                                        <h3 class="section-title">Partner szerkesztése</h3>
                                    </div>
                                    <div class="card">                      
                                        <div class="card-body">

                                                 <div class="form-group">
                                                   <label for="inputText3" class="col-form-label"><%= product.id %> <strong>ID</strong></label>
                                                   <input id="inputText3" name="roName" type="text" class="form-control" disabled value="<% if (editing) { %><%= product.id %><% } %>">
                                                 </div>

                                                <div class="form-group">
                                                   <label for="inputText3" class="col-form-label">Név</label>
                                                   <input id="inputText3" name="fullName" type="text" class="form-control" value="<% if (editing) { %><%= productTitleRoView %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                   <label for="inputText3" class="col-form-label"><%= productTitleHuView %> <strong>telefonszáma</strong></label>
                                                   <input id="inputText3" name="phoneNumber" type="text" class="form-control" value="<% if (editing) { %><%= productTitleHuView %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                   <label for="inputText3" class="col-form-label"><%= productTitleHuView %> <strong>e-mail címe</strong></label>
                                                   <input id="inputText3" name="email" type="text" class="form-control" value="<% if (editing) { %><%= productTitleEnView %><% } %>">
                                                </div>   
                                                
                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= productTitleHuView %> <strong>jutaléka</strong></label>
                                                    <input id="inputText3" name="commission" type="text" class="form-control" value="<% if (editing) { %><%= productTitleEnView %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= productTitleHuView %> <strong>nyitási idő</strong></label>
                                                    <input id="inputText3" name="open" type="text" class="form-control" value="<% if (editing) { %><%= productTitleEnView %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= productTitleHuView %> <strong>zárási idő</strong></label>
                                                    <input id="inputText3" name="close" type="text" class="form-control" value="<% if (editing) { %><%= productTitleEnView %><% } %>">
                                                </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="extra-btn" class="btn btn-success has-icon" ><% if (editing) { %><%= productTitleHuView %> frissítése<% } else { %>Város létrehozása<% } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </body>
</html>

<%- include('../includes/end.ejs') %>


