<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
      $('#searchDeletedProduct').keyup(function() {
         const productId = $('#searchDeletedProduct').val();
         console.log(productId)
         $.get("get-filtered-deleted-product/" + productId).done(function(data) {
            $("#searchDelP").html(data);
         });
      });
   })
   </script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> <%=lingua.deleted_products %> </a></li>
               
            </ul>
           
         </div>
      </div>
    
    
 
       
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-md-12">
              
               <div class="col-12">
                  <div class="ms-panel">
                     <div class="ms-panel-header">
                        <h6> Variant List</h6>
                     </div>
                     <div class="ms-panel-body">
                        <div class="table-responsive">
                           <table    id="searchDelP" class="table table-hover thead-primary">
                              <thead>
                                 <th scope="col">Id</th>
                                 <th scope="col"><%= lingua.product_list_name %></th>
                                 <th scope="col"><%= lingua.variant %></th>
                                 <th scope="col"><%= lingua.product_list_status %></th>
                                 <th scope="col" class="buttons-text-variants"><%= lingua.product_list_operation %></th>
                                 <th scope="col" ><%= lingua.product_list_operation %></th>
                              </thead>
                              <div class="col-6">
                                 <input type="text" name="searchDeletedProduct" id="searchDeletedProduct" placeholder="<%= lingua.search_product %>" class="form-control extra-search" />
                              </div>
                              <hr>
                              <% if (prod.length > 0) { %>
                              <% for (let i=0; i< prod.length; i++ ) { %>

                              <tbody>
                                 <tr>
                                    <th scope="row"><%= prod[i].id %></th>
                                    <td><%= prod[i].ProductTranslations[0].title  %></td>
                                    <td><%= prod[i].ProductFinals[0].Variant.sku %></td>
                                    <td><span class="badge badge-danger"><%= lingua.product_inactive %></span></td>
                                    <td>
                                       <form action="/admin/restore-product" method="POST" >
                                        <input type="hidden" value="<%= prod[i].id %>" name="productId">

                                          <input type="hidden" value="<%= prod[i].id %>" name="prod[i]Id">
                                          <button class="btn grid-btn mt-0 btn-sm btn-success"  type="submit" class="btn btn-primary shadow-none"><%= lingua.product_reactivate %></button>
                                       </form>
                                    </td>
                                    <td>        
                                       <a href="/admin/edit-product/<%= prod[i].id %>?edit=true" class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.button_edit %></a>
                                    </td>
                                 </tr>
                              </tbody>
                              <% } %>
                              <% } else { %>
                              <h1>No Products Found!</h1>
                              <% } %>
                           </table>
                        </div>
                        <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../includes/end.ejs') %>
</body>