<%- include('../includes/head.ejs') %>
<%- include('../includes/input-validation/edit-allergen.ejs') %>

</head>

<body>
    <div class="dashboard-main-wrapper">
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/menu.ejs') %>
      <form 
         id="edit-allergen"
         class="ms-content-wrapper" 
         action="/super-admin/<% if (editing) { %>edit-allergen<% } %>"
         method="POST"
         enctype="multipart/form-data">

         <% if (editing) { %>
            <input
               type="hidden"
               value="<%= allergenId %>"
               name="allergenId" />
        <% } %>
              
               <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="basicform">
                                        <h3 class="section-title">Allergén szerkesztése</h3>
                                    </div>
                                    <div class="card">                      
                                        <div class="card-body">
                                                <div class="form-group">
                                                   <label class="col-form-label">Allergén <strong>Id</strong></label>
                                                   <input name="id" type="text" class="form-control" disabled value="<% if (editing) { %><%= allergen[0].id %><% } %>">  
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-form-label">Partner <strong>Id</strong></label>
                                                    <input name="adminId" type="text" class="form-control" disabled value="<% if (editing) { %><%= allergen[0].adminId %><% } %>">
                                                 </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Allergén <strong>román</strong> neve</label>
                                                   <input name="allergenNameRoView" id="allergenNameRoView" type="text" class="form-control" value="<% if (editing) { %><%= allergenNameRoView %><% } %>">
                                                   <span class="check-input error_form intro" id="allergenNameRoView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Allergén <strong>magyar</strong> neve</label>
                                                   <input name="allergenNameHuView" id="allergenNameHuView" type="text" class="form-control" value="<% if (editing) { %><%= allergenNameHuView %><% } %>">
                                                   <span class="check-input error_form intro" id="allergenNameHuView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Allergén <strong>angol</strong> neve</label>
                                                   <input name="allergenNameEnView" id="allergenNameEnView" type="text" class="form-control" value="<% if (editing) { %><%= allergenNameEnView %><% } %>">
                                                   <span class="check-input error_form intro" id="allergenNameEnView_error_message"></span>
                                                </div> 
                                        </div>
                                    </div>
                                    <button type="submit" id="allergen-btn" class="btn btn-success has-icon" ><% if (editing) { %>Allergén frissítése<% } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </body>
</html>

<%- include('../includes/end.ejs') %>


