<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/extra.ejs') %>


</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
     
      <form 
         id="createExtra_form"
         class="ms-content-wrapper" 
         action="/admin/<% if (editing) { %>edit-extra<% } else { %>add-extra<% } %>"
         method="POST"
         enctype="multipart/form-data">
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="roName"><%= lingua.create_product_name1 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="roName"
                                 id="roName"
                                 value="<% if (editing) { %><%= extra[0].extraTranslations[0].name %><% } %>">
                           </div>
                           <span class="error_form" id="roName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huName"><%= lingua.create_product_name2 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="huName"
                                 id="huName"
                                 value="<% if (editing) { %><%= extra[0].extraTranslations[1].name %><% } %>">
                           </div>
                           <span class="error_form" id="huName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enName"><%= lingua.create_product_name3 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="enName"
                                 id="enName"
                                 value="<% if (editing) { %><%= extra[0].extraTranslations[2].name %><% } %>">
                           </div>
                           <span class="error_form" id="enName_error_message"></span>
                        </div>
                     </div>
                  </div>
                     <div class="d-flex justify-content-center">
                        <% if (editing) { %>
                        <input type="hidden" value="<%= extra.id %>" name="extraId">
                        <%for (let i = 0; i < extraTranslation.length; i++){%>
                        <input type="hidden" value="<%= extraTranslation[i].id %>" name="extTranId">
                        <%}%>
                        <% } %>
                        <button type="submit" id="createExtra" class="btn btn-success has-icon" ><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
                     </div>
               </div>
               
            </div>



                <% if (editing) { %>
                  <input
                  type="hidden"
                  value="<%= extraIdEditing %>"
                  name="extraIdEditing"
                  />  

                  <% } %>
        

                  <% if (editing) { %>
                     <% for (let i = 0; i < isActive.length; i++) { %>
                        <% if (isActive[i].extraHasAllergens[0].active == 1) { %>
                           
                           <script>
                               $(document).ready(function() {
                               var activeCheckbox ="<%= isActive[i].extraHasAllergens[0].allergenId %>";
                               $('.status-checkbox-'+activeCheckbox).prop('checked', true);
                               $('.status-'+activeCheckbox).val('on');
                               });
                           </script>
                              
                           <% } 
                        %>
                     <% } %>
                     <% } %>
                     



            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                 <div class="ms-panel-header">
                   <h6>Allergén hozzárendelése extrához</h6>
                 </div>
                 <div class="ms-panel-body">
                   <p class="ms-directions"><code>Nem elfelejteni bejelölni az extrához hozzátartozó allergéneket</code>
                   </p>
                     <div class="row">
                       <div class="col-md-12">
                         <ul class="ms-list ms-list-display">
                           <%  for (let i = 0; i < allergenArray.length; i++) { %>
                              <input
                              type="hidden"
                              value="<%= allergenArray[i].id %>"
                              name="allergenId"
                              /> 
                           <li>
                             <label class="ms-switch" data-extra="<%= allergenArray[i].id %>">
                              <input type="hidden" value="off" class="status-<%= allergenArray[i].id %>" name="status[<%= allergenArray[i].id %>]" > 
                               <input data-extraId="<%= allergenArray[i].id %>"  class="status-checkbox status-checkbox-<%= allergenArray[i].id %>" type="checkbox"> <span class="ms-switch-slider ms-switch-success round"></span>
                             </label> <span> <%= allergenArray[i].allergenTranslations[0].name %> </span>
                           </li>
                           <% } %>
                         </ul>
                       </div>
                     </div>
                 </div>
               </div>
             </div>
           
         </div>
         </div>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>