<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
      $('.status-checkbox').click(function() {
         var extraId = $(this).attr('data-extraId');
         if($(this).is(':checked')) {
            $('.status-'+extraId).val('on');
         } else {
            $('.status-'+extraId).val('off');
         }
      });
   });
</script>

<script>
   $(document).ready(function () {
  $(".status-checkbox").click(function () {
   var extraId = $(this).data("extraid");
    $("#price_error_message_"+extraId).hide();
    $("#qtMin_error_message_"+extraId).hide();
    $("#qtMax_error_message_"+extraId).hide();
    var error_price = false;
    var error_qtMin = false;
    var error_qtMax = false;
    
  
  });
  function check_variantInputs() {
      var extraId = $(this).attr("data-extraId");
      $(".extra_box").each(function () {
        var extraId = $(this).data("extra");
        var price_len = $(".price_" + extraId).val().length;
        var qtMin_len = $(".qtMin_" + extraId).val().length;
        var qtMax_len = $(".qtMax_" + extraId).val().length;
        if ($(this).find("input:checkbox").is(":checked") && (price_len < 1 || qtMin_len < 1 || qtMax_len < 1)) {
           if (price_len < 1) {
            $("#price_error_message_"+extraId).show().html("Mezo kitoltese kotelezo");
              error_price = true;
           } else {
            $("#price_error_message_"+extraId).hide().html("");
           }
           if (qtMin_len < 1) {
            $("#qtMin_error_message_"+extraId).show().html("Mezo kitoltese kotelezo");
            error_qtMin = true;
           }else {
            $("#qtMin_error_message_"+extraId).hide().html("");
           }
           if (qtMax_len < 1) {
            $("#qtMax_error_message_"+extraId).show();
            $("#qtMax_error_message_"+extraId).html("Mezo kitoltese kotelezo");
            error_qtMax = true;
           }else {
            $("#qtMax_error_message_"+extraId).hide().html("");
           }
          
          
        } else {
          $(this).find(".extra_error_message").hide();
        }
      });
    }
  $(".extra_price_input").focusout(function() {
      var len = $(this).val().length; 
      var extraId = $(this).closest(".extra_box").data('extra');
      if (len < 1) {
         $("#price_error_message_"+extraId).show().html("Mezo kitoltese kotelezo");
      } else {
         $("#price_error_message_"+extraId).hide().html("");
      }
   
  });
  $(".extra_qtMin_input").focusout(function() {
      var len = $(this).val().length; 
      var extraId = $(this).closest(".extra_box").data('extra');
      if (len < 1) {
         $("#qtMin_error_message_"+extraId).show().html("Mezo kitoltese kotelezo");
      } else {
         $("#qtMin_error_message_"+extraId).hide().html("");
      }
   
  });
  $(".extra_qtMax_input").focusout(function() {
      var len = $(this).val().length; 
      var extraId = $(this).closest(".extra_box").data('extra');
      if (len < 1) {
         $("#qtMax_error_message_"+extraId).show().html("Mezo kitoltese kotelezo");
      } else {
         $("#qtMax_error_message_"+extraId).hide().html("");
      }
   
  });
  $("#variant-form").submit(function () {
      error_price = false;
      error_qtMin = false;
      error_qtMax = false;
      check_variantInputs();
      console.log(error_price, error_qtMin, error_qtMax);
      if (error_price == false && error_qtMin == false && error_qtMax == false) {
        return true;
      } else {
        return false;
      }
    });
});
</script>

<script type="text/javascript">
   $
</script>

<script>
   $(function () {
     $("#roName_error_message").hide();
     $("#huName_error_message").hide();
     $("#enName_error_message").hide();
     $("#sku_error_message").hide();
     $("#category_error_message").hide();
   
     var error_roName = false;
     var error_huName = false;
     var error_enName = false;
     var error_sku = false;
     var error_sku = false;
     var error_category = false;
   
     $("#roName").focusout(function () {
       check_roName();
     });
   
     $("#huName").focusout(function(){
        check_huName();
     })
   
     $("#enName").focusout(function(){
        check_enName();
     })
     $("#sku").focusout(function(){
        check_sku();
     })
     $("#category").focusout(function () {
       check_category();
     });
     
     function check_roName() {
       var roName_length = $("#roName").val().length;
   
       if (roName_length < 2 || roName_length > 15) {
         $("#roName_error_message").html(`<%= lingua.extra_ro_name_required %>`);
         $("#roName_error_message").show();
         error_roName = true;
       } else {
         $("#roName_error_message").hide();
       }
     }
   
     function check_huName() {
       var huName_length = $("#huName").val().length;
   
       if (huName_length < 2 || huName_length > 15) {
         $("#huName_error_message").html(`<%= lingua.extra_hu_name_required %>`);
         $("#huName_error_message").show();
         error_huName = true;
       } else {
         $("#huName_error_message").hide();
       }
     }
   
     function check_enName() {
       var enName_length = $("#enName").val().length;
   
       if (enName_length < 2 || enName_length > 15) {
         $("#enName_error_message").html(`<%= lingua.extra_en_name_required %>`);
         $("#enName_error_message").show();
         error_enName = true;
       } else {
         $("#enName_error_message").hide();
       }
     }
     function check_sku() {
       var sku_length = $("#sku").val().length;
   
       if (sku_length < 2 || sku_length > 15) {
         $("#sku_error_message").html(`<%= lingua.extra_en_name_required %>`);
         $("#sku_error_message").show();
         error_enName = true;
       } else {
         $("#sku_error_message").hide();
       }
     }
     function check_category() {
       var category_length = $("#category");
   
       if (category_length.val() === "") {
         $("#category_error_message").html("kategoria");
         $("#category_error_message").show();
         error_category = true;
       } else {
         $("#category_error_message").hide();
       }
     }
    
     $("#variant-form").submit(function () {
       error_roName = false;
       error_huName = false;
       error_enName = false;
       error_sku = false;
       error_category = false;
   
       check_roName();
       check_huName();
       check_enName();
       check_sku();
       check_category();
       if (
         error_roName == false &&
         error_huName == false &&
         error_enName == false &&
         error_sku == false &&
         error_category == false
       ) {
         return true;
       } else {
         return false;
       }
     });
   });
   </script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <form
         class="ms-content-wrapper" name="myForm"
         action="/admin/<% if (editing) { %>edit-variant<% } else { %>add-variant<% } %>"
         method="POST"
         enctype="multipart/form-data"
         id="variant-form">
         <% if (editing) { %>
            <% for (let i = 0; i < isActive.length; i++) { %>
               <% if (isActive[i].active ==1) { %>
                  
                  <script>
                      $(document).ready(function() {
                      var activeCheckbox ="<%= isActive[i].extraId %>";
                      $('.status-checkbox-'+activeCheckbox).prop('checked', true);
                      $('.status-'+activeCheckbox).val('on');
                      });
                  </script>
                     
                  <% } 
               %>
            <% } %>
            <% } %>
            
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="sku">Sku</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="sku"
                                 id="sku"
                                 value="<% if (editing) { %><%= variant[0].sku %><% } %>">
                           </div>
                           <span class="error_form" id="sku_error_message"></span>
                        </div>

                        <% if (editing) { %><div class="col-md-6 mb-3">
                              
                           <div class="col-md-6 mb-3">
                              <label for="validationCustom22">RO</label>
                              <div class="input-group">
                                <select class="form-control" for="categoryRo" id="categoryRo" name="categoryRo">
                                 <option value="">RO</option>
                                 <% for(let i = 0; i < cat.length; i++) { %>       
                                   <option id="categoryRo" name="categoryRo" value='<%= cat[i].id %>'><%= cat[i].productCategoryTranslations[0].name %></option>
                                 <% } %>
                                </select>
                               
                              </div>
                              <span class="error_form" id="category_error_message"></span>
                            </div>
   
                            <div class="col-md-6 mb-3">
                              <label for="validationCustom22">HU</label>
                              <div class="input-group">
                                <select class="form-control" for="categoryHu" id="categoryHu" name="categoryHu">
                                 <option value="">HU</option>
                                 <% for(let i = 0; i < cat.length; i++) { %>       
                                   <option id="categoryHu" name="categoryHu" value='<%= cat[i].id %>'><%= cat[i].productCategoryTranslations[1].name %></option>
                                 <% } %>
                                </select>
                               
                              </div>
                              <span class="error_form" id="category_error_message"></span>
                            </div>
   
                            <div class="col-md-6 mb-3">
                              <label for="validationCustom22">EN</label>
                              <div class="input-group">
                                <select class="form-control" for="categoryEn" id="categoryEn" name="categoryEn">
                                 <option value="">EN</option>
                                 <% for(let i = 0; i < cat.length; i++) { %>       
                                   <option id="categoryEn" name="categoryEn" value='<%= cat[i].id %>'><%= cat[i].productCategoryTranslations[2].name %></option>
                                 <% } %>
                                </select>
                               
                              </div>
                              <span class="error_form" id="category_error_message"></span>
                            </div>
                         <% } else { %>
                           
                           <div class="col-md-6 mb-3">
                           <label for="validationCustom22">RO</label>
                           <div class="input-group">
                             <select class="form-control" for="categoryRo" id="categoryRo" name="categoryRo">
                              <option value="">RO</option>
                              <% for(let i = 0; i < cat.length; i++) { %>       
                                <option id="categoryRo" name="categoryRo" value='<%= cat[i].id %>'><%= cat[i].productCategoryTranslations[0].name %></option>
                              <% } %>
                             </select>
                            
                           </div>
                           <span class="error_form" id="category_error_message"></span>
                         </div>

                         <div class="col-md-6 mb-3">
                           <label for="validationCustom22">HU</label>
                           <div class="input-group">
                             <select class="form-control" for="categoryHu" id="categoryHu" name="categoryHu">
                              <option value="">HU</option>
                              <% for(let i = 0; i < cat.length; i++) { %>       
                                <option id="categoryHu" name="categoryHu" value='<%= cat[i].id %>'><%= cat[i].productCategoryTranslations[1].name %></option>
                              <% } %>
                             </select>
                            
                           </div>
                           <span class="error_form" id="category_error_message"></span>
                         </div>

                         <div class="col-md-6 mb-3">
                           <label for="validationCustom22">EN</label>
                           <div class="input-group">
                             <select class="form-control" for="categoryEn" id="categoryEn" name="categoryEn">
                              <option value="">EN</option>
                              <% for(let i = 0; i < cat.length; i++) { %>       
                                <option id="categoryEn" name="categoryEn" value='<%= cat[i].id %>'><%= cat[i].productCategoryTranslations[2].name %></option>
                              <% } %>
                             </select>
                            
                           </div>
                           <span class="error_form" id="category_error_message"></span>
                         </div>
                         <% } %>
                      
                         <script>
                           $(function() { //run on document.ready
                           $("#categoryRo").change(function() { //this occurs when select 1 changes
                              $("#categoryHu").val($(this).val());
                              $("#categoryEn").val($(this).val());
                           });
                           });
            
                           $(function() { //run on document.ready
                           $("#categoryHu").change(function() { //this occurs when select 1 changes
                              $("#categoryRo").val($(this).val());
                              $("#categoryEn").val($(this).val());
                           });
                           });
            
                           $(function() { //run on document.ready
                           $("#categoryEn").change(function() { //this occurs when select 1 changes
                              $("#categoryRo").val($(this).val());
                              $("#categoryHu").val($(this).val());
                           });
                           });
                        </script>

                      

                        <div class="col-md-12 mb-3">
                           <label for="roName"><%= lingua.create_product_name1 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="roName"
                                 id="roName"
                                 value="<% if (editing) { %><%= variant[0].productVariantTranslations[0].name %><% } %>">
                           </div>
                           <span class="error_form" id="roName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huName"><%= lingua.create_product_name2 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="huName"
                                 id="huName"
                                 value="<% if (editing) { %><%= variant[0].productVariantTranslations[1].name %><% } %>">
                           </div>
                           <span class="error_form" id="huName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enName"><%= lingua.create_product_name3 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 name="enName"
                                 id="enName"
                                 value="<% if (editing) { %><%= variant[0].productVariantTranslations[2].name %><% } %>">
                           </div>
                           <span class="error_form" id="enName_error_message"></span>
                        </div>
                        
                        <% if (editing) { %>
                           <input type="hidden" value="<%= variantIdByParams %>" name="variantId">
                           <%for (let i = 0; i < extTranslations.length; i++){%>
                           <input type="hidden" value="<%= extTranslations[i].id %>" name="extTranId">
                           <%}%>
                           <% } %>
                        <button class="btn btn-success has-icon" id="votebutton" type="submit">
                        <% if (editing) { %>Update Product<% } else { %>Add
                        Product<% } %>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
         </div>
         </div>
         <div class="ms-panel ms-btn-display">
            <div class="ms-panel-header">
               <h6>A  hozzárendelhető extrái:</h6>
            </div>
         </div>
         <% if (editing) { %>  <% if (varToExt.length > 0) { %>
            <div class="ms-content-wrapper">
               <div class="row">
                  <div class="col-md-12">
                     <div class="row">
                        <% for (let i = 0; i < varToExt.length; i++) { %>
                           <input
                           type="hidden"
                           value="<%= varToExt[i].extraId %>"
                           name="extraId"
                           />          
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 extra_box" data-extra="<%= varToExt[i].extraId %>">
                           <div class="ms-card">
                              <div class="d-flex justify-content-center extra-margin-top">
                                    <div class="row"> 
                                      
                                       <label class="ms-switch" >                 
                                          <input type="hidden" value="off" class="status-<%= varToExt[i].extraId %>" name="status[<%= varToExt[i].extraId %>]" >          
                                          <input    data-extraId="<%= varToExt[i].extraId %>"  class="status-checkbox status-checkbox-<%= varToExt[i].extraId %>" type="checkbox">
                                          <span class="ms-switch-slider ms-switch-success round"></span>
                                       </label> 
                                    </div>
                              </div>
                              <div class="ms-card-body">
                                 <div class="new d-flex justify-content-center extra-name">
                                    <h6 class="mb-0"><b><%= varToExt[i].extraId %></b> </h6>
                                 </div>
                                 <div class="col-md-12 mb-3">
                                    <label for="price">Price</label>
                                    <div class="input-group">
                                       <input
                                          class="price_<%= varToExt[i].id %> extra_price_input"
                                          type="text"
                                          name="price"
                                          id="price"
                                          value="<% if (editing) { %><%= varToExt[i].price %><% } %>"
                                          />
                                    </div>
                                    <span class="extra_error_message error_form" id="price_error_message_<%= varToExt[i].extraId %>"></span>
                                 </div>
                                 <div class="col-md-12 mb-3">
                                    <label for="discountedPrice"
                                       >Discounted Price</label
                                       >
                                    <div class="input-group">
                                       <input disabled
                                          class="form-control"
                                          type="text"
                                          name="discountedPrice"
                                          id="discountedPrice"
                                          value="<% if (editing) { %><%= varToExt[i].discountedPrice %><% } %>"
                                          />
                                    </div>
                                 </div>
                                 <div class="col-md-12 mb-3">
                                    <label for="quantityMin"
                                       >Quantity Minimum</label
                                       >
                                    <div class="input-group">
                                       <input
                                          class="qtMin_<%= varToExt[i].id %> extra_qtMin_input"
                                          type="text"
                                          name="quantityMin"
                                          id="quantityMin"
                                          value="<% if (editing) { %><%= varToExt[i].quantityMin %><% } %>"
                                          />
                                    </div>
                                    <span class="extra_error_message error_form" id="qtMin_error_message_<%= varToExt[i].extraId %>"></span>
                                 </div>
                                 <div class="col-md-12 mb-3">
                                    <label for="quantityMax"
                                       >Quantity Maximum</label
                                       >
                                    <div class="input-group">
                                       <input
                                          class="qtMax_<%= varToExt[i].id %> extra_qtMax_input"
                                          type="text"
                                          name="quantityMax"
                                          id="quantityMax"
                                          value="<% if (editing) { %><%= varToExt[i].quantityMax %><% } %>"
                                          />
                                    </div>
                                    <span class="extra_error_message error_form" id="qtMax_error_message_<%= varToExt[i].extraId %>"></span>
                                 </div>
                             
                              </div>
                           </div>
                        </div>
                        <% } %>
                     </div>
                  </div>
               </div>
            </div>
            <% } else { %>
            <% } %><% } else { %>
               
               <% if (ext.length > 0) { %>
                  <div class="ms-content-wrapper">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="row">
                              <% for (let extra of ext) { %>
                                 <input
                                 type="hidden"
                                 value="<%= extra.id %>"
                                 name="extraId"
                                 />          
                              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 extra_box" data-extra="<%= extra.id %>">
                                 <div class="ms-card">
                                    <div class="d-flex justify-content-center extra-margin-top">
                                          <div class="row"> 
                                            
                                             <label class="ms-switch" >                 
                                                <input type="hidden" value="off" class="status-<%= extra.id %>" name="status[<%= extra.id %>]" >          
                                                <input    data-extraId="<%= extra.id %>"  class="status-checkbox status-checkbox-<%= extra.id %>" type="checkbox"> <span class="ms-switch-slider ms-switch-success round"></span>
                                             </label> 
                                          </div>
                                    </div>
                                    <div class="ms-card-body">
                                       <div class="new d-flex justify-content-center extra-name">
                                          <h6 class="mb-0"><b>dsasd</b> </h6>
                                       </div>
                                       <div class="col-md-12 mb-3">
                                          <label for="price">Price</label>
                                          <div class="input-group">
                                             <input
                                                class="price_<%= extra.id %> extra_price_input"
                                                type="text"
                                                name="price"
                                                id="price"
                                                value="<% if (editing) { %><%= extra.price %><% } %>"
                                                />
                                          </div>
                                          <span class="extra_error_message error_form" id="price_error_message_<%= extra.id %>"></span>
                                       </div>
                                       <div class="col-md-12 mb-3">
                                          <label for="discountedPrice"
                                             >Discounted Price</label
                                             >
                                          <div class="input-group">
                                             <input disabled
                                                class="form-control"
                                                type="text"
                                                name="discountedPrice"
                                                id="discountedPrice"
                                                value="<% if (editing) { %><%= extra.discountedPrice %><% } %>"
                                                />
                                          </div>
                                       </div>
                                       <div class="col-md-12 mb-3">
                                          <label for="quantityMin"
                                             >Quantity Minimum</label
                                             >
                                          <div class="input-group">
                                             <input
                                                class="qtMin_<%= extra.id %> extra_qtMin_input"
                                                type="text"
                                                name="quantityMin"
                                                id="quantityMin"
                                                value="<% if (editing) { %><%= extra.quantityMin %><% } %>"
                                                />
                                          </div>
                                          <span class="extra_error_message error_form" id="qtMin_error_message_<%= extra.id %>"></span>
                                       </div>
                                       <div class="col-md-12 mb-3">
                                          <label for="quantityMax"
                                             >Quantity Maximum</label
                                             >
                                          <div class="input-group">
                                             <input
                                                class="qtMax_<%= extra.id %> extra_qtMax_input"
                                                type="text"
                                                name="quantityMax"
                                                id="quantityMax"
                                                value="<% if (editing) { %><%= extra.quantityMax %><% } %>"
                                                />
                                          </div>
                                          <span class="extra_error_message error_form" id="qtMax_error_message_<%= extra.id %>"></span>
                                       </div>
                                   
                                    </div>
                                 </div>
                              </div>
                              <% } %>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% } else { %>
                  <% } %>
               
               
               <% } %>
               
                
                
              
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>