

<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/variant.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
       <script>
         $(document).ready(function () {
             const regex = /[^\d.]|\.(?=.*\.)/g;
             const subst = ``;
             $(".extra_price_input").keyup(function () {
               const str = this.value;
               const result = str.replace(regex, subst);
               this.value = result;
             });
           });
      </script>
      
      <form
         class="ms-content-wrapper" name="myForm"
         action="/admin/<% if (editing) { %>edit-variant<% } else { %>add-variant<% } %>"
         method="POST"
         enctype="multipart/form-data"
         id="variant_form">
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6><%= lingua.create_variant %></h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="sku">Sku</label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 autocomplete="off"
                                 name="sku"
                                 id="sku"
                                 value="<% if (editing) { %><%= variant[0].ProductVariantsExtras[0].Variant.sku %><% } %>">
                           </div>
                           <span class="error_form" id="sku_error_message"></span>
                        </div>
                        <% if (editing) { %>
                        <div class="col-md-6 mb-3">
                           <label for="validationCustom22"><%= lingua.variant_category %></label>
                           <div class="input-group">
                              <select class="form-control" for="categoryId" id="categoryId" name="categoryId">
                                 <option value="" selected disabled hidden><%= lingua.variant_category %></option>
                                 <% for(let i = 0; i < cat.length; i++) { %>
                                 <option id="categoryId" name="categoryId" value='<%= cat[i].id %>'><%= cat[i].CategoryTranslations[0].name %></option>
                                 <% } %>
                              </select>
                           </div>
                           <span class="error_form" id="category_error_message"></span>
                        </div>
                        <% } else { %>
                        <div class="col-md-6 mb-3">
                           <label for="validationCustom22"><%= lingua.variant_category %></label>
                           <div class="input-group">
                              <select class="form-control" for="categoryId" id="categoryId" name="categoryId">
                                 <option value="" selected disabled hidden><%= lingua.variant_category %></option>
                                 <% for(let i = 0; i < cat.length; i++) { %>
                                 <option id="categoryId" name="categoryId" value='<%= cat[i].id %>'><%= cat[i].CategoryTranslations[0].name %></option>
                                 <% } %>
                              </select>
                           </div>
                           <span class="error_form" id="category_error_message"></span>

                        </div>
                        <% } %>
                        

                        <div>
                           <div>
                              <div class="form-group">
                                 <label for="maxOption"><%= lingua.required_extra %></label>
                                 <select class="form-control" name="maxOption" id="maxOption">
                                    <option value="0" selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                 </select>
                              </div>
                              <span class="error_form" id="required_error_message"></span>

                           </div>
                           <% if (editing) { %>
                           <input type="hidden" value="<%= variantIdByParams %>" name="variantId">
                           <% } %>
                          
                        </div>
                        
                     </div>
                     <button class="btn btn-success has-icon" id="createVariant" type="submit">
                        <% if (editing) { %>Update Product<% } else { %>Add
                        Product<% } %>
                        </button>
                  </div>
               </div>
            </div>
            <% if(editing){ %>
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel">
                  <div class="ms-panel-header">
                     <h6><%= lingua.variant_property_title %></h6>
                  </div>
                  <div class="ms-panel-body">
                     <p class="ms-directions"><code><%= lingua.variant_property_subtitle %></code>
                     </p>
                     <div id="propByCatEdit" class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <div class="row">
                                 <div class="col-sm">
                                    <select
                                       class="form-control"
                                       for="propertyId"
                                       id="propertyId"
                                       name="propertyId"
                                       >
                                       <% for(let i = 0; i < resultProp.length; i++) { %>
                                       <option
                                          id="propertyId"
                                          name="propertyId"
                                          value="<%= resultProp[i].Property.id %>"
                                          ><%= resultProp[i].Property.PropertyTranslations[0].name %></option
                                          >
                                    </select>
                                 </div>
                                 <script>
                                    $(document).ready(function () {
                                      var id = "<%= testActiveOk %>";
                                      $("#propertyValueId").val(id);

                                    });
                                  </script>
                                 <div class="col-sm">
                                    <select
                                       class="form-control"
                                       for="propertyValueId"
                                       id="propertyValueId"
                                       name="propertyValueId"
                                       >
                                       <option value="" selected disabled hidden>Choose here</option>
                                       <% for(let j = 0; j < resultProp[i].Property.PropertyValues.length; j++) {
                                          %>
                                       <option
                                          id="propertyValueId"
                                          name="propertyValueId"
                                          value="<%= resultProp[i].Property.PropertyValues[j].id %>"
                                          ><%=
                                          resultProp[i].Property.PropertyValues[j].PropertyValueTranslations[0].name
                                          %>
                                       </option>
                                       <% } %>
                                    </select>
                                 </div>
                              </div>
                              <% } %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <% } else{ %>  
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel">
                  <div class="ms-panel-header">
                     <h6><%= lingua.variant_property_title %></h6>
                  </div>
                  <div class="ms-panel-body">
                     <p class="ms-directions"><code><%= lingua.variant_property_subtitle %></code>
                     </p>
                     <div id="propByCat" class="row">
                        <div class="col-md-6">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <% } %>
         </div>
         
       
         <div class="ms-panel ms-btn-display">
            <div class="ms-panel-header">
               <h6 style="padding-bottom: 10px;"><%= lingua.assignable_extras %></h6>
               <input type="text" name="search" id="search" autocomplete="off" placeholder="<%= lingua.search_extra %>" class="form-control"
               />
            </div>
         </div>
         <% if (editing) { %>  <% if (productVarToExt.length > 0) { %>
           
         <div class="ms-content-wrapper">
            <div class="row">
               <div class="col-md-12">
                  <div id="searchedExtra" class="row">
                     <input
                        type="hidden"
                        value="<%= varId %>"
                        name="varId"
                        />  
                     <% for (let i = 0; i < variant.length; i++) { %>
                     <input
                        type="hidden"
                        value="<%= variant[i].ProductVariantsExtras[0].extraId %>"
                        name="extraId"
                        />          
                     <div class="col-xl-3 cfol-lg-4 col-md-6 col-sm-6 extra_box extra-all extra-<%= variant[i].ExtraTranslations[0].name %>"" data-extra="<%= variant[i].ProductVariantsExtras[0].extraId %>">
                        <div class="ms-card">
                           <div class="d-flex justify-content-center extra-margin-top">
                              <div class="row"> 
                                 <label class="ms-switch" >                 
                                 <input type="hidden" value="off" class="status-<%= variant[i].ProductVariantsExtras[0].extraId %>" name="status[<%= variant[i].ProductVariantsExtras[0].extraId %>]" >          
                                 <input data-extraId="<%= variant[i].ProductVariantsExtras[0].extraId %>" class="status-checkbox status-checkbox-<%= variant[i].ProductVariantsExtras[0].extraId %>" type="checkbox">
                                 <span class="ms-switch-slider ms-switch-success round"></span>
                                 </label> 
                              </div>
                           </div>
                           <hr>
                           <div class="d-flex justify-content-center extra-margin-top">
                              <label class="ms-checkbox-wrap ms-checkbox-success">
                              <input type="hidden" value="off" class="statusOption<%= variant[i].id %> status-option" name="statusOption[<%= variant[i].id %>]" >    
                              <input data-optionId="<%= variant[i].id %>" class="status-checkbox-option status-checkbox-option-<%= variant[i].id %>" type="checkbox"  > <i class="ms-checkbox-check"></i>
                              </label> <span style="margin-top: 4px;"><%= lingua.optional_extra %></span>
                           </div>
                           <div class="ms-card-body">
                              <div class="new d-flex justify-content-center extra-name">
                                 <h6 class="mb-0"><b><%=  variant[i].ExtraTranslations[0].name %></b> </h6>
                              </div>
                              
                              <div class="col-md-12 mb-3">
                                 <label for="price"><%= lingua.variant_price %></label>
                                 <div class="input-group">
                                    <input
                                       class="form-control price_<%= variant[i].ProductVariantsExtras[0].extraId %> extra_price_input"
                                       type="text"
                                       name="price"
                                       id="price"
                                       autocomplete="off"
                                       placeholder="<%= lingua.price_placeholder %>"
                                       value="<% if (editing) { %><%= variant[i].ProductVariantsExtras[0].price %><% } %>"
                                       />
                                 </div>
                                 <span class="info-box-price" id="price_error_message"><%= lingua.price_info %></span>
                                 <br>
                                 <span class="extra_error_message error_form" id="price_error_message_<%= variant[i].ProductVariantsExtras[0].extraId %>"></span>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="quantityMin"
                                    ><%= lingua.variant_quantityMin %></label
                                    >
                                 <div class="input-group">
                                    <input
                                       class="form-control qtMin_<%= variant[i].ProductVariantsExtras[0].extraId %> extra_qtMin_input"
                                       type="number" 
                                       name="quantityMin"
                                       id="quantityMin"
                                       autocomplete="off"
                                       onKeyDown="if(this.value.length==18) return false;"
                                       value="<% if (editing) { %><%= variant[i].ProductVariantsExtras[0].quantityMin %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="qtMin_error_message_<%= variant[i].ProductVariantsExtras[0].extraId %>"></span>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="quantityMax"
                                    ><%= lingua.variant_quantityMax %></label
                                    >
                                 <div class="input-group">
                                    <input
                                       class="form-control qtMax_<%= variant[i].ProductVariantsExtras[0].extraId %> extra_qtMax_input"
                                       type="text"
                                       name="quantityMax"
                                       id="quantityMax"
                                       autocomplete="off"
                                       value="<% if (editing) { %><%= variant[i].ProductVariantsExtras[0].quantityMax %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="qtMax_error_message_<%= variant[i].ProductVariantsExtras[0].extraId %>"></span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
         <% } else { %>
         <% } %><% } else { %>
         <% if (ext.length > 0) { %>
         <div class="ms-content-wrapper">
            <div class="row">
               <div class="col-md-12">
                  <div  id="searchedExtra" class="row">
                     <% for (let i=0; i < ext.length; i++ ) { %>
                     <input
                        type="hidden"
                        value="<%= ext[i].id %>"
                        name="extraId"
                        />          
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 extra_box extra-all extra-<%= ext[i].ExtraTranslations[0].name %>" data-extra="<%= ext[i].id %>">
                        <div class="ms-card">
                           <div class="d-flex justify-content-center extra-margin-top">
                              <div class="row">
                                 <label class="ms-switch" >                 
                                 <input type="hidden" value="off" class="status-<%= ext[i].id %>" name="status[<%= ext[i].id %>]" >          
                                 <input data-extraId="<%= ext[i].id %>" class="status-checkbox status-checkbox-<%= ext[i].id %>" type="checkbox"> <span class="ms-switch-slider ms-switch-success round"></span>
                                 </label> 
                                 <div style="margin-top: 6px;"><%= lingua.required_extra %></div>
                              </div>
                           </div>
                           <hr>
                           <div class="d-flex justify-content-center extra-margin-top">
                              <label class="ms-checkbox-wrap ms-checkbox-success">
                              <input type="hidden" value="off" class="statusOption<%= ext[i].id %>  status-option" name="statusOption[<%= ext[i].id %>]" >    
                              <input data-optionId="<%= ext[i].id %>"  class="status-checkbox-option status-checkbox-option-<%= ext[i].id %>" type="checkbox"  > <i class="ms-checkbox-check"></i>
                              </label> <span style="margin-top: 4px;"><%= lingua.optional_extra %> </span>
                           </div>
                           <div class="ms-card-body">
                              <div class="new d-flex justify-content-center extra-name">
                                 <h6 class="mb-0"><b><%= ext[i].ExtraTranslations[0].name %></b> </h6>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="price"><%= lingua.variant_price %></label>
                                 <div class="input-group">
                                    <input
                                       class="form-control price_<%= ext[i].id %> extra_price_input"
                                       type="text"
                                       name="price"
                                       autocomplete="off"
                                       placeholder="<%= lingua.price_placeholder %>"
                                       id="price"
                                       value="<% if (editing) { %><%= ext[i].price %><% } %>"
                                       />
                                 </div>
                                 <span class="info-box-price" id="price_error_message"><%= lingua.price_info %></span>
                                 <br>
                                 <span class="extra_error_message error_form" id="price_error_message_<%= ext[i].id %>"></span>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="quantityMin"
                                    ><%= lingua.variant_quantityMin %></label
                                    >
                                 <div class="input-group">
                                    <input
                                       class="form-control qtMin_<%= ext[i].id %> extra_qtMin_input"
                                       type="number"
                                       name="quantityMin"
                                       id="quantityMin"
                                       autocomplete="off"
                                       onKeyDown="if(this.value.length==18) return false;"
                                       value="<% if (editing) { %><%= ext[i].quantityMin %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="qtMin_error_message_<%= ext[i].id %>"></span>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="quantityMax"
                                    ><%= lingua.variant_quantityMax %></label
                                    >
                                 <div class="input-group">
                                    <input
                                       class="form-control qtMax_<%= ext[i].id %> extra_qtMax_input"
                                       type="text"
                                       name="quantityMax"
                                       id="quantityMax"
                                       autocomplete="off"
                                       value="<% if (editing) { %><%= ext[i].quantityMax %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="qtMax_error_message_<%= ext[i].id %>"></span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
         <% } else { %>
         <% } %>
         <% } %> 
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>

