<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
      $('.status-checkbox').click(function() {
         var extraId = $(this).attr('data-extraId');
         if($(this).is(':checked')) {
            $('.status-'+extraId).val('on');
         } else {
            $('.status-'+extraId).val('off');
         }
      });
   });
</script>

<script>
   $(document).ready(function () {
  $(".status-checkbox").click(function () {
    $("#price_error_message").hide();
    $("#qtMin_error_message").hide();
    $("#qtMax_error_message").hide();
    var error_price = false;
    var error_qtMin = false;
    var error_qtMax = false;

    function check_variantInputs() {
      var extraId = $(this).attr("data-extraId");
      $(".extra_box").each(function () {
        var extraId = $(this).data("extra");
        var price_len = $(".price_" + extraId).val().length;
        var qtMin_len = $(".qtMin_" + extraId).val().length;
        var qtMax_len = $(".qtMax_" + extraId).val().length;
        if ($(this).find("input:checkbox").is(":checked") && price_len < 1 && qtMin_len < 1 && qtMax_len < 1) {
          $(this).find(".extra_error_message").show();
          $(this)
            .find(".extra_error_message")
            .html("Mezo kitoltese kotelezo");
          error_price = true;
          error_qtMin = true;
          error_qtMax = true;
        } else {
          $(this).find(".extra_error_message").hide();
        }
      });
    }

    $("#variant-form").submit(function () {
      error_price = false;
      error_qtMin = false;
      error_qtMax = false;
      check_variantInputs();

      if (error_price == false && error_qtMin == false && error_qtMax == false) {
        return true;
      } else {
        return false;
      }
    });
  });
});
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <form
         class="ms-content-wrapper" name="myForm"
         action="/admin/<% if (editing) { %>edit-variant<% } else { %>add-variant<% } %>"
         method="POST"
         enctype="multipart/form-data"
         id="variant-form">
         <% if (editing) { %>
            <% for (let i = 0; i < isActive.length; i++) { %>
               <% if (isActive[i].active ==1) { %>
                  
                  <script>
                      $(document).ready(function() {
                      var activeCheckbox ="<%= isActive[i].extraId %>";
                      $('.status-checkbox-'+activeCheckbox).prop('checked', true);
                      $('.status-'+activeCheckbox).val('on');
                      });
                  </script>
                     
                  <% } 
               %>
            <% } %>
            <% } %>
            
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="sku">Sku</label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'sku') ? 'invalid' : '' %>"
                                 type="text"
                                 name="sku"
                                 id="sku"
                                 value="<% if (editing || hasError) { %><%= variant[0].productVariantTranslations[0].sku %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-6 mb-3">
                           <label for="validationCustom22">Select Catagory</label>
                           <div class="input-group">
                             <select class="form-control" id="validationCustom22" required>
                               <option value="">Catagory 1</option>
                               <option value="">Catagory 2</option>
                               <option value="">Catagory 3</option>
                               <option value="">Catagory 4</option>
       
                             </select>
                             <div class="invalid-feedback">
                               Please select a Catagory.
                             </div>
                           </div>
                         </div>
                      
                        <div class="col-md-12 mb-3">
                           <label for="roName"><%= lingua.create_product_name1 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'roName') ? 'invalid' : '' %>"
                                 type="text"
                                 name="roName"
                                 id="roName"
                                 value="<% if (editing || hasError) { %><%= variant[0].productVariantTranslations[0].name %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huName"><%= lingua.create_product_name2 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'huName') ? 'invalid' : '' %>"
                                 type="text"
                                 name="huName"
                                 id="huName"
                                 value="<% if (editing || hasError) { %><%= variant[0].productVariantTranslations[1].name %><% } %>">
                           </div>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enName"><%= lingua.create_product_name3 %></label>
                           <div class="input-group">
                              <input
                                 class="form-control <%= validationErrors.find(e => e.param === 'enName') ? 'invalid' : '' %>"
                                 type="text"
                                 name="enName"
                                 id="enName"
                                 value="<% if (editing || hasError) { %><%= variant[0].productVariantTranslations[2].name %><% } %>">
                           </div>
                        </div>
                        
                        <% if (editing) { %>
                           <input type="hidden" value="<%= variant.id %>" name="variantId">
                           <%for (let i = 0; i < extTranslations.length; i++){%>
                           <input type="hidden" value="<%= extTranslations[i].id %>" name="extTranId">
                           <%}%>
                           <% } %>
                        <button class="btn btn-success has-icon" id="votebutton" type="submit">
                        <% if (editing) { %>Update Product<% } else { %>Add
                        Product<% } %>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
         </div>
         </div>
         <div class="ms-panel ms-btn-display">
            <div class="ms-panel-header">
               <h6>A  hozzárendelhető extrái:</h6>
            </div>
         </div>
         <% if (ext.length > 0) { %>
         <div class="ms-content-wrapper">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <% for (let extra of ext) { %>
                        <input
                        type="hidden"
                        value="<%= extra.id %>"
                        name="extraId"
                        />          
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 extra_box" data-extra="<%= extra.id %>">
                        <div class="ms-card">
                           <div class="d-flex justify-content-center extra-margin-top">
                                 <div class="row"> 
                                   
                                    <label class="ms-switch" >                 
                                       <input type="hidden" value="off" class="status-<%= extra.id %>" name="status[<%= extra.id %>]" >          
                                       <input    data-extraId="<%= extra.id %>"  class="status-checkbox status-checkbox-<%= extra.id %>" type="checkbox"  > <span class="ms-switch-slider ms-switch-success round"></span>
                                    </label> 
                                 </div>
                           </div>
                           <div class="ms-card-body">
                              <div class="new d-flex justify-content-center extra-name">
                                 <h6 class="mb-0"><b><%= extra.id %></b> </h6>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="price">Price</label>
                                 <div class="input-group">
                                    <input
                                       class="price_<%= extra.id %>"
                                       type="text"
                                       name="price"
                                       id="price"
                                       value="<% if (editing) { %><%= extra.price %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="price_error_message"></span>

                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="discountedPrice"
                                    >Discounted Price</label
                                    >
                                 <div class="input-group">
                                    <input disabled
                                       class="form-control <%= validationErrors.find(e => e.param === 'discountedPrice') ? 'invalid' : '' %>"
                                       type="text"
                                       name="discountedPrice"
                                       id="discountedPrice"
                                       value="<% if (editing || hasError) { %><%= extra.discountedPrice %><% } %>"
                                       />
                                 </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="quantityMin"
                                    >Quantity Minimum</label
                                    >
                                 <div class="input-group">
                                    <input
                                       class="qtMin_<%= extra.id %>"
                                       type="text"
                                       name="quantityMin"
                                       id="quantityMin"
                                       value="<% if (editing) { %><%= extra.quantityMin %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="qtMin_error_message"></span>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <label for="quantityMax"
                                    >Quantity Maximum</label
                                    >
                                 <div class="input-group">
                                    <input
                                       class="qtMax_<%= extra.id %>"
                                       type="text"
                                       name="quantityMax"
                                       id="quantityMax"
                                       value="<% if (editing) { %><%= extra.quantityMax %><% } %>"
                                       />
                                 </div>
                                 <span class="extra_error_message error_form" id="qtMax_error_message"></span>
                              </div>
                          
                           </div>
                        </div>
                     </div>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
         <% } else { %>
         <% } %>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>