<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
<%- include('../includes/navigation.ejs') %>

  <main class="body-content">
    <%- include('../includes/navigation-bar.ejs') %>   
    <div class="ms-content-wrapper">
        <div class="row">
          <div class="col-md-12">
            
            
            <div class="col-12">
                <div class="ms-panel">
                  <div class="ms-panel-header">
                    <h6> Order List</h6>
                  </div>
                  <div class="ms-panel-body">
    
                    <div class="table-responsive">
                      <table class="table table-hover thead-primary">
                        <thead>
                          <tr>
                            <th scope="col"><%= lingua.order_page_list_order_name %></th>
                            <th scope="col"><%= lingua.order_page_list_order_adress %></th>
                            <th scope="col"><%= lingua.order_page_list_order_product %></th>
                                <th scope="col"><%= lingua.order_page_list_order_pay %></th>
                                
                          </tr>
                        </thead>
                        <% if (cst.length > 0) { %>
                        <tbody>
                            <% for (let cost of cst) { %>
                          <tr>
                            <td> df %></td>
                            <td> Jhon Leo</td>
                              <td><%= cost.name %></td>
                              <td><%= cost.price %></td>
                              
                                <td><a href="/admin/edit-cost/<%= cost._id %>?edit=true" class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.product_action_edit %></a>
                                </td>
                                <td>
                                 
                                        <form action="/admin/delete-order" method="POST">
                                          <input type="hidden" value="<%= cost._id %>" name="orderId">
                                          <button class="btn grid-btn mt-0 btn-sm btn-primary" type="submit"><%= lingua.product_action_delete %></button>
                                       </form>
                                     


                                </td> 
                          </tr>    
                          <% } %>
                        </tbody>
                         <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
        
    

  </main>
 
<%- include('../includes/end.ejs')
  %>
</body>