<%- include('../includes/head.ejs') %>

</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
  <%- include('../includes/navigation.ejs') %>

  <main class="body-content">
   
    <%- include('../includes/navigation-bar.ejs') %> <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <div
      class="ms-content-wrapper"
      action="/admin/<% if (editing) { %>edit-cost<% } else { %>add-cost<% } %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="row">
        <div class="col-xl-6 col-md-12">
          <div class="ms-panel ms-panel-fh">
            <div class="ms-panel-header">
              <h6>Add Product Form</h6>
            </div>
            <div class="ms-panel-body">
                <div class="form-row">
                  <form
                    class="product-form"
                    action="/admin/<% if (editing) { %>edit-cost<% } else { %>add-cost<% } %>"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                  <div class="col-md-6 mb-3">
                    <label for="price"><%= lingua.create_product_price %></label>
                    <div class="input-group">
                      <input
                        class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                        type="number"
                        name="price"
                        id="price"
                        step="0.01"
                        value="<% if (editing || hasError) { %><%= cost.price %><% } %>"
                      />
                      <div class="invalid-feedback">
                        Price 
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="roName">roName</label>
                    <div class="input-group">
                      <input
                        class="form-control <%= validationErrors.find(e => e.param === 'roName') ? 'invalid' : '' %>"
                        type="text"
                        name="roName"
                        id="roName"
                       
                        value="<% if (editing || hasError) { %><%= cost.roName %><% } %>"
                      />
                    
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="name">huName</label>
                    <div class="input-group">
                      <input
                        class="form-control <%= validationErrors.find(e => e.param === 'huName') ? 'invalid' : '' %>"
                        type="text"
                        name="huName"
                        id="huName"
                       
                        value="<% if (editing || hasError) { %><%= cost.huName %><% } %>"
                      />
                    
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="enName">enName</label>
                    <div class="input-group">
                      <input
                        class="form-control <%= validationErrors.find(e => e.param === 'enName') ? 'invalid' : '' %>"
                        type="text"
                        name="enName"
                        id="enName"
                       
                        value="<% if (editing || hasError) { %><%= cost.enName %><% } %>"
                      />
                    
                    </div>
                  </div>
                 
                
                </div>
            
            </div>
          </div>
        </div>


     

        <div class="col-xl-6 col-md-12">
          <div class="row">
            <div class="col-md-12">
             
                  <% if (editing) { %>
                  <input
                    type="hidden"
                    value="<%= cost._id %>"
                    name="costId"
                  />
                  <% } %>

                  <button class="btn" type="submit">
                    <% if (editing) { %>Update Product<% } else { %>Add
                    Product<% } %>
                  </button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
</body>