

<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
   
      $('#search').keyup(function() {
         const allergenId = $('#search').val();
         $.get( "get-filtered-allergen/"+ allergenId )
   
      .done(function( data ) {
   
         $("#searchedAllergen").html(data);
         
      });
   });
   })
   
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Összes Extra </a></li>
               <li role="presentation"><a class="add-variant" href="/admin/add-allergen">Add allergen </a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane" id="tab1">
               </div>
               <div class="tab-pane" id="tab2">
               </div>
               <div class="tab-pane" id="tab3">
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow first-rounded has-shadow">
               <li class="breadcrumb-item"><a href="/admin/vr-index">
                  Vissza</a>
               </li>
               <li class="breadcrumb-item active" aria-current="page">Allergenek</li>
            </ol>
         </nav>
      </div>
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-12">
               <div class="ms-panel">
                  <div class="ms-panel-header">
                     <h6> Category List</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div  class="table-responsive">
                        <table id="searchedAllergen" class="table table-hover thead-primary">
                           <thead>
                              <tr>
                                 <th scope="col">ID</th>
                                 <th scope="col">Name</th>
                                 <th scope="col">STATUS</th>
                                 <th scope="col" >EDIT</th>
                              </tr>
                           </thead>
                           <div class="col-6">
                              <input type="text" name="search" id="search" placeholder="Search allergen" class="category-search form-control" />
                              <hr>
                           </div>
                           <% if (allergen.length > 0) { %>
                           <% for (let i = 0; i < allergen.length; i++) { %>
                           <tbody>
                              <th scope="row"><%= allergen[i].id %></th>
                              <td><%= currentAllergenName[i] %></td>
                              <td><span class="badge badge-success">AKTIV</span></td>
                              <td>
                                 <a href="/admin/edit-allergen/<%= allergen[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.product_action_edit %></a>
                              </td>
                           </tbody>
                           <% } %>
                           <% } else { %>
                           <h1>No Products Found!</h1>
                           <% } %>
                        </table>
                     </div>
                     <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../includes/end.ejs') %>
</body>

