

<%- include('../includes/head.ejs') %>
<script>
$(document).ready(function() {
	$('#search').keyup(function() {
		const allergenId = $('#search').val();
		$.get("get-filtered-allergen/" + allergenId).done(function(data) {
			$("#searchedAllergen").html(data);
		});
	});
})
</script>

</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"><%= lingua.all_allergens %></a></li>
               <li role="presentation"><a class="add-variant" href="/admin/add-allergen"><%= lingua.create_allergen %></a></li>
            </ul>
         </div>
      </div>
   
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-12">
               <div class="ms-panel">
                  <div class="ms-panel-header">
                     <h6><%= lingua.all_allergens %></h6>
                  </div>
                  <div class="ms-panel-body">
                     <div  class="table-responsive">
                        <table id="searchedAllergen" class="table table-hover thead-primary">
                           <% if (allergen.length > 0) { %>
                           <thead>
                              <tr>
                                 <th scope="col">Id</th>
                                 <th scope="col"><%= lingua.allergen_list_name %></th>
                                 <th scope="col"><%= lingua.allergen_list_status %></th>
                                 <th scope="col" ><%= lingua.allergen_list_operation %></th>
                              </tr>
                           </thead>
                           <div class="col-6">
                              <input type="text" name="search" id="search" placeholder="<%= lingua.search_allergen %>" class="category-search form-control" />
                              <hr>
                           </div>
                           <% for (let i = 0; i < allergen.length; i++) { %>
                           <tbody>
                              <th scope="row"><%= allergen[i].id %></th>
                              <td><%= allergen[i].AllergenTranslations[0].name %></td>
                              <td><span class="badge badge-success"><%= lingua.status_active %></span></td>
                              <td>
                                 <a href="/admin/edit-allergen/<%= allergen[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.button_edit %></a>
                              </td>
                           </tbody>
                           <% } %>
                           <% } else { %>
                           <h4><%= lingua.no_allergens %></h4>
                           <% } %>
                        </table>
                     </div>
                     <% if (allergen.length > 0) { %>
                     <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../includes/end.ejs') %>
</body>

