

<%- include('../includes/head.ejs') %>

<script>
$(document).ready(function() {
	$('#search').keyup(function() {
		const boxId = $('#search').val();
		$.get("get-filtered-box/" + boxId).done(function(data) {
			$("#searchedBox").html(data);
		});
	});
})
</script>

</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"><%= lingua.all_boxes %></a></li>
               <li role="presentation"><a class="add-variant" href="/admin/add-box"><%= lingua.create_box %></a></li>
            </ul>
         </div>
      </div>

    
    

      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-12">
               <div class="ms-panel">
                  <div class="ms-panel-header">
                     <h6> <%= lingua.all_boxes %></h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="table-responsive">
                        <% if (box.length > 0) { %>
                        <table id="searchedBox" class="table table-hover thead-primary">
                           <thead>
                              <tr>
                                 <th scope="col">Id</th>
                                 <th scope="col"><%= lingua.box_list_name %></th>
                                 <th scope="col"><%= lingua.box_list_price %></th>
                                 <th scope="col"><%= lingua.box_list_status %></th>
                                 <th scope="col" ><%= lingua.box_list_operation %></th>
                              </tr>
                           </thead>
                           <div class="col-6">
                              <input type="text" name="search" id="search" placeholder="<%= lingua.search_box %>" class="extra-search form-control" />
                           </div>
                           <hr>
                         
                           <% for (let i = 0; i < box.length; i++) { %>
                           <tbody>
                              <th scope="row"><%= box[i].id %></th>
                              <td><%= box[i].sku %></td>
                              <td><%= box[i].price %></td>
                              <td><span style="font-size: 14px !important" class="badge badge-success"><%= lingua.status_active %></span></td>
                              <td style="font-size: 14px !important">
                                 <a style="font-size: 14px !important" href="/admin/edit-box/<%= box[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.button_edit %></a>
                              </td>
                           </tbody>
                           
                           <% } %>
                           <% } else { %>
                              <h4><%= lingua.no_boxes %></h4>
                              <% } %>
                        </table>
                     </div>
                     <% if (box.length > 0) { %>
                     <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../includes/end.ejs') %>
</body>

