

<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
   $('#searchExtra').keyup(function() {
         const extraId = $('#searchExtra').val();
         $.get( "get-filtered-extra/"+ extraId )
      .done(function( data ) {
         $("#searchedExtra").html(data);
      });
   });
   })
</script>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"><%= lingua.all_extras %></a></li>
               <li role="presentation"><a class="add-variant" href="/admin/add-extra"><%= lingua.create_extra %></a></li>
            </ul>
         </div>
      </div>
     
      <% if ( checkAllergenLength.length < 3) { %>
      <script>
         $('.add-extra').click(function () {return false;});
      </script>
      <div class="alert alert-warning" role="alert">
         <i class="flaticon-alert-1"></i> <strong class="alert-message-popup"><%= lingua.extra_allergen_message %></strong >
      </div>
      <% } %>
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-12">
               <div class="ms-panel">
                  <div class="ms-panel-header">
                     <h6><%= lingua.extras %></h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="table-responsive">
                        <table id="searchedExtra" class="table table-hover thead-primary">
                           <% if (extra.length > 0) { %>
                           <thead>
                              <tr>
                                 <th scope="col">Id</th>
                                 <th scope="col"><%= lingua.extra_list_name %></th>
                                 <th scope="col"><%= lingua.extra_list_status %></th>
                                 <th scope="col"><%= lingua.extra_list_operation %></th>
                              </tr>
                           </thead>
                           <div class="col-6">
                              <input type="text" name="searchExtra" id="searchExtra" placeholder="<%= lingua.search_extra %>" class="form-control extra-search" />
                           </div>
                           <hr>
                           <% for (let i=0; i < extra.length; i++ ) { %>
                           <tbody>
                              <tr>
                                 <th scope="row"><%= extra[i].id %></th>
                                 <td><%= extra[i].ExtraTranslations[0].name %></td>
                                 <td><span class="badge badge-success"><%= lingua.status_active %></span></td>
                                 <td>
                                    <a href="/admin/edit-extra/<%= extra[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.button_edit %></a>
                                 </td>
                              </tr>
                           </tbody>
                           <% } %>
                           <% } else { %>
                           <h4><%= lingua.no_extras %></h4>
                           <% } %>
                        </table>
                     </div>
                     <% if (extra.length > 0) { %>
                     <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../includes/end.ejs') %>
</body>

