
<%- include('../includes/head.ejs') %>
    <script>
      $(document).ready(function () {
        $("#searchExtra").keyup(function () {
          const extraId = $("#searchExtra").val();
          $.get("get-filtered-extra/" + extraId).done(function (data) {
            $("#searchedExtra").html(data);
          });
        });
      });
    </script>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('../includes/nav.ejs') %> <%- include('../includes/aside.ejs')
      %>

      
      <div class="content-wrapper">
       
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Extra lista</h1>
              </div>
              
            </div>
          </div>
          
          <!-- /.container-fluid -->
        </section>
        
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row"></div>
            <!-- /.row -->
            
            <div class="row">
              
              <div class="col-12">
                <a href="/admin/add-extra">
                <button type="button" class="btn btn-block btn-outline-success">
                
                
                 
                    Extra létrehozása
                 
                  
                </button>
              </a>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div class="card-tools">
                      <div
                        class="input-group input-group-sm"
                        style="width: 150px;"
                      >
                        <input
                          type="text"
                          name="searchExtra" id="searchExtra"
                          class="form-control float-right"
                          placeholder="Keresés"
                        />

                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body table-responsive p-0">
                    <table id="searchedExtra" class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>ÁR</th>
                          <th>EXTRA NÉV</th>
                          <th>MÜVELET</th>
                        </tr>
                      </thead>
                      <% for (let i=0; i < extra.length; i++ ) { %>
                      <tbody>
                        <tr>
                          <td><%= extra[i].id %></td>
                          <td><%= extra[i].price %></td>
                          <td><%= extra[i].ExtraTranslations[0].name %></td>
                          <td>
                            <a class="btn btn-success btn-sm" href="/admin/edit-extra/<%= extra[i].id %>?edit=true">
                              <i class="fas fa-pencil-alt">
                              </i>
                              <%= lingua.button_edit %>
                          </a>
                          </td>
                         
                        </tr>
                      </tbody>
                      <% } %>
                    </table>
                  </div>
                  <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                      <% if (extra.length > 0) { %>
                        <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                        <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="main-footer">
        <div class="float-right d-none d-sm-block"><b>Version</b> 3.1.0</div>
        <strong
          >Copyright &copy; 2014-2021
          <a href="https://adminlte.io">AdminLTE.io</a>.</strong
        >
        All rights reserved.
      </footer>

      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/js/demo.js"></script>
  </body>
</html>
