

<%- include('../includes/head.ejs') %>

<script>
   $(document).ready(function() {
   $('#searchProperty').keyup(function() {
         const propertyId = $('#searchProperty').val();
         $.get( "get-filtered-property/"+ propertyId )
      .done(function( data ) {
         $("#searchedExtra").html(data);
      });
   });
   })
</script>


</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %> 
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Összes Prop </a></li>
               <li role="presentation"><a class="add-variant" href="/admin/add-property">Add Proeprty </a></li>
            </ul>
          
         </div>
      </div>
   
   
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-12">
               <div class="ms-panel">
                  <div class="ms-panel-header">
                     <h6> Extra List</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="table-responsive">
                        <table id="searchedExtra" class="table table-hover thead-primary">
                           <% if (property.length > 0) { %>
                           <thead>
                              <tr>
                                 <th scope="col">ID</th>
                                 <th scope="col"> name </th>
                                 <th scope="col">STATUS</th>
                                 <th scope="col" >EDIT</th>
                              </tr>
                           </thead>
                           <div class="col-6">
                              <input type="text" name="searchProperty" id="searchProperty" placeholder="Extra keresés" class="form-control extra-search" />
                           </div>
                           <hr>
                      
                           <% for (let i=0; i < property.length; i++ ) { %>
                           <tbody>
                              <tr>
                                 <th scope="row"><%= property[i].id %></th>
                                 <td><%= property[i].PropertyTranslations[0].name %></td>
                                 <td><span class="badge badge-success">AKTIV</span></td>
                                 <td>
                                    <a href="/admin/edit-property/<%= property[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.button_edit %></a>
                                 </td>
                              </tr>
                           </tbody>
                           <% } %>
                           <% } else { %>
                           <h4>nincs property</h4>
                           <% } %>
                           
                        </table>
                     </div>
                     <% if (property.length > 0) { %>

                     <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                     <% } %>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../includes/end.ejs') %>
</body>

