


<%- include('../includes/head.ejs') %>
<script>
   $(document).ready(function() {
   
      $('#searchVariant').keyup(function() {
         const variantId = $('#searchVariant').val();
         $.get( "get-filtered-variant/"+ variantId )
   
      .done(function( data ) {
   
         $("#searchedVariant").html(data);
         
      });
   });
   
   
   
   })
   
   
</script>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <%- include('../includes/nav.ejs') %> <%- include('../includes/aside.ejs')
  %>

  
  <div class="content-wrapper">
   
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Variáns lista</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row"></div>
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"></h3>

                <div class="card-tools">
                  <div
                    class="input-group input-group-sm"
                    style="width: 150px;"
                  >
                    <input
                      type="text"
                      name="searchVariant" id="searchVariant"
                      class="form-control float-right"
                      placeholder="Keresés"
                    />

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body table-responsive p-0">
                <table id="searchedVariant" class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>VARIÁNS NÉV</th>
                      <th>MÜVELET</th>
                    </tr>
                  </thead>
                  <% for (let variant of vr) { %>
                  <tbody>
                    <tr>
                      <td><%= variant.id %></td>
                      <td><%= variant.sku %></td>
                      <td>
                        <a class="btn btn-success  btn-sm" href="/admin/edit-variant/<%= variant.id %>?edit=true">
                          <i class="fas fa-pencil-alt">
                          </i>
                          <%= lingua.button_edit %>
                      </a>
                      </td>
                     
                    </tr>
                  </tbody>
                  <% } %>
                </table>
              </div>
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <% if (vr.length > 0) { %>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                    <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block"><b>Version</b> 3.1.0</div>
    <strong
      >Copyright &copy; 2014-2021
      <a href="https://adminlte.io">AdminLTE.io</a>.</strong
    >
    All rights reserved.
  </footer>

  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/demo.js"></script>
</body>
</html>
