<%- include('../includes/head.ejs') %>
<%- include('../includes/input-validation/edit-daily-menu.ejs') %>

</head>

<body>
    <div class="dashboard-main-wrapper">
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/menu.ejs') %>
      <form 
         id="edit-daily-menu"
         class="ms-content-wrapper" 
         action="/super-admin/<% if (editing) { %>edit-daily-menu<% } %>"
         method="POST"
         enctype="multipart/form-data">

         <% if (editing) { %>
            <input
               type="hidden"
               value="<%= dailyMenuId %>"
               name="dailyMenuId" />
        <% } %>
              
               <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="basicform">
                                        <h3 class="section-title">Napi Menü szerkesztése</h3>
                                    </div>
                                    <div class="card">                      
                                        <div class="card-body">

                                                 <div class="form-group">
                                                   <label class="col-form-label">Napi menü <strong>Id</strong></label>
                                                   <input name="id" type="text" class="form-control" disabled value="<% if (editing) { %><%= dailyMenu[0].id %><% } %>">
                                                 </div>

                                                 <div class="form-group">
                                                    <label class="col-form-label">Partner <strong>Id</strong></label>
                                                    <input name="restaurantId" type="text" class="form-control" disabled value="<% if (editing) { %><%= dailyMenu[0].restaurantId %><% } %>">
                                                  </div>

                                                <div class="form-group">
                                                    <label class="col-form-label">Napi menü <strong>román</strong> neve</label>
                                                   <input name="dailyMenuDescriptionRoView" id="dailyMenuDescriptionRoView" type="text" class="form-control" value="<% if (editing) { %><%= dailyMenuDescriptionRoView %><% } %>">
                                                   <span class="check-input error_form intro" id="dailyMenuDescriptionRoView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Napi menü <strong>magyar</strong> neve</label>
                                                   <input name="dailyMenuDescriptionHuView" id="dailyMenuDescriptionHuView" type="text" class="form-control" value="<% if (editing) { %><%= dailyMenuDescriptionHuView %><% } %>">
                                                   <span class="check-input error_form intro" id="dailyMenuDescriptionHuView_error_message"></span>
                                                </div>

                                                <div class="form-group">
                                                   <label class="col-form-label">Napi menü <strong>angol</strong> neve</label>
                                                   <input name="dailyMenuDescriptionEnView" id="dailyMenuDescriptionEnView" type="text" class="form-control" value="<% if (editing) { %><%= dailyMenuDescriptionEnView %><% } %>">
                                                   <span class="check-input error_form intro" id="dailyMenuDescriptionEnView_error_message"></span>
                                                </div> 
                                        </div>
                                    </div>
                                    <button type="submit" id="daily-menu-btn" class="btn btn-success has-icon" ><% if (editing) { %>Napi menü frissítése<% } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </body>
</html>

<%- include('../includes/end.ejs') %>


