<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/box.ejs') %>


</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
     
      <form 
         id="createBox_form"
         class="ms-content-wrapper" 
         action="/admin/<% if (editing) { %>edit-box<% } else { %>add-box<% } %>"
         method="POST"
         enctype="multipart/form-data">
         <div class="row">
            <div class="col-xl-6 col-md-12">
               <div class="ms-panel ms-panel-fh">
                  <div class="ms-panel-header">
                     <h6>Add Product Form</h6>
                  </div>
                  <div class="ms-panel-body">
                     <div class="form-row">
                       
                        <div class="col-md-12 mb-3">
                            <label for="price"><%= lingua.box_price %></label>
                            <div class="input-group">
                               <input
                                  class="form-control"
                                  type="text"
                                  name="price"
                                  autocomplete="off"
                                  id="price"
                                  value="<% if (editing) { %><%= cat[0].price %><% } %>">
                            </div>
                            <span class="error_form" id="price_error_message"></span>
                         </div>

                        <div class="col-md-12 mb-3">
                           <label for="roName"><%= lingua.box_name_ro %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 autocomplete="off"
                                 name="roName"
                                 id="roName"
                                 value="<% if (editing) { %><%= cat[0].BoxTranslations[0].name %><% } %>">
                           </div>
                           <span class="error_form" id="roName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="huName"><%= lingua.box_name_hu %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 autocomplete="off"
                                 name="huName"
                                 id="huName"
                                 value="<% if (editing) { %><%= cat[0].BoxTranslations[1].name %><% } %>">
                           </div>
                           <span class="error_form" id="huName_error_message"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                           <label for="enName"><%= lingua.box_name_en %></label>
                           <div class="input-group">
                              <input
                                 class="form-control"
                                 type="text"
                                 autocomplete="off"
                                 name="enName"
                                 id="enName"
                                 value="<% if (editing) { %><%= cat[0].BoxTranslations[2].name %><% } %>">
                           </div>
                           <span class="error_form" id="enName_error_message"></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-12">
               <div class="row">
                  <div class="col-md-12">
                     <div class="ms-panel">
                        <div class="ms-panel-header">
                           <h6>Product</h6>
                        </div>
                        <% if (editing) { %>
                        <input type="hidden" value="<%= boxId %>" name="boxId">
                        <%for (let i = 0; i < boxTranslations.length; i++){%>
                        <input type="hidden" value="<%= boxTranslations[i].id %>" name="boxTranslationsId">
                        <%}%>
                        <% } %>
                        <button type="submit" id="createBox" class="btn btn-success has-icon" ><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </form>
   </main>
   <%- include('../includes/end.ejs') %>
</body>