

<%- include('../includes/head.ejs') %>
<%- include('../jQuery-validation/allergen.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>



      <div class="col-12">
        <div class="ms-panel">
          <div class="ms-panel-header">
            <h6>Szállítási címek</h6>
          </div>
          <div class="ms-panel-body">

            <div class="table-responsive">
              <table class="table table-hover thead-primary">
                <thead>
                  <tr>
                    
                    <th scope="col">Helység</th>
                    <th scope="col">Szállítás</th>
                    <th scope="col">Minimális rendelés</th>
                    <th scope="col">Szállítási ár</th>
                    <th scope="col">Ingyenes szállítás</th>
                   
                  </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < price.length; i++) { %>
                      
                        <% for (let j = 0; j < price[i].DeliveryPrices.length; j++) { %>
                  <tr>
                    <td><%= price[i].LocationNameTranslations[1].name %></td>
                    <% if (price[i].DeliveryPrices[j].deliveryPrice == 0) { %> <td><span class="badge badge-primary">Nincs szállítás</span></td> <% } else { %><td><span class="badge badge-success">Szállítás</span></td> <% } %>
                    <td><%= price[i].DeliveryPrices[j].minimumOrder %></td>
                      <td><%= price[i].DeliveryPrices[j].deliveryPrice %></td>
                      <td><%= price[i].DeliveryPrices[j].freeDelivery %></td>
                     
                  </tr>
                  <% } %>
                  <% } %>
                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

   </main>
</body>