<%- include('../includes/head.ejs') %>
</head>

<body>
    <div class="dashboard-main-wrapper">
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/menu.ejs') %>
      <form 
         id="registration_form"
         class="ms-content-wrapper" 
         action="/super-admin/<% if (editing) { %>edit-partner<% } %>"
         method="POST"
         enctype="multipart/form-data">

         <% if (editing) { %>
            <input
               type="hidden"
               value="<%= partnerId %>"
               name="partnerId" />
        <% } %>
              
               <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="basicform">
                                        <h3 class="section-title">Partner szerkesztése</h3>
                                    </div>
                                    <div class="card">                      
                                        <div class="card-body">

                                                 <div class="form-group">
                                                   <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>ID</strong></label>
                                                   <input id="inputText3" name="roName" type="text" class="form-control" disabled value="<% if (editing) { %><%= partners[0].id %><% } %>">
                                                 </div>

                                                <div class="form-group">
                                                   <label for="inputText3" class="col-form-label">Név</label>
                                                   <input id="inputText3" name="fullName" type="text" class="form-control" value="<% if (editing) { %><%= partners[0].fullName %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                   <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>telefonszáma</strong></label>
                                                   <input id="inputText3" name="phoneNumber" type="text" class="form-control" value="<% if (editing) { %><%= partners[0].phoneNumber %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                   <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>e-mail címe</strong></label>
                                                   <input id="inputText3" name="email" type="text" class="form-control" value="<% if (editing) { %><%= partners[0].email %><% } %>">
                                                </div>   
                                                
                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>jutaléka</strong></label>
                                                    <input id="inputText3" name="commission" type="text" class="form-control" value="<% if (editing) { %><%= partners[0].commission %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>nyitási idő</strong></label>
                                                    <input id="inputText3" name="open" type="text" class="form-control" value="<% if (editing) { %><%= partners[0].open %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>zárási idő</strong></label>
                                                    <input id="inputText3" name="close" type="text" class="form-control" value="<% if (editing) { %><%= partners[0].close %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> rövid <strong>angol</strong> bemutatkozása</label>
                                                    <textarea
                                                        name="partnerShortDescRoView"
                                                        type="text"
                                                        class="form-control">
                                                        <% if (editing || hasError) { %><%= partnerShortDescRoView %><% } %></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> rövid <strong>angol</strong> bemutatkozása</label>
                                                    <textarea                            
                                                        name="partnerShortDescHuView"
                                                        type="text"
                                                        class="form-control">
                                                        <% if (editing || hasError) { %><%= partnerShortDescHuView %><% } %></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> rövid <strong>angol</strong> bemutatkozása</label>
                                                    <textarea                                                        
                                                        name="partnerShortDescEnView"
                                                        type="text"
                                                        class="form-control test">
                                                        <% if (editing || hasError) { %><%= partnerShortDescEnView %><% } %></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>román</strong> címe</label>
                                                    <input id="inputText3" name="addressRo" type="text" class="form-control" value="<% if (editing) { %><%= partnerAdressRoView %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>magyar</strong> címe</label>
                                                    <input id="inputText3" name="addressHu" type="text" class="form-control" value="<% if (editing) { %><%= partnerAdressHuView %><% } %>">
                                                </div>

                                                <div class="form-group">
                                                    <label for="inputText3" class="col-form-label"><%= partners[0].fullName %> <strong>angol</strong> címe</label>
                                                    <input id="inputText3" name="addressEn" type="text" class="form-control" value="<% if (editing) { %><%= partnerAdressEnView %><% } %>">
                                                </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="extra-btn" class="btn btn-success has-icon" ><% if (editing) { %>Partner adatok frissítése<% } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </body>
</html>

<%- include('../includes/end.ejs') %>


