<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
   <%- include('../includes/navigation.ejs') %>
   <main class="body-content">
      <%- include('../includes/navigation-bar.ejs') %>
      <div class="ms-content-wrapper">
         <div class="ms-profile-overview no-img-var">
            <ul class="ms-profile-navigation nav nav-tabs tabs-bordered" role="tablist">
               <li role="presentation"><a href="#" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Index </a></li>
               <li role="presentation"><a class="add-product" href="/admin/add-product">Add Product </a></li>
              
            </ul>
            <div class="tab-content">
               <div class="tab-pane" id="tab1">
               </div>
               <div class="tab-pane" id="tab2">
               </div>
               <div class="tab-pane" id="tab3">
               </div>
            </div>
         </div>
      </div>
      <% if ( checkVariantLength.length <2) { %>
         <script>
            $('.add-product').click(function () {return false;});
         </script>
    <div class="alert alert-danger" role="alert">
      <i class="flaticon-alert-1"></i> <strong class="alert-message-popup">Oh snap! eloszor varians kell legyen addig nem lehet termeket feltolteni</strong>
    </div>
   <% } %>
   <% if ( checkBoxLength.length === 0) { %>
      <script>
            $('.add-product').click(function () {return false;});
         </script>
      <div class="alert alert-danger" role="alert">
         <i class="flaticon-alert-1"></i> <strong class="alert-message-popup">Oh snap! eloszor box kell legyen addig nem lehet termeket feltolteni</strong>
      </div>
   <% } %>
      <div class="ms-content-wrapper">
         <div class="row">
            <div class="col-md-12">
               <div class="ms-panel">
                  <div class="ms-panel-header ms-panel-header-updated">
                     <h6>Default Validation</h6>
                  </div>
                  <form action="/admin/search" class="search-form">
                     <div class="ms-panel-body">
                        <div class="form-row">
                           <div class="col-md-6 upd mb-3 ">
                              <label for="validationCustom03">City</label>
                              <div class="input-group">
                                 <input type="search" class="form-control" placeholder="Name" name="term">
                              </div>
                           </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit form</button>
                  </form>
                  </div>
               </div>
               <% if (prods.length > 0) { %>
               <div class="row">
                  <% for (let i =0; i < prods.length; i++) { %>
                     <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="ms-card">
                          <div class="ms-card-img">
                           <img src="/<%= prods[i].productImagePath %>" alt="<%= prods.title %>">
                          </div>
                          <div class="ms-card-body">
      
                            <div class="new">
                              <h6 class="mb-0 product-title-size"><%= currentProductName[i] %></h6>
                              <h6 class="ms-text-primary mb-0"><%= prods[i].productFinals[0].price %> lej</h6>
                            </div>
                            <div class="new meta">
                              <p class="product-description-size">Id: <%= prods[i].id %></p>
                              <span class="badge badge-success">Aktiv</span>
                            </div>
                            <p class="product-description-size"><%= currentProductDescription[i].substring(0,60) + "..." %></p>
                            <div class="new mb-0">
                              <form action="/admin/delete-product" method="POST">
                                 <input type="hidden" value="<%= prods[i].id %>" name="productId">
                                 <button class="btn grid-btn mt-0 btn-sm btn-primary" type="submit"><%= lingua.product_action_delete %></button>
                              </form>
                              <a href="/admin/edit-product/<%= prods[i].id %>?edit=true"class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.product_action_edit %></a>
                           </div>
                          </div>
                        </div>
                      </div>
            
                  <% } %>
               </div>
            </div>
         </div>
         <% } else { %>
         <h1>No Productdasdsaass Found!</h1>
         <% } %>

      
      </div>
   </main>
   
   <%- include('../includes/end.ejs')
      %>
</body>