<%- include('../includes/head.ejs') %>
</head>
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
  <%- include('../includes/preloader.ejs') %> <%-
  include('../includes/navigation.ejs') %> <%-
  include('../includes/sidebar-right.ejs') %>

  <main class="body-content">   
    <div class="ms-content-wrapper">
        <div class="row">
          <div class="col-md-12">
            <nav aria-label="breadcrumb" class="new">
              <ol class="breadcrumb pl-0">
                <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                
              </ol>
            </nav>
            
            <div class="col-12">
                <div class="ms-panel">
                  <div class="ms-panel-header">
                    <h6> Order List</h6>
                  </div>
                  <div class="ms-panel-body">
    
                    <div class="table-responsive">
                      <table class="table table-hover thead-primary">
                        <thead>
                          <tr>
                            
                            <th scope="col"><%= lingua.order_page_list_order_name %></th>
                            <th scope="col"><%= lingua.order_page_list_order_adress %></th>
                            <th scope="col"><%= lingua.order_page_list_order_product %></th>
                              
                                <th scope="col"><%= lingua.order_page_list_order_pay %></th>
                                <th scope="col"><%= lingua.order_page_list_order_status %></th>
                                <th scope="col"><%= lingua.order_page_list_order_total_price %></th>
                                <th scope="col"><%= lingua.order_page_list_order_total_action %></th>
                          </tr>
                        </thead>
                        <% if (cp.length > 0) { %>
                        <tbody>
                            <% for (let orders of cp) { %>
                          <tr>
                          
                            <td> <%= orders.name %></td>
                            <td> Jhon Leo</td>
                              <td><%= orders.discount %></td>
                           
                              <td><%= orders.discount %></td>
                              <td><span class="badge badge-primary">Pending</span></td>
                                <td>$10</td>
                                <a href="/admin/edit-order/<%= orders._id %>?edit=true" class="btn grid-btn mt-0 btn-sm btn-secondary" ><%= lingua.product_action_edit %></a>

                          </tr>
                          
                        
                          <% } %>
                        </tbody>
                         <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  </main>
<%- include('../includes/end.ejs')
  %>
</body>