<%- include('../includes/head.ejs') %>
<%- include('../includes/input-validation/edit-location.ejs') %>

</head>

<body>
    <div class="dashboard-main-wrapper">
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/menu.ejs') %>
      <form 
         id="edit-location"
         class="ms-content-wrapper" 
         action="/super-admin/<% if (editing) { %>edit-location<% } else { %>add-location<% } %>"
         method="POST"
         enctype="multipart/form-data">

         <% if (editing) { %>
            <input
               type="hidden"
               value="<%= locationId %>"
               name="locationId" />
        <% } %>
              
               <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="basicform">
                                        <h3 class="section-title"><% if (editing) { %>Város frissítése<% } else { %>Város létrehozása<% } %></h3>
                                    </div>
                                    <div class="card">                      
                                        <div class="card-body">
                                                <div class="form-group">
                                                    <label class="col-form-label">Város <strong>román</strong> neve</label>
                                                    <input id="roName" name="roName" type="text" class="form-control" value="<% if (editing) { %><%= location[0].adminLocationTranslations[0].name %><% } %>">
                                                    <span class="check-input error_form intro" id="roName_error_message"></span>
                                                </div>
                                                <div class="form-group">
                                                  <label class="col-form-label">Város <strong>magyar</strong> neve</label>
                                                  <input id="huName" name="huName" type="text" class="form-control" value="<% if (editing) { %><%= location[0].adminLocationTranslations[1].name %><% } %>">
                                                  <span class="check-input error_form intro" id="huName_error_message"></span>
                                              </div>
                                              <div class="form-group">
                                                <label class="col-form-label">Város <strong>angol</strong> neve</label>
                                                <input id="enName" name="enName" type="text" class="form-control" value="<% if (editing) { %><%= location[0].adminLocationTranslations[2].name %><% } %>">
                                                <span class="check-input error_form intro" id="enName_error_message"></span>
                                            </div>                                           
                                        </div>
                                    </div>
                                    <button type="submit" id="location-btn" class="btn btn-success has-icon" ><% if (editing) { %>Város frissítése<% } else { %>Város létrehozása<% } %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </body>
</html>

<%- include('../includes/end.ejs') %>


